
<form class="form-details col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 marginbtm" id="stimulus-form" name="stimulus-form"  method="POST" action="<?php echo Mage::getBaseUrl() . 'wys/index/saveForm' ?>" enctype="multipart/form-data" class="form-details col-xs-12 col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3 marginbtm">
    <h2 class="text-center">SUBMIT YOUR ENTRIES</h2>
    <p class="text-center">*Fields are mandatory. Must upload and share the video submissions on atleast 2 of your social handles</p>
    <div id="error-msg"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrgnbtm">
        <input type="text" name="name" id="name" value="" placeholder="Name *" maxlength="500" class="input-text required-entry">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrgnbtm">
        <input type="text" name="emailid" id="emailid" value="" placeholder="Email Address *" maxlength="500" class="input-text required-entry validate-email">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrgnbtm">
        <input type="text" name="phone" id="phone" value="" placeholder="Phone Number *" onkeypress="return isNumber(event)" maxlength="10"  class="input-text required-entry">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrgnbtm">
        <input type="text" name="city" id="city" value="" placeholder="City *"  maxlength="500" class="input-text required-entry">
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrgnbtm">
        <input type="text" name="instagramURL" id="instagramURL" value="" placeholder="Instagram post URL" maxlength="1000" class="validate-url">
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrgnbtm">
        <input type="text" name="facebookURL" id="facebookURL" value="" placeholder="Facebook post URL" maxlength="1000" class="validate-url">
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrgnbtm">
        <input type="text" name="tiktokURL" id="tiktokURL" value="" placeholder="TikTok post URL" maxlength="1000" class="validate-url">
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mrgnbtm">
        <input type="text" name="youtubeURL" id="youtubeURL" value="" placeholder="Youtube post URL" maxlength="1000" class="validate-url">
    </div>
    </div>
    <div style="clear: both"></div>
    <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 radio-btn">
        
        <input type="radio" checked/>
        <span>I agree to Paragon's <a href="https://www.paragonfootwear.com/wyscontesttnc" target="_blank">Terms & Conditions*</a> </span>
        
    </span>
    <span class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-left no-padding sub-btn">
        <button type="button" id="stimulus_otp_send">SUBMIT &amp; PROCEED</button>
        
    </span>
    <span class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-left no-padding sub-btn">
        <button type="submit" id="stimulus_submit" style="display:none">SUBMIT &amp; PROCEED</button>
    </span>
    <input type="hidden" name="is_set_otp" id="is_set_otp" value="0" maxlength="1">
    <div style="clear:both"></div>
    <p class="text-center enq">Write to <a href="mailto:wys@paragonfootwear.com">wys@paragonfootwear.com</a> for any queries</div>
    
</form>


<form id="otp-verify-form" name="otp-verify-form"  method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="otpModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content text-center">
                <div class="modal-header">
                    
                    <h3 class="modal-title">ENTER ONE TIME PASSWORD (OTP)</h3>
                </div>
                <div class="modal-body">
                    <p>One time Password (OTP) has been sent to your mobile <span id="mobileNum"></span>. Please enter the same to continue.</p>
                    <div id="error-msg-otp"></div>
                        <input type="text" name="txtotp" id="txtotp" value="" maxlength="6"><br/>
                    <button type="button" id="stimulus_otp_resend" class="red-btn">RESEND OTP</button>
                    <button type="button" id="stimulus_otp_verify" class="red-btn">VERIFY & PROCEED</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">X Close</button>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="modal fade" id="successModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content text-center">
                <div class="modal-header">
                    
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <p>Thank you for your time, effort and Stimulus!</p>
                    <p>We’ll keep you posted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">X Close</button>
                </div>
            </div>

        </div>
</div>




<script type="text/javascript">
    jQuery('#stimulus_otp_send').click(function () {
        var name = jQuery('#name').val();
        var phone = jQuery('#phone').val();
        var emailid = jQuery('#emailid').val();
        var city = jQuery('#city').val();
        var instagramURL = jQuery('#instagramURL').val();
        var facebookURL = jQuery('#facebookURL').val();
        var tiktokURL = jQuery('#tiktokURL').val();
        var youtubeURL = jQuery('#youtubeURL').val();
        var countURLs = 0;
        var customForm = new VarienForm('stimulus-form', true);
        
        
        if(instagramURL != ''){
            countURLs++;
        }
        if(facebookURL != ''){
            countURLs++;
        }
        if(tiktokURL != ''){
            countURLs++;
        }
        if(youtubeURL != ''){
            countURLs++;
        }
        
        if (customForm.validator && customForm.validator.validate())
        {
        //alert(isEmail(email));
        /*if (name == '') {
            jQuery('#error-msg').html('<span class="error">Name can not be blank</span>');
            return false;
        } else if (emailid == '' || !isEmail(emailid)) {
            jQuery('#error-msg').html('<span class="error">Invalid email address</span>');
            return false;
        } else */if (phone == '' || !phonenumber(phone)) {
            jQuery('#error-msg').html('<span class="error">Invalid phone number</span>').show();
            return false;
        } /*else if (city == '') {
            jQuery('#error-msg').html('<span class="error">City can not be blank</span>');
            return false;
        } else if (instagramURL != '' && !isValidUrl(instagramURL)) {
            jQuery('#error-msg').html('<span class="error">Invalid Instagram Post URL</span>');
            return false;
        } else if (facebookURL != '' && !isValidUrl(facebookURL)) {
            jQuery('#error-msg').html('<span class="error">Invalid Facebook Post URL</span>');
            return false;
        } else if (tiktokURL != '' && !isValidUrl(tiktokURL)) {
            jQuery('#error-msg').html('<span class="error">Invalid TikTok Post URL</span>');
            return false;
        } else if (youtubeURL != '' && !isValidUrl(youtubeURL)) {
            jQuery('#error-msg').html('<span class="error">Invalid Youtube Post URL</span>');
            return false;
        }*/ else if (countURLs<2) {
            jQuery('#error-msg').show();
            jQuery('#error-msg').html('<span class="error">URLs of atleast two social handles are mandatory</span>');
            return false;
        } else {
            
            var BASE_URL = '<?php echo Mage::getUrl('wys/index/getContestDetails'); ?>';
            var contestStatus = 1;
            var phone = jQuery('#phone').val();
            
            
            /****start Check mobile number already registered for contest****/
            jQuery.ajax({
                type: 'post',
                url: BASE_URL,
                data: {phone: phone},
                dataType: 'html',
                //contentType: "application/json",
                //async:false,
                success: function (data) {
                    data = JSON.parse(data);
                    if (data.status == 0) {
                        //duplicate contestant
                        //jQuery('#error-msg').show();
                        jQuery('#error-msg').html('<span class="error">' + data.message + '</span>').show();
                        jQuery('#error-msg').delay(5000).fadeOut("slow");
                    } else {
                        //not a duplicate contestant
                        /****start otp send****/
                        var BASE_URL = '<?php echo Mage::getUrl('otp/index/OtpsmsStimulus'); ?>';
                        var phone = jQuery('#phone').val();

                        jQuery.ajax({
                            type: 'post',
                            url: BASE_URL,
                            data: {customerNum: phone},
                            dataType: 'html',
                            async:false,
                            success: function (data) {
                                if (data == 'send') {
                                    jQuery('#error-msg').html('<span class="success">OTP has been sent to your mobile number</span>').show();
                                    jQuery('#mobileNum').html(jQuery('#phone').val())
                                    jQuery('#otpModal').modal('show');
                                    setTimeout(function (){
                                        jQuery('#txtotp').focus();
                                    }, 1000);

                                } else {
                                    jQuery('#error-msg').show();
                                    jQuery('#error-msg').html('<span class="error">Invalid OTP</span>');
                                }
                            }
                        });
                        /****start otp send****/
                        
                    }
                }
            });
            /****end Check mobile number already registered for contest****/
            }//else end
        }//validator end
    });
    
    jQuery('#stimulus_otp_verify').click(function () {
        var txtotp = jQuery('#txtotp').val();
        var BASE_URL = '<?php echo Mage::getUrl('otp/index/varify'); ?>';
        
        if (txtotp == '') {
            jQuery('#error-msg-otp').html('<span class="error">Invalid OTP</span>');
            return false;
        }else{ 
            jQuery.ajax({
                    type: 'post',
                    url: BASE_URL,
                    data: {otpSend: txtotp},
                    dataType: 'html',
                    success: function (data) {
                        if (data == 'Proceed to Place order') {
                            jQuery('#stimulus_otp_send').hide();
                            jQuery('#stimulus_submit').show();
                            jQuery('#stimulus_submit').click();
                            jQuery('#error-msg').html('');
                            jQuery('#otpModal').modal('hide');

                        } else {
                            jQuery('#error-msg-otp').html('<span class="error">' + data + '</span>');
                        }
                    }
            });
        }
    });
    
    jQuery('#stimulus_otp_resend').click(function () {
       
        var BASE_URL = '<?php echo Mage::getUrl('otp/index/OtpsmsStimulus'); ?>';
        var phone = jQuery('#phone').val();

        jQuery.ajax({
            type: 'post',
            url: BASE_URL,
            data: {customerNum: phone},
            dataType: 'json',
            success: function (data) {
                if (data == 'send') {
                    jQuery('#error-msg-otp').html('<span class="success">OTP has been re-sent to your mobile number</span>');
                    jQuery('#otpModal').modal('show');

                } else {
                    jQuery('#error-msg-otp').html('<span class="error">Invalid OTP</span>');
                }
            }
        });
        
    });

    jQuery('#stimulus-form').submit(function (e) {
        e.preventDefault();

        var customForm = new VarienForm('stimulus-form', true);
        var BASE_URL = '<?php echo Mage::getUrl('wys/index/saveForm'); ?>';
        var data = jQuery('#stimulus-form').serialize();
        if (customForm.validator && customForm.validator.validate())
        {

            jQuery.ajax({
                type: 'post',
                url: BASE_URL,
                data: data,
                dataType: 'json',
                success: function (data) {
                    //console.log(data);
                    if (data.status == 1) {
//                        jQuery('#error-msg').html('<span class="success">' + data.message + '</span>');
//                        jQuery('#error-msg').delay(5000).fadeOut("slow");
                        jQuery('#otpModal').modal('hide');
                        jQuery('#successModal').modal('show');
                        jQuery('#stimulus-form').trigger("reset");
                        jQuery('#stimulus_otp_send').show();
                        jQuery('#stimulus_submit').hide();
                        //jQuery('#error-msg').focus();
                        jQuery('#txtotp').val('');
                    } else {
                        jQuery('#error-msg').html('<span class="error">' + data.message + '</span>');
                        jQuery('#error-msg').delay(5000).fadeOut("slow");
                    }
                }
            });
        }

    });

</script>

<script type="text/javascript">
    function phonenumber(inputtxt)
    {
        var phoneno = /^[6789]\d{9}$/;//alert(inputtxt+'--'+phoneno);
        if (inputtxt.match(phoneno)) {
            return true;
        } else {
            return false;
        }
    }
    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (regex.test(email)) {
            return true;
        } else {
            return false;
        }
    }
    function isValidUrl(url)
    {
        var regex = /^(http|https|ftp):\/\/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/i;
        if (regex.test(url)) {
            return true;
        } else {
            return false;
        }
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
