<form  id="contact_us" name="contact_us" class="partner-form-validate" method="POST" action="<?php echo Mage::helper("adminhtml")
->getUrl('deliverypincodes/adminhtml_deliverypincodes/save')?>" enctype="multipart/form-data">

 <label for="website" >Attach Pincode CSV<em>*</em></label>
          <div class="input-box">
            <input type="file" name="filename" value="" id="filename" class="input-text required-entry" title="file" maxlength="10" tabindex="9">
          </div>
          <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey()?>" />
 <input type="submit" id="submit_contact" value="Submit" class="btn btn-primary">
</form>