<?php
/**
 * Star Plugins Cloud Zoom - Magento Extension
 * @package     StarPlugins_CloudZoom
 * @category    StarPlugins
 * @copyright   Copyright 2013 Star Plugins. (http://www.starplugins.com)
 * @version:    1.0
 */
function get_youtube_id_from_url($url)
{
    if (stristr($url,'youtu.be/'))
        {preg_match('/(https:|http:|)(\/\/www\.|\/\/|)(.*?)\/(.{11})/i', $url, $final_ID); return $final_ID[4]; }
    else 
        {@preg_match('/(https:|http:|):(\/\/www\.|\/\/|)(.*?)\/(embed\/|watch.*?v=|)([a-z_A-Z0-9\-]{11})/i', $url, $IDD); return $IDD[5]; }
}
$product      = $this->getProduct();
$helper       = Mage::helper('starplugins_cloudzoom');
$outputHelper = $this->helper('catalog/output');
$productId = $this->getProduct()->getId();
if(Mage::getSingleton('customer/session')->isLoggedIn()) {
$customerId = Mage::getSingleton('customer/session')->getCustomerId();

$wishlist = Mage::getModel('wishlist/wishlist')->loadByCustomer($customerId, true);
$collection = Mage::getModel('wishlist/item')->getCollection()
    ->addFieldToFilter('wishlist_id', $wishlist->getId())
    ->addFieldToFilter('product_id', $productId);
$item = $collection->getFirstItem();
 $hasProduct = (bool) $collection->count(); 
 $selected ='';
 if($hasProduct!='')
 {
     $selected="selected";
 }
}
function under2camel($str) {
    $regexp = '#_(.)#e';
    return preg_replace($regexp, "strtoupper('\\1')", $str);
}

$configVariables = array(
    "tint_color",
    "tint_opacity",
    "animation_time",
    "zoom_position",
    "zoom_offset_x",
    "zoom_offset_y",
    "zoom_fly_out",
    "zoom_size_mode",
    "caption_position",
    "variable_magnification",
    "start_magnification",
    "min_magnification",
    "max_magnification",
    "easing",
    "auto_inside"
    
);

// Convert config to a JS object.
$jsData = "{";
foreach($configVariables as $var) {
    $value = $helper->getConfigData($var);
    if(!is_numeric($value)) $value = "\"".$value."\"";
    $jsData.= under2camel($var).": $value, ";
}
$jsData = rtrim($jsData, ', ')."}";


?>

<?php
    // Include Fancy Box files if required.
    if ($helper->getConfigData("use_fancybox")) {
        echo '<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.css"/>';
        echo '<script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>';
    }

if(Mage::getSingleton('customer/session')->isLoggedIn()) {
     $customerData = Mage::getSingleton('customer/session')->getCustomer();
     ?>
     <Input type="hidden" name="customerid"  id="customerid" value="<?php  echo $customerData->getId();?>">
     <?php
      }
      else
      {
          ?>
    <Input type="hidden" name="customerid"  id="customerid" value="">   
<?php   
      }
  //  $_helper = $this->helper('catalog/output');
?>
<style>
/*.modal {
    padding: 30px;
    left: 50%;
    top: 50%;   
    position: fixed;
    z-index: 500;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}*/

.modal.size-m {
    width: 600px;
    height: 400px;
}

.modal.size-l {
    width: 700px;
    height: 500px;
}

.modal.size-s {
    width: 500px;
    height: 300px;
}

.modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 100;
}

.modal-close {
    color: #b1b0ac;
    font-size: 30px;
    line-height: .5;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover {
    color: #e72626;
}
</style>

<script type="text/javascript">
     //<![CDATA[
    // Setup Fancy Box click detection if required.
    jQuery(function(){
        if (jQuery.fancybox != undefined) {
            jQuery('.cloudzoom').bind('mouseover',function(){
                var cloudZoom = sp_jQuery(this).data('CloudZoom');   // On click, get the Cloud Zoom object,
                cloudZoom.closeZoom();                       // Close the zoom window (from 2.1 rev 1211291557)
                jQuery.fancybox.open(cloudZoom.getGalleryList()); // and pass Cloud Zoom's image list to Fancy Box.
                return false;
            });
        }
    }); 
    //sp_jQuery.extend(sp_jQuery.fn.CloudZoom.defaults,<?php echo $jsData;?>);
    CloudZoom.quickStart();
    
    //]]>
</script>


<?php 
$bigImageWidth = $helper->getConfigData("big_image_width");
$bigImageHeight = $helper->getConfigData("big_image_height");
$smallImageWidth = $helper->getConfigData("small_image_width");
$smallImageHeight = $helper->getConfigData("small_image_height");
$zoomWidth = $helper->getConfigData("zoom_width");
$zoomHeight = $helper->getConfigData("zoom_height");

echo "<style type='text/css'>.cloudzoom-zoom {width:{$zoomWidth}px; height: {$zoomHeight}px;}</style>";

if ($product->getImage() != 'no_selection' && $product->getImage()): ?>
<p class="product-image hide-mob">
    <?php $zPath = $this->helper('catalog/image')->init($product, 'image')->resize($bigImageWidth, $bigImageHeight);?>
    <a href='<?php echo $zPath; ?>' id='zoom1' >
        <img class="cloudzoom" src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize($smallImageWidth, $smallImageHeight);?>" 
             alt='' data-cloudzoom ="" 
             title="<?php echo $this->htmlEscape($this->getImageLabel());?>" />
    </a>
</p>
<?php else: ?>
<p class="product-image hide-mob">
    <?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($product, 'image')->resize($smallImageWidth).'" 
            alt="'.$this->htmlEscape($this->getImageLabel()).'" 
                title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $outputHelper->productAttribute($product, $_img, 'image');
    ?>
</p>
<?php endif; ?>

<p class="product-image hide-desktop">
 <?php $zPath = $this->helper('catalog/image')->init($product, 'image')->resize($bigImageWidth, $bigImageHeight);?>

        <img  class="cloudzoom1" src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize($smallImageWidth, $smallImageHeight);?>" 
             alt='' data-cloudzoom ="" 
             title="<?php echo $this->htmlEscape($this->getImageLabel());?>" />

</p>
<?php if (count($this->getGalleryImages()) > 0): ?>

 <?php 
                //$_product = Mage::getModel('catalog/product')->load($_product->getId());              
                //$_finalPrice=$_product->getSpecialPrice(); 
                //$_price=$_product->getPrice();
                $_finalPrice=$product->getSpecialPrice(); 
 $_price=$product->getPrice();
                ?>
                <?php  if(($_finalPrice < $_price)&&($_finalPrice!='')): ?>
                 <!-- <div class="discount-perct">
                    
                     <?php $_savingPercent = 100 - round(($_finalPrice / $_price)*100); ?>
                        <span><?php echo $_savingPercent;?>% off</span> 
                    
                 </div> -->
                 <?php endif;?>

 <!-- <?php if ($this->helper('wishlist')->isAllow()) : ?>
                   
                   <?php if (Mage::getSingleton('customer/session')->isLoggedIn()) { ?>
                    <?php if($selected == 'selected'){?>
                         <a href="#" id="link-wishlist-<?php echo $product->getId()?>" class="link-wishlist <?php echo $selected;?>" title="Already in wishlist"> <span id="<?php echo $product->getId()?>"> &nbsp;</span> </a>
                         <?php $islogin = 1; }else{ ?>
                         <a href="#" id="link-wishlist-<?php echo $product->getId()?>" class="link-wishlist" title="Add to wishlist" rel="<?php echo $this->helper('wishlist')->getAddUrl($product) ?>"> <span id="<?php echo $product->getId()?>"> &nbsp;</span> </a>
                        <?php $islogin = 1;?>
                        <?php } }
                        else
                        {
                            ?>
                            <a href="#" onclick='javascript:socialLogin();' class="link-wishlist">&nbsp;</a>
                        <?php   
                        }
                        ?>
                        <input type="hidden" id="pid" value="<?php echo $product->getId()?>">
                   <span id='ajax_loading<?php echo $product->getId()?>' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
                       
                     
                   <?php endif; ?> -->

<div class="more-views">
  
               

 

   
    <ul>
        <?php // Additional thumb copy of main image ?>
        <?php $zPath = $this->helper('catalog/image')->init($product, 'image')->resize($bigImageWidth, $bigImageHeight);?>
         <li>
            <a href='<?php echo $zPath; ?>' id="relative" title='<?php echo $this->htmlEscape($this->getImageLabel()) ?>' >
            <img class='cloudzoom-gallery' rel='<?php echo $this->helper('catalog/image')->init($product, 'image')->resize($smallImageWidth, $smallImageHeight);?>'
                data-cloudzoom="useZoom: '.cloudzoom', image: '<?php echo $this->helper('catalog/image')->init($product, 'image')->resize($smallImageWidth, $smallImageHeight);?>' "
                src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(87, 130);?>" alt="<?php echo $this->htmlEscape($this->getImageLabel()) ?>"
                title='<?php echo $this->htmlEscape($this->getImageLabel()) ?>'
                />
            </a>
        </li>
        
    <?php 
    $i=1;
    foreach ($this->getGalleryImages() as $_image): ?>
    <?php $zoomPath = $this->helper('catalog/image')->init($product, 'image', $_image->getFile())->resize($bigImageWidth, $bigImageHeight);?>
    
    <?php   
    if($_image['collection']!='1'):


    //echo "mm".$value= $product->getAttributeText('video_url');
            //$attribute_value = $product->getResource()->getAttribute('video_url')->getFrontend()->getValue($product);
            if(($attribute_value)&&($i==1)):
            /*$videourl = $attribute_value; 
            $urlparts  = parse_url($videourl);
            $extracted = $urlparts['path'];
            $arr       = explode("/", $extracted);
            $url_id    = end($arr);*/
            $url_id =  get_youtube_id_from_url($attribute_value);
        ?>
        <li><a class="various-box fancybox.iframe" id="relative" title="The Falltape" href="<?php echo $attribute_value;?>"><img src="http://img.youtube.com/vi/<?php echo $url_id;?>/0.jpg" width="500px" height="500px" alt="view popup video"/>
        </a></span></li>
        <?php 
        
        endif; ?>
    
        <li>
            <a href='<?php echo $zoomPath; ?>' id="relative" title='<?php echo $this->htmlEscape($_image->getLabel()) ?>'>
            <img class='cloudzoom-gallery' 
                 data-cloudzoom="useZoom: '.cloudzoom', image: '<?php echo $this->helper('catalog/image')->init($product, 'image', $_image->getFile())->resize($smallImageWidth, $smallImageHeight);?>' "

                 src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail', $_image->getFile())->resize(500, 500);?>" 
                 alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>"
                 title="<?php echo $this->htmlEscape($_image->getImageLabel()) ?>"
                 />
            </a>
        </li>
    <?php 
    $i++;
    endif;
    endforeach; ?>
    
        
    </ul>
</div>
<?php endif; ?>
<script>
//script for gallery click event
jQuery('img.cloudzoom-gallery').on('touchstart click', function(e){
e.stopPropagation(); e.preventDefault();
console.log("come");
var img = jQuery(this).parent('a').attr('href');
console.log(img);
jQuery('.cloudzoom1').attr('src',img);
    });


jQuery(".link-wishlist").live('click',function(){
        
        var customerid = jQuery('#customerid').val();
        if(customerid!='')
        {
            var pid = jQuery('#pid').val();
            var wishlist_url = jQuery(this).attr('rel');
            ajaxWishlist(wishlist_url,pid);
            return false;
        }
        else
        {
            var value = jQuery('div.tbox').css('top');
        //if(value >100)
        console.log(value);
    jQuery('div.tbox').css('top','100px!important');
        jQuery('.tbox').css({"top":"100px","position":"absolute","left":"83px"});
            jQuery('div.tbox').show();
            jQuery('.tbox').show();
        //socialLogin();    
        }
        
        
        return false;
    
    }); 
    function ajaxWishlist(url,id){
    jQuery('div#collapseFilter').hide();
                    jQuery('div#collapseFilter').addClass('collapse out');
    url = url.replace("wishlist/index","ajax/product");
    url += 'product/'+id+'/isAjax/1/';
    jQuery('#ajax_loading'+id).show();
    jQuery.ajax( {
        url : url,
        dataType : 'json',
        success : function(data) {
            jQuery('#ajax_loading'+id).hide();
            if(data.status == 'ERROR'){
                //alert(data.message);
                //show message
                 jQuery('.notification').html("<div id='note'>"+data.message+"</div>");  
jQuery('.notification').show();              
     setTimeout(function(){         
        jQuery(".notification").hide('slow');
      },1500);
                
                
                
            }else{
               // alert(data.message);
                jQuery('.notification').html("<div id='note'>"+data.message+"</div>");  
 jQuery('.notification').show();    
 jQuery("a#link-wishlist-"+id).addClass('selected'); 
 
     setTimeout(function(){         
        jQuery(".notification").hide('slow');
      },1500);
                /*if(jQuery('.block-wishlist').length){
                    jQuery('.block-wishlist').replaceWith(data.sidebar);
                }else{
                    if(jQuery('.col-right').length){
                        jQuery('.col-right').prepend(data.sidebar);
                    }
                }*/
            }
        }
    });
}
</script>