<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.3.18
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>
</div>
<div class="news-block clearfix">
<?php //echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<h4 class="cat-title">Blogs</h4>
 <span class="title-bor"> <img src="<?php echo $this->getSkinUrl('images/title-bor-img.jpg');?> " />  </span>
 
<?php foreach ($posts as $post): ?>
    <div class="postWrapper col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <!-- Showing blog small image -->
        <div class="postImage">
            <a href="<?php echo $post->getAddress(); ?>" ><img src="<?php echo Mage::getBaseUrl().'media/blogimages/';?><?php echo $post->getSmallImage(); ?>"></a>
        </div>
        
        <div class="postTitle">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
            <p><?php echo $post->getCreatedTime(); ?></p>
        </div>
        <div class="postContent std"><?php echo $post->getPostContent(); ?></div>

        <?php echo $this->getBookmarkHtml($post) ?>
        <div class="tags"><?php echo $this->getTagsHtml($post) ?></div>
        <div class="postDetails hide">
            <?php if ($this->getCommentsEnabled()): ?>
                <?php echo $post->getCommentCount(); ?> <a href="<?php echo $post->getAddress(); ?>#commentBox" > <?php echo Mage::helper('blog')->__('Comments'); ?></a> |
            <?php endif; ?>
            <?php $postCats = $post->getCats(); ?>
            <?php if (!empty($postCats)): ?>
                <?php echo Mage::helper('blog')->__('Posted in'); ?>
                <?php foreach ($postCats as $data): ?>
                    <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
                <?php endforeach; ?>
            <?php else: ?>
                <?php echo Mage::helper('blog')->__('Posted'); ?>
            <?php endif; ?>
			<?php //echo $this->__("By"); ?> <?php echo $post->getUser(); ?></div>
    </div>
<?php endforeach; ?>
</div>
<?php //echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>