<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.3.18
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<?php if ($posts = $this->getRecent()): ?>
<div class="clearfix row">
<div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
<div id="news-slider" class="carousel slide" data-ride="carousel">
<div class="clearfix">
<h4>IN THE NEWS</h4>
<div class="arrow-control"><a class="left carousel-control" href="#news-slider" data-slide="prev"> <span class="sr-only"><img src="{{media url="wysiwyg/prev.jpg"}}" alt="Chania" /></span> </a> <a class="right carousel-control" href="#news-slider" data-slide="next"> <span class="sr-only"><img src="{{media url="wysiwyg/next.jpg"}}" alt="Chania" /></span> </a></div>
</div>
<div class="carousel-inner">
<div class="item active">
<ul class="clearfix">
<?php foreach ($posts as $post): ?>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

<a href="<?php echo $post->getAddress(); ?>" ><img src="<?php echo Mage::getBaseUrl().'media/blogimages/';?><?php echo $post->getFilePath(); ?>"></a>

<h3><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h3>
<p><?php echo $this->formatDate($post->getCreatedTime(), Mage::getStoreConfig('blog/blog/dateformat'), true); ?></p>
<?php echo $post->getShortContent(); ?>
<a href="<?php echo $post->getAddress(); ?>">Know more...</a></li>
 <?php endforeach; ?>

</ul>
</div>

</div>
</div>
<p><a class="show dr" href="<?php echo Mage::getBaseUrl()?>news">View All</a></p>
</div></div>
<?php endif; ?>