<?php
if (Mage::getSingleton('customer/session')->isLoggedIn()):
    $customer = Mage::getSingleton('customer/session')->getCustomer();
    $customerAddress = array();
    foreach ($customer->getAddresses() as $address) {
        $customerAddress[] = $address->toArray();
    }
    $custid=$customer->getId();
    $defaultBillingAddressId = $customer->getDefaultBillingAddress() ? $customer->getDefaultBillingAddress()->getId() : null;
    $i=1;
    $TotShip = count($customerAddress);
    foreach ($customerAddress as $address):
?>
<script>
function Deliver(id)
{
  window.config ={'active':id}
  jQuery('.name-whatsapp').hide();
  jQuery('.name-whatsapp-'+id).show();
	//alert(id);
	 jQuery('#address_wrapper .selected').removeClass('selected');
            jQuery('#address_wrapper .active').removeClass('active');
			 jQuery('#address_wrapper .selected-bg').removeClass('selected-bg');
             value = id;

            jQuery("#billing-address-select option[value=" + value + "]").prop("selected",true);
            jQuery('span#button-'+value).find('button').addClass('selected');
            jQuery('#continue-'+value).addClass('active');
            jQuery('#continue-'+value).show();
            jQuery("button#address_edit").hide();
			jQuery('#address_'+value).addClass('selected-bg');
}
                    function whatsapps(id)
                    {

                  //  jQuery('#whatsapp-checkboxlist_'+id).on('click',function(){
                    if (jQuery('#whatsapp-checkboxlist_'+id).is(':checked')) {   
                    jQuery(".whatsappnumberlist_"+id+"").show();
                    var mobilenumber=jQuery("#telephone_"+id+" span").html();
                    jQuery("#whatsapp_"+id+"").val(mobilenumber);
                    }else{
                    jQuery(".whatsappnumberlist_"+id+"").hide();
                     jQuery(".whatsappnumberlist_"+id+"").val();
                    }

                   // });
                    //var url = "http://localhost/paragon/customer/address/formPostAddress/id/65";

                    }
                    function billings(id)
                    {
                   
                        var whatsappnumber=jQuery("#whatsapp_"+id+"").val();
                        if(whatsappnumber)
                        {
                        var url = "<?php echo Mage::getBaseUrl().'customer/address/formWhatsAddress'?>";
                        var data = { number: whatsappnumber,entity_id:id };
                        try {
                        jQuery.ajax({
                        url: url,
                        dataType: 'json',
                        type : 'post',
                        data: data,
                        success: function(data){
                        
                        if(data.status == "success") {
                        // window.location.reload();
                        billing.save();
                        } 
                        else {
                        jQuery('#notify-info').addClass('alert-danger').text(data.message).show();
                        }
                    }
                        });
                        } catch (e) {
                        jQuery('#notify-info').addClass('alert-danger').text('Error while saving address.').show();
                        }
                    }
                    else
                    {
                             billing.save()
                    }
                    }
</script>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 address-fields" id="address_<?php echo $address['entity_id'];?>">
    <address>
        <strong>
        <span id="billing:firstname<?php echo $address['entity_id'];?>"><?php echo $address['firstname'];?></span>
        <span id="billing:lastname_<?php echo $address['entity_id'];?>"><?php echo $address['lastname'];?></span>
        <a id="edit_address" rel="<?php echo $address['entity_id'];?>" href="#"> Edit</a>
        <input type="hidden"  id="edit_url_<?php echo $address['entity_id'];?>" name="billing:url_<?php echo $address['entity_id'];?>" value="<?php echo Mage::getBaseUrl().'customer/address/formPostAddress/id/'.$address['entity_id'];?>">
        </strong>
        <span id="billing:company_<?php echo $address['entity_id'];?>"><?php echo $address['company'];?></span>

        <span id="billing:street_<?php echo $address['entity_id'];?>"><?php echo $address['street'];?></span>
		 <span id="billing:city_<?php echo $address['entity_id'];?>"><?php echo $address['city'];?></span>
        <span id="billing:region_<?php echo $address['entity_id'];?>"><?php echo $address['region'];?></span>
        <span id="billing:postcode_<?php echo $address['entity_id'];?>"><?php echo $address['postcode'];?></span>
        <div id="telephone_<?php echo $address['entity_id'];?>"> 
        <span id="billing:telephone_<?php echo $address['entity_id'];?>"><?php echo $address['telephone'];?></span>
        </div>
       <!--  <?php if($address['whatsapp']) { ?>
        <span id="billing:whatsapp_<?php echo $address['entity_id'];?>">W:<?php echo $address['whatsapp'];?></span>
        <?php } ?> -->
            <!-- <div class="input-box name-whatsapp name-whatsapp-<?php echo $address['entity_id'];?>">
            <input type="checkbox" name="whatsapp-checkboxlist_<?php echo $address['entity_id'];?>" onclick=" whatsapps('<?php echo $address['entity_id']?>');" id="whatsapp-checkboxlist_<?php echo $address['entity_id'];?>" />
            <label><img src="<?php echo $this->getSkinUrl('images/whatsapp.png');?> " />  Receive order related updates on WhatsApp</label>
            </div> -->

           <!--  <div class="field name-whatsapp pr whatsappnumberlist_<?php echo $address['entity_id'];?>" style="display: none">
            <div class="input-box whatsapp-field whatsapp-list">

              <input type="text" name="whatsapp" maxlength="10" value="" title="<?php echo $this->__('Whatsapp') ?>" class="input-text whatsappnumber <?php echo $this->helper('customer/address')->getAttributeValidationClass('whatsapp') ?> validate-mobileno " id="whatsapp_<?php echo $address['entity_id'];?>" placeholder="Your What's App Number" onkeypress="return isNumber(event)" />
              <p>Above is my What's App number</p>

            </div>
            </div>  -->
        <span id="billing:state_<?php echo $address['entity_id'];?>"><?php echo $address['state'];?></span>
        <input type="hidden"  id="firstname_<?php echo $address['entity_id'];?>" name="firstname_address<?php echo $address['entity_id'];?>" value="<?php echo $address['firstname'];?>">
        <input type="hidden"  id="lastname_<?php echo $address['entity_id'];?>" name="lastname_<?php echo $address['entity_id'];?>" value="<?php echo $address['lastname'];?>">
        <input type="hidden"  id="company_<?php echo $address['entity_id'];?>" name="company_<?php echo $address['entity_id'];?>" value="<?php echo $address['company'];?>">
        <input type="hidden"  id="city_<?php echo $address['entity_id'];?>" name="city_<?php echo $address['entity_id'];?>" value="<?php echo $address['city'];?>">
        <input type="hidden"  id="region_<?php echo $address['entity_id'];?>" name="region_<?php echo $address['entity_id'];?>" value="<?php echo $address['region'];?>">
        <input type="hidden"  id="postcode_<?php echo $address['entity_id'];?>" name="postcode_<?php echo $address['entity_id'];?>" value="<?php echo $address['postcode'];?>">
        <input type="hidden"  id="telephone_<?php echo $address['entity_id'];?>" name="telephone_<?php echo $address['entity_id'];?>" value="<?php echo $address['telephone'];?>">
     <!--    <input type="hidden"  id="whatsapp_<?php echo $address['entity_id'];?>" name="whatsapp_<?php echo $address['entity_id'];?>" value="<?php echo $address['whatsapp'];?>"> -->
        <input type="hidden"  id="state_<?php echo $address['entity_id'];?>" name="state_<?php echo $address['entity_id'];?>" value="<?php echo $address['  '];?>">
        <input type="hidden"  id="street1_<?php echo $address['entity_id'];?>" name="street1_<?php echo $address['entity_id'];?>" value="<?php echo  $address['street'];?>">
    </address>
    <ul class="delete-option clearfix">
        <li>
            <input type="radio" name="billing-address" value="<?php echo $address['entity_id'];?>" id="billing-address"  <?php if($i==1){?>checked <?php } ?> class="input-text hide"/>
            <?php if($TotShip > 1){?>
            <span id="button-<?php echo $address['entity_id'];?>" class="deliver">
                <button type="button" class="btn btn-primary <?php if($defaultBillingAddressId == $address['entity_id']):?>selected<?php endif;?>"  id="deliver_this"  onclick="return Deliver('<?php echo $address['entity_id'];?>');" rel="<?php echo $address['entity_id'];?>" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="deliver_address" title="<?php echo $this->__('Deliver Here') ?>"> <?php echo "Deliver Here" ?></button>
            </span>
            <?php } ?>
           <!--  <button data-address="<?php echo $address['entity_id'];?>" id="continue-<?php echo $address['entity_id'];?>" type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Proceed to Checkout')) ?>" class="btn btn-primary continue-btn <?php if($defaultBillingAddressId == $address['entity_id']):?>active<?php endif;?>" <?php if($defaultBillingAddressId == $address['entity_id']):?>style="display:none;"<?php endif;?> onclick="billings('<?php echo $address['entity_id'];?>')"><?php echo $this->__('Continue') ?></button> -->
           <button id="continue-<?php echo $address['entity_id'];?>" type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Proceed to Checkout')) ?>" class="btn btn-primary continue-btn <?php if($defaultBillingAddressId == $address['entity_id']):?>active<?php endif;?>" <?php if($defaultBillingAddressId == $address['entity_id']):?>style="display:none;"<?php endif;?> onclick="billing.save()"><?php echo $this->__('Continue') ?></button>
            <span class="please-wait" id="billing-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Loading next step...')) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Loading next step...')) ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
            </span>
        </li>
    </ul>
</div>
<?php if($defaultBillingAddressId == $address['entity_id']):?>
  <script type="text/javascript">
  window.config ={'active':'<?php echo $address['entity_id']; ?>'}
  </script>
<?php endif;?>
<?php
$i++;
endforeach;
endif;
?>
<style type="text/css">
    .name-whatsapp{
        display: none;
    }
</style>