
img{
 max-width:100%;
}
.hide-desktop{
	display:none !important;
}
@media (min-width:1401px){
body .the-slideshow {
    height: 850px!important;
}
body .the-slideshow ul{
    height: auto;
}
}
@media (min-width:1199px) and (max-width: 1400px)  {
body .the-slideshow ul{
	height:500px;
}

}
@media (max-width: 1024px)  {
.nav-right {
    width: 72%;
}
body .checkout-pl .sku{
	font-size: 11px;
}
body .checkout-pl .price{
	font-size: 16px;
}
body .cart-totals .table tfoot tr td, body .totals .table tfoot tr td{
	font-size: 14px;
}
#nav {
    padding: 0;
}
.news_search .dropdown{
	padding: 2px 6px 0;
}
.for-bulkorder{
	 margin-left: 10px;
    margin-right: 10px;
}
body #nav a {
	  padding: 5px 15px;
}
body .navbar-nav > li > .dropdown-menu.megamenu-content{
    width: 100%;
}
body .nav-container #nav {
    position: relative;
}
body .nav-container #nav li{
	position: unset;
	padding: 10px 7px;
}
body .sub-menu ul {
    width: 50% !important;
}
body .sub-menu .pull-right {
	float:left !important;
}
body .stock-notification{
    bottom: 63px;
}
body .contact-details{
    font-size: 12px;
}
body .tbox{
    left: 20px !important;
}
body .news-block .postImage{
}
body .follow-paragon .heritage p{
    height: 211px;
    overflow: hidden;
    font-size: 17px;
}
body .products-grid li:hover .list-colors span{
    margin: -10px 0 0;
}
}
@media (min-width:768px) and (max-width: 960px)  {
body .tbox{
    width: 95%;
}
body .magegiant-sociallogin-popup{
	    width: 100%!important;
	}
body .magegiant-login-form-popup{
    width: 32% !important;
	border:0;
}


body #social-button-container {
    padding: 0;
}
body .social-list {
       width: 36%;
}
body .or {
    width: 160px;
}
body .follow-paragon .heritage, body .follow-paragon .form-search  {
    padding: 30px 20px !important;
	min-height:inherit !important;
}
body .follow-paragon p {
    font-size: 14px;
}
body .follow-paragon .heritage p{
    height: 117px;
    overflow: hidden;
}
body .products-grid li {
    min-height: 350px;
}
body .products-grid li .cat-size ul li{
 min-height:inherit !important;
}

body #nav li {
padding: 10px 5px;
}
body #nav a {
    padding: 5px 8px;
}
body #nav {
    padding: 0;
}
body .the-slideshow {
    height: 365px!important;
}
body .the-slideshow ul{
	height:auto;
}
body .gen-slider-pager1-pos-bottom-right .control-nav {
    margin:0;
}
body .follow-paragon ul li {
    float: none;
}
body .products-grid .product-name{
	width: 75%;
	font-size: 13px;
}
body .stock-notification{
	bottom: 50px;
}
body .product-view .product-img-box .product-image{
    width: 80%;
}
body .product-view .product-img-box .more-views {
    width: 60px;
}
body .product-collateral .box-collateral{
    width: 100%;
}
body #checkout-step-login div.inchoo-socialconnect-facebook, body #checkout-step-login div.inchoo-socialconnect-google{
    width: 40%;
}
body .cart .discount .input-box{
    width: 63%;
}
body .cart .discount .buttons-set {
    width: 30%;
}
body .search-block{
		    margin: 15px 0 0 20px;
	}
	body .news_search{
		margin: 8px 20px 0 0;
	}

}

@media (max-width: 768px) {

	body .navbar-default .top-link .navbar-nav > li > a, body .navbar-default .top-link .navbar-nav > li span{
		font-size: 11px;
	}
	body .nav-right {
    	width: 100%;
	}
	body #nav {
    	padding: 0;
	}
	.main-container {
    	margin: 143px 0 0;
	}
	.navbar-header {
    	float: none;
	}
	.navbar-brand {
   		float: none;
    	margin: 0 auto !important;
    	width: 150px;
	}
	iframe{
		height:171px !important;
		margin:0 -15px;
	}
	.nav > li {
		  float: left;
	}
	.home-banners .item {
    	height: auto;
	}
	.top-link .container{
		padding:0 !important;
	}
}


@media (max-width: 767px) {
	body .navbar-default .top-link .navbar-nav > li > a, body .navbar-default .top-link .navbar-nav > li span {
    	font-size: 9px;
	}
	body #nav {
    	float: left;
    	margin: 0;
    	padding: 15px 0 10px;
	}
	.for-bulkorder {
    	font-size: 13px;
		margin-left: 8px;
    	margin-right: 5px;
	}
	#nav a {
    	font-size: 14px;
		padding: 5px 10px;
	}

	body .hs .showcase{
		width: 92%;
	}
	body a.back-to-top{
		bottom: 0;
	}
	body .products-grid{
		margin: 0 -15px;
	}
	body .products-grid li:hover .img .quick_view_btn{
		display:none!important;
	}
	body .products-grid li .list-colors{
		width: 100%;
	}
	body .products-grid li:hover .list-colors span {
    	margin: -55px 0 0;
	}
}
@media (min-width:641px) and (max-width: 767px) {
	.top-cart .dropdown-menu{
		overflow: auto;
		max-height: 300px;
	}
	body .navbar-brand{
		width: 150px;
		margin-left: 28% !important;
	}
	body .main {
    	margin-top: 50px;
	}
	body .hs .showcase{
		width: 92% !important;
	}
	body .product-slider-outer .owl-carousel .owl-item {
    	width: 205px !important;
	}
	body .breadcrumbs{
	    margin: 20px 0 0;
	}
	body #addToCart .modal-dialog{
		width: 440px;
		margin: 10px auto;
	}
	body #addToCart .modal-content  {
		text-align: center;
		max-height: 330px;
		overflow: auto;
	}
	body .top-cart.top-search .dropdown-menu{
		right: -55px;
		width: 640px;
	}
	body .top-cart .dropdown-menu input.input-text{
		width: 578px;
	}
	body .products-grid li{
		min-height: 510px !important;
	}
	body .stock-notification .size-chart ul li{
		    min-height: 10px !important;
	}
	.category-product-slider .owl-item .item, body .products-grid li .cat-size ul li{
		min-height: inherit !important;
	}
	body .the-slideshow-wrapper-mob .the-slideshow-mob{
		height:auto !important;
	}
	body .the-slideshow-wrapper-mob .the-slideshow-mob ul {
		overflow: hidden;
		height: 275px;
	}

	body .dl-menuwrapper .dl-menu{
		    margin: 0 0 40px;
	}

}
@media (max-width: 640px) {
	body .breadcrumbs{
	    margin: 20px 0 0;
	}
	.top-link{
		display:none;
	}
	.hide-mob{
		display:none !important;
	}
	.hide-desktop{
		display:block !important;
	}
	.navbar-header {
    	background-color: #fff;
	}
	.navbar-collapse{
		padding: 0;
		position: absolute;
		width: 300px;
		left:0;
		    width: 100%;

	}
	body #nav {
    padding: 0 10px 0;
    margin: 0;
    float: none;
    width: 195px;
    background: rgba(0,0,0,0.7);
	}
	body #nav li, body .nav > li {
		 float: none;
	}
	/*body .footer-content ul li{
		 float: left !important;
		 width: 115px;
	}*/
	body .navbar-fixed-top #nav li{
		border-bottom: 1px solid #ccc;
		    padding: 0 25px;
    text-align: left;
    border-right: 0;
	border-left:0;
	display:block !important;
	}
	body .navbar-default .navbar-collapse, body .navbar-default .navbar-form{
	    max-height: inherit;
	}
	body .navbar-fixed-top #nav li:hover{
	 background: none;
    border-color: red;
    box-shadow: none;

	}
	body .navbar-nav > li > .dropdown-menu.megamenu-content{
	    width: 35%;
    z-index: 10;
    right: -168px;
    background: rgba(0,0,0,0.7);
    top: 0px;
    left: auto;
	}
	body #nav.navbar-nav > li > .dropdown-menu.megamenu-content li{
		    float: none;
    padding: 0 5px !important;
	}
	body .sub-menu {
     box-shadow:0;
   -webkit-box-shadow: 0;
    -ms-box-shadow: 0;
    -o-box-shadow: 0;
    padding: 0;
	}
	body .sub-menu ul {
    float: none;
    padding: 0;
    margin: 0;
    width: auto;
}
body .sub-menu .pull-right  {
	display:none;
}

	body .navbar-fixed-top #nav li:hover a, #nav.navbar-nav > li > .dropdown-menu.megamenu-content li:hover a{
    	color: #fff;
	}
	body #nav a{
	   float: none;
       padding: 10px 0;
       text-transform: uppercase;
	   color:#fff;
	   font-weight:normal;
	   font-size:14px;
	   display:inline-block;
	}
	.product-options .amconf-images-container{
		width:100%;
	}

	.navbar-brand{
		float: left;
		width: 140px;
		 margin-left:12% !important;
	}
	.account-login {
    	width: 100%;
	}
	.or{
		margin: 10px 0;
    text-align: center;
    width: 100%;
	min-height: inherit;
	}
	.registered-users .social-icon a{
		display: block;
    margin: 10px 0;
    text-align: center;
	}
	body .nav-tabs > li {
		padding: 10px 30px;
		float:left;
	}
	.main {
    	padding: 0;
		margin-top: 60px;
	}
	.news_search{
		float: none;
    	margin: 0;
		text-align: left;
	}
	.for-bulkorder{
		 border-bottom: 1px solid #ccc;
		color: #000;
		display: block;
		float: none;
		margin: 0;
		padding: 5px 0;
		text-transform: capitalize;
		font-size:14px;
	}
	.for-bulkorder span {
		display: inline-block;
		text-align: left;
		color: #000;
    font-size: 14px;
	    text-decoration: none;
	}
	.news_search .dropdown, .top-cart {
		float:none;
	}
	.top-cart{
	    padding: 15px 10px 0;
		color: #fff;
		float: right;
		width: 45px;
	}
	.top-cart .dropdown{
		    display: block!important;
	}

	.account-login .content {
		min-height: inherit;
	}
	.navbar-toggle{
		margin-top: 10px;
	}

	body .main-container{
    	margin: 0;
	}
	.mobile-search-block .form-search {
		background: #fff;
		border: 1px solid #ccc;
		margin: 0 10px;
		border-radius: 5px;
	}
	.mobile-search-block .form-search input.input-text{
		   border: 0 none;
    float: left;
    height: 40px;
    margin: 0 0 0 5px;
    width: 87%;
	}
	.mobile-search-block .form-search .btn {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0 5px 5px 0;
    float: right;
    font-size: 24px;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 11%;
	}
	.navbar-default .links.navbar-nav {
		float:none !important;
		 margin: 0;
		    width: 195px;
   	 background: rgba(0,0,0,0.7);
	    padding: 0 10px 0;
	}
	.navbar-default .links.navbar-nav li{
		    padding: 0 25px;
			display:block !important;
			border-bottom: 1px solid #ccc;
	}
	.navbar-default .links.navbar-nav li a, .navbar-default .links.navbar-nav li span {
    padding: 5px 0;
    float: none;
	display:block;
	text-transform:uppercase;
	color:#fff;
	}
	.navbar-default .links.navbar-nav li.dropdown{
		border:0;
	}
	.navbar-default .links.navbar-nav li.dropdown span{
		display: inline-block;
	    margin: 0;
	}
	.navbar-default .links.navbar-nav li.dropdown span.caret {
		    margin: 10px 0 0 2px;

	}
	.navbar-default .links.navbar-nav li .dropdown-menu li{
		    padding: 0;
    border: 0;
	}
	.navbar-default .links.navbar-nav li .dropdown-menu li a{
		color:#fff;
		padding:5px;
	}
	.footer h4{
		font-weight:bold;
		text-transform: uppercase;
		margin-bottom:0;
	}
	.footer .form-search{
		text-align: center;
	}
	.footer .nav.social-links, .contact-us{
		background:#e9e9e9;
		    padding: 5px 0;
    display: block;
	}
	.contact-us{
		margin:10px 0;
	}
	.footer .nav.social-links li{
		display:inline-block;
		float:none;
	}
	.footer .nav.social-links{
		padding:0;
	}
	.footer-container{
		border:0;
	}

	.footer-bottom{
		background:#000;
		border:0;
	}
	.footer .footer-bottom p, .footer .footer-bottom p a{
		color:#fff;
		font-size:14px;
	}
	#subscribe, .footer-container{
		  float: none !important;
    margin: 0 auto;
	  display: block;

	}
	#subscribe{
		width:100%;

	}
	.mobile-search-block {
    	 margin: 70px 0 0;
	}
	iframe{
		height:200px !important;
		width: 100% !important;
	}
	.footer{
		 padding: 0;
	}
	#subscribe .form-search{
		text-align:center;
	}
	#subscribe .form-search input.input-text {
    	width: 73%;
		background:#f2f2f2;
		border:0;
	}
	.top-cart .dropdown-menu{
	     right: 0;
    width: 350px;
    padding: 10px;
    top: 46px;
	overflow:auto;
	}
	.top-cart.top-search .dropdown-menu{
		 right: -51px;
		 top:45px;
		 height:auto;
	}
	.top-cart .dropdown-menu input.input-text{
		float: left;
    	width: 285px;
		color:#000;
	}
	.top-cart .dropdown-menu .btn{
		 margin: 0;
   		 line-height: 26px;
	}
	.top-cart.top-search .dropdown-menu .btn{
    margin: 0;
    line-height: 15px;
    padding: 5px 10px;
    display: inline-block;
    float: left;
    width: auto;

	}

	.footer .form-search .btn-default{
    	background-color: #fdb95c;
    	border-color: #fdb95c;
    	color: #fff;
		text-transform:uppercase;
		margin: 0;
    	padding: 4px 8px;
	}
	.copy-rights span{
		float:none !important;

	}
	.footer-content.copy-rights {
    	padding: 10px 20px;
	}

	.copy-rights li a{
		color:#fff;
	}
	.account-create .form-list input.input-text{
		width:60%;
	}
	.ct-banner{
		display:none;
	}
	.cat-size ul li{
		width: auto;
    	margin:0;

	}

	.cat-size-home ul li{
		width: auto;
    	margin:0;

	}

	.mob-filter-block{
		margin: -54px 0 0;
	}
	a.mob-filter{
		display: inline-block;
		padding: 6px 30px;
		font-size: 16px;
		background:#404140;
		text-align:center;
		text-transform:uppercase;
		color:#fff;

	}
	a.mob-filter:after {
		border-top: 10px solid #555;
		margin-top: 0;
		z-index: 1;
	}
	.mob-filter:hover, .mob-filter:focus{
		color:#fff;
	}
	.filter-block .collapse {
		display: block;
	}
	body .tool-bar{
		border:0;
	}
	.toolbar h2{
		text-align:center;
		padding:10px 0;
	}
	.toolbar h2 span{
		display:none;
	}
	.toolbar .amount{
		float: left;
    	padding: 10px 0 0;
	}
	.sort{
		    float: right;
		z-index: 999;
		position: relative;
		cursor: pointer;
	}
	.sort-by{
		float: right;
     	width: 125px;
	}
	.sort-by select{
		border:0;
		float: left;
   		width: 115px;
	}
	#sortby select{
		border: 1px solid #999;
	}
	.mob-dir{
		float: left;
		margin: 7px 0 0 3px;
	}
	body .products-grid li{
	    margin: 0;
		width: 50%;
		min-height: 364px;
	}
	body .products-grid li:hover{
		    border: 1px solid #ddd;
	}
	body .products-grid li .size-chart li:hover{
		border:0;
	}
	body .filter-block h3{
		display:none;
	}
	.products-grid li:nth-child(even){
		margin: 0;
	}
	.products-grid .img{
		padding: 0;
		  margin: 0 0 10px;
	}
	body .homepage-slider .category-product-slider .owl-item .item .img {
    padding: 0 10px;
	}
	.products-grid .product-name{
		min-height:50px;
		width: 80%;
	}
	.product-view .product-shop{
		border:0;
	}
	.add-to-cart .btn {
		width: 100%;
		display:block;
	}
	.add-to-cart .btn img{
		display:none;
	}
	.check-pincode input{
		border: 1px solid #ddd;
    	float: left;
    	padding: 5px;
    	width: 60%;
	}
	.add-to-cart .btn.pincode-btn{
		 float: left;
		margin: 0 0 0 3px;
    padding: 3px 0;
    width: 10%;
	}
	.pad{
		padding:0;
	}
	.home-banners .carousel-control .sr-only{
		display: block;
    height: auto;
    width: auto;
	}
	.home-banners .carousel-control .sr-only img{
		 height: 16px;
    line-height: 36px;
    margin: 5px 0 0;
    vertical-align: top;
    width: 10px;
	}
	.home-banners .carousel-control{
		 height: 25px;
		 width:25px;
	}
	.checkout-onepage-index .form-list #shipping-new-address-form .input-box{
		width: 86%;
	}
	#opc-shipping .form-list li.control, #shipping-buttons-container {
    	margin-left: 0;
	}
	.checkout-onepage-index .form-list .control label {
    	width: 85%;
		text-align: left;
	}
	.col2-set .col-1{
		 border: 0 none;
    float: none;
    width: 100%;
	text-align:center;
	}
	.col2-set .col-2 {
    	float: none;
    margin: 10px 0 0;
    width: 100%;
	text-align:center;
	}
	body .the-slideshow-wrapper-mob .the-slideshow-mob{
		overflow:hidden;
		 height: auto !important;
		    margin: 0;
	}
	body .the-slideshow-wrapper-mob .the-slideshow-mob ul {
		overflow: hidden;
		    height: auto;
	}
	body .gen-slider-pager1-pos-bottom-right .control-nav{
		bottom: 0;
		right: 1.5%;
		    margin: 0;
	}
	body .gen-slider-arrows2 .direction-nav .prev, body .gen-slider-arrows2 .direction-nav .next{
		    top: 25%;
	}
	#magegiant-sociallogin-container .magegiant-sociallogin-popup{
		width: 100%;
	}
	#magegiant-sociallogin-authentication{
		    text-align: center;
	}
	body .magegiant-login-form-popup .form-list{
		     width: 100%;
		float: none;
		padding: 0;
		border: 0;
	}
	#magegiant-sociallogin-create-new-customer {
    width: 100%;
	}
	body .or {
		 width: 100%;
		 float:none;
		 display:none;
	}
	body #magegiant-sociallogin-form .social-list{
		 width: 100%;
		float: none !important;
	}
	body #social-button-container .social-button-wapper ul li button{
		    text-align: center;
    width: 100%;
	}
	body .btn.btn-save{
		    width: 100%;
	}
	#magegiant-create-back {
		margin-left: 10%;
		width: 100%;
		text-align: center;
		display: block;
	}
	.navbar-nav li .tooltip-block:before{
		display: none;
	}
	.navbar-nav li .tooltip-block{
		top: -30px;
		left: 88px;
	}

	.block-layered-nav dt.filter-heading.minus, .block-layered-nav #narrow-by-list dt.filter-heading.collapsed{
		background:none;
	}
	.product-img-box #loopdiv, body #newdiv{
		display:none !important;
	}
	.product-view .product-img-box .more-views li {   border: 1px solid #ddd;
    margin: 0 0 8px; }
	.product-view .product-img-box .more-views li a { float:none; }

	body .bulkorder-block .form-list .input-box{
		 margin-left: 0;
	}
	body .form-list li.wide .input-box{
		 width: 100%;
	}
	body .bulk-submit {
   	 margin-left: 0;
	}
	.bulkorder-block .form-list label em{
		   padding: 0 4px 0 0;
	}
	body .tbox{
		 padding: 14px 10px !important;
		  left: 10px !important;
		      width: 95%;
	}
	body .happy-people{
		  padding: 20px 15px;
	}
	body .form-block{
		  padding: 20px 15px;
	}
	body .account-details{
		margin:0;
		}
	body .account-details li{
		margin: 0 0 10px;
   		padding: 8px 20px;
	}
	body .account-details li a{
		font-size: 12px;
	}
	body .account-information .change-password{
		 padding: 0 !important;
	}
	body .account-information .form-list .field {
    	width: 100%;
	}
	body .account-information .form-details {
    	padding: 0;
	}
	body .page-title h1, .page-title h2{
		font-size: 24px;
	}
	body .page-title h1{
		font-size: 18px;
		text-align: left;
	}
	body .my-account .page-title h1{
		    width: 100%;
	}
	body .contact-information {
    	width: 100%;
	}
	body .contact-information h2{
		font-size: 20px;
		margin: 0 0 10px;
	}
	body .back-link {
    	padding: 4px 10px 5px;
	}
	body .addresses-list .addresses-additional li.item{
		 width: 100%;
	}
	body .form-list li {
    	margin: 0;
	}
	body .contact-information .form-list li .field, body .contact-information .form-list li.fields, .my-account .form-list li, .my-account .form-list li .field, body #importing-form .form-list li, body #paragonstory .form-list li{
		margin: 0 0 10px;
	}
	body .right-form p span.big{
		font-size: 34px;
	    display: block;
	    line-height: 46px;
	}

	.form-list #billing-new-address-form .field {
    	width: 100% !important;
	}
	.form-list #billing-new-address-form li.field{
		margin: 0 0 10px;
	}
	body #billing-buttons-container{
		float:none !important;
		text-align: center;
	}
	.tenovia a{
		color:#fff;
	}
	body .hs .showcase{
		width: 86%;
		margin: 10px 0 0;
	}
	body .hs ul li{
		width: 86px;
	margin: 10px 10px 0 0;
	}
	body .left-arrow{
		margin-right: 10px;
		margin-top: 20px;
	}
	body .right-arrow {
		margin-left: 10px;
		margin-top: 20px;
	}
	.footer-content{
		padding: 20px 0;
		width: 100%;
	}
	.footer-content .client-service{
		text-align:center !important;
	}
	.cat-title{
		text-align:center !important;
		    font-size: 24px;
			letter-spacing: 5px;
	}
	.product-img-box{
		border:0;
		padding:0;
	}
	body .dl.quick-links{
		text-align: center !important;
		margin: 0 0;
	padding: 0;
	    min-height: 185px;
	}
	.big-product-image{
		width:75%;
	}
	.big-product-image .product-image a img{
		width:100% !important;
		height: auto !important;
		margin:0 !important;
	}
	.big-product-image .product-image a img.zoomIn, #lightbox{
		display:none!important;
	}
	.product-view .product-img-box .more-views{
		width: 100%;
	}
	.product-view .product-img-box .more-views li{
		display: inline-block;
	}
	.product-view .product-img-box .more-views li a{
		width: 60px !important;
		height: 60px !important;
		display:block;
	}
	.product-view .product-img-box .more-views li a img {
	  height: 60px;
	  width: 100%;
	}
	.coupon-code{
		padding: 20px 0 0;
		margin: 0;
		text-align: center;
	}
	.bottom-total .data-table, .address-block .panel-body{
		border:0;
		min-height: inherit;
	}
	.address-block .panel-body p{
		    text-align: left;
	}
	.checkout-onepage-success p, .success-items h3{
		text-align: center;
	}
	.cart .discount .input-box{
		float: none;
		width: 100%;
		display: inline-block;
	}
	.cart .discount input.input-text{
		width: auto;
	}
	.cart .discount .buttons-set{
		float: none;
		width: auto;
		margin: 3px 0 0;
		display: inline-block;
	}
	.cart-totals-wrapper{
		border:0;
		padding:0;
	}
	.cat-title{
		text-align:center;
	}
	.check-left{
		border:0;
	}
	.checkout-onepage-index .form-list input.input-text, .checkout-onepage-index .form-list select, .checkout-onepage-index .form-list li.wide input.input-text		    {
		width:100%;
		    margin: 0 0 5px;
	}
	.checkout-onepage-index .form-list select{
		width:100%;
	}
	body #billing-new-address-form ul li{
		float: none;
		width: 100%;
		text-align: center;
		margin: 0 10px 0 0;
	}
	body .collection{
		    margin: 0 -15px;
	}
	body .collection div .collection-text{
		    font-size: 20px;
	}
	body .collection .home-collection div{
    	margin-bottom:15px;
    }
	body .heritage, body .follow-paragon .form-search{
		border:0;
		padding:10px!important;
	margin: 10px 0;
	}
	body .follow-paragon .form-search h4{
		border-top: 0;
		padding: 0;
	}
	body .follow-paragon{
	margin: 0 20px !important;
	padding:10px 0;
	}
	body .follow-paragon .form-search{
	min-height: inherit;
	}
/*	body .owl-carousel .owl-item{
    width: 11%!important;
		min-height: 315px;
	}*/
	body .owl-carousel.main-banner-slider .owl-item {
    width:100%!important;
  	min-height:inherit;
	}
	body .category-product-slider{
	width: 100%;
    float: none;
	}
	body .homepage-slider .category-product-slider .owl-carousel .owl-item{
		min-height: 278px;
	}
	.category-product-slider .owl-item .item{
		width: 100%;
	}
	body .homepage-slider .category-product-slider .owl-item .item {
    	margin: 0;
    	padding: 0;
	min-height: 278px;
	}
	body .category-product-slider h2.product-name{
		min-height: 44px;
		font-size: 12px;
	    width: 100%;
   	 margin: 0;
	}
	body .products-grid li:hover .cat-size{
		    display: none;
	}
	body .product-slider-outer li:hover .cat-size-home{
		    display: none;
	}
	body .buy-btn{
		    margin: -27px 0 0;
	}
	body .share-block{
		text-align: left!important;
	}
	body .share-block a{
		padding: 5px;
		font-size: 11px;
	}
	.body product-collateral{
		border-right:0;
	}
	.collection div{
		    margin-bottom: 0;
	}
	.follow-paragon .form-search input{
		width: 100%;
	}
	body .link-wishlist:hover{
		background: url(../images/heart-icon.jpg) 0 0 no-repeat;
	}
	body #size_div select{
		width: 150px;
    	margin-right: 10px;
	}
	body #size_div .label{
		padding: 0;
	}
	.block-cart h3, #addToCart h3{
		    text-align: center;
	}
	body .checkout-pl .item-list{
		text-align: center;
	}
	body .pager .pages{
		margin: 20px 0;
		width: 100%;
		float: left;
	}
	body .opc .active .step-title h2{
		font-weight: normal;
		text-transform: uppercase;
	}
	body .shipping-details h4{
		font-weight: normal;
	}
	body .product-view  .product-collateral {
	    margin-top: 10px;
		    border-right: 0;
	}
	body #magegiant-create-back {
    	margin-left: 0;
	}
	body .social-list {
    	width: 100%;
	}
	body #sociallogin-forgot .giant-sociallogin-auth-form-block{
		width: 100%;
	}
	.opc .step-title h2{
		text-transform: uppercase;
	}
	body #contact_us .form-list li, body #contact_us .form-list.contact-list2, body #contact_us_retail .form-list li, body #contact_us_retail .form-list.contact-list2{
		    width: 100%;
	}
	body #contact_us .form-list li.contact-no, body #contact_us_retail .form-list li.contact-no{
		margin-top:0;
	}
	body .g-recaptcha {
		margin: 0 15px;
	}
	body .g-recaptcha div{
		width:100%!important;
	}
	body .g-recaptcha iframe{
	    width: 113% !important;
	}
	body .carousel h3{
		    font-size: 22px;
    	line-height: 22px;
	}
	body .homepage-slider{
		margin:10px 0;
	    padding: 0 10px;
	}
	body .homepage-slider .carousel h3{
	    font-size: 28px;
	}
	body .submit_contact{
		text-align: center;
	}
	body .submit_contact .btn-primary{
		display: block;
		width: 100%;
		margin: 20px 0;
	}
	body .order-block {
    	width: 100%;
	}
	body #addToCart .modal-dialog, body #sizeguide .modal-dialog{
		width: 100%;
    margin: 0;
	}
	body #sizeguide{
		    padding: 10px;
	}
	body .product-view .product-img-box .product-image{
		    width: 100%;
	}
	body .products-grid li .list-colors .color-img a{
		    width: 34px;
	}
	body .products-grid li:hover .list-colors span{
		    margin: -40px 0 0;
	}
	body .add-new-btn {
    	padding: 0;
	}
	body .add-new-btn .btn-primary{
		    padding: 5px 10px;
    		font-size: 12px;
	}
	body .select-address address{
		    min-height: inherit;
	}
	#shopping-cart-table.data-table td{
		    padding: 15px 5px;
	}
	#shopping-cart-table.data-table td .img-size{
		    width: 110px;
	}
	body.page-empty{
		padding:0;
	}
	.success-items .table tr td .product-image-outer{
	    width: 100px;
}
	#magegiant-sociallogin-container .magegiant-login-form-popup{
			width: 100%;
		border: 0;
	}

	body .form-list li.wide select, body .form-list li.wide textarea {
		    width: 100%;
	}
	body #cartAlert{
		    top: 40%;
	}
	body #cartAlert .modal-dialog{
		    width: 95%;
	}
	body #cartAlert button.close{
		    top: 5px;
	}
	body #cartAlert .modal-content{
		    margin: 30px 0;
	}
	body #checkout-step-login .social-icon div.inchoo-socialconnect-facebook, body #checkout-step-login .social-icon div.inchoo-socialconnect-google{
		    width: 62% ;
	}
	body .queries-block ul li{
    padding: 20px 10px;
    width: 200px;
    min-height: 166px;

}
body .queries-block ul li p{
	font-size: 14px;
}
body .follow-paragon .heritage{
    min-height: inherit;
    padding: 0 10px 10px !important;
}
body .follow-paragon h4 {
    margin: 20px 0;
}
body .follow-paragon p {
    font-size: 14px;
}
body .category-product-slider .owl-theme .owl-controls .owl-buttons .owl-prev{
	background: url("../images/slider-left-mob.png") no-repeat 0 0;
}
body .category-product-slider .owl-theme .owl-controls .owl-buttons .owl-next{
	background: url("../images/slider-right-mob.png") no-repeat 0 0;
}
body .locationsContain select{
	width: 31.45%;
}
body .right-form{
	padding: 30px !important;
}
body .right-form p{
	font-size: 36px;
    line-height: 44px;
}
body #reviewform{
	width: 100%;
}
body #reviewform .form-list li{
	    margin: 0 0 15px;
}
body #reviewform .table{
	    margin: 0;
}
body #reviewform .table-responsive{
	margin: 15px 0;
}
body #coupon-popup .modal-dialog{
    width: 94%;
    margin: 40px auto 0;
}
body #coupon-popup .modal-body {
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}
body .right-coupon-popup{
	float:none !important;
}
body .reset-password{
	width: 100%;
}
body .reset-password .form-list .field{
	margin: 10px 0;
    width: 100%;
}
body .trending-now.shop-style ul li {
    width: 46%;
    margin: 0 5px 15px;
}
body .slider-left{
    width: 100%;
	float: none;
}
body .paragon-brands {
    width: 100%;
    float: none;
}
body .paragon-brands ul li{
width: 90px;
    margin: 0 32px 24px;
}
.best-sell-product ul{
    text-align: center;
}
.best-sell-product ul li {
    list-style: none;
    display: inline-block;
    width: 31%;
    margin: 0 0 10px;
}
#dailydeal_countdown{
    margin: 0 0 0 10px;
}
body .shop-style h4{
	 line-height: 24px;
	font-size: 16px;
}
body .shop-style p{
font-size: 13px;
}
body .blog-block-para a{
    margin: 0 22px 0 0;
}
body .blog-block.shop-style ul li{
width: 46%;
    margin: 0 5px;
}
body .shippinp-details li{
    vertical-align: top;
    width: 43%;
}
body .shippinp-details li span {
    margin: 5px 10px;
}
body .follow-paragon .form-search .btn{
    margin: 10px 0 10px;
}
body .navbar-default{
	padding: 10px 0;
}
}

@media (max-width: 360px) {
	.navbar-brand {
		margin-left: 7% !important;
	}
	.products-grid li{
		padding:5px;
	}
	.products-grid .product-name {
    	font-size: 14px;
	}


}
@media (max-width: 320px) {
	.navbar-brand {
		margin-left: 3% !important;
	}


/* Store locator css */

body .locationsContain select{
		    width: 100%;
			margin: 0 0 10px;
	}

body .storeDetails {
    	width: 100%;
		float:none;
	}

body .mapBox {
    	width: 100%;
    	height: 300px;
		float:none;
	}
}
@media only screen and (max-width:600px){
.best-sell-sub{
width:100%;
}
.bestSeller-text{
padding-left:0;
}
.newHomePage-onlyImageLink img {
    width: 100%;
    padding: 10px 0px;
}
.shopNewIn-content-column{
    width: 100%;
    padding: 0;
    text-align: center;
}
.newHomePage-logos .clearfix{
padding:0;
}
.newHomePage-blog{
padding:0;
}
.col-lg-4.col-md-4.col-sm-12.col-xs-12.blog-content-p p{
	min-height: unset;
}
body .follow-paragon{
	margin: 0 !important;
}
.newHomePage-logos .table >tbody>tr>td img{
	width: 40px;
}
.footer-content ul li{
	width:100%;
}
.newHomePage-logos .col-xs-12{
	margin: 10px 0;
}
}
@media only screen and (max-width: 600px) {
.col-lg-1.col-md-1.col-xs-6.col-sm-6.newHomePage-shopByStyle-element-1 {
    width: 50% !important;
    margin: 10px 0;
}
.newHomePage-stayConnected-content input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 0px 0 20px;
}
.newHomePage-stayConnected-content button{
	width:80%;
}
.mob-hide{
	display: none;
}
.span-top {
    color: white;
    font-size: 18px;
}

.logo-change {
    height: 38px;
    padding: 0 10px;
}
	.newHomePage-logos .col-lg-10.col-md-10.col-sm-12.col-xs-12 {
    padding: 0;
}
.newHomePage-logos .table >tbody>tr>td img {
    width: 100%;
}
.best-sell-sub .bestSeller-text{
	padding: 10px;
    width: 100%;
}
.bestSeller-text-content{
	padding: 10px;
}
.bestSeller-text-content p.best-para-1{
	padding: 10px;
}
p.newHomePage-best-seller-seeAll{
	padding: 10px;
}
.newHomePage-onlyImageLink{
	padding: 0;
}
.newHomePage-onlyImageLink img{
	padding: 0;
}
.shop-new-sub{
	min-height: 250px;
}
.category-product-slider .owl-theme .owl-controls .owl-buttons .owl-next{
	right:15px !important;
}
.newHomePage-logos .col-lg-3{
	padding: 0;
}
.newHomePage-logos .table > tbody > tr > td{
	padding: 0;
}
.footer-cashon{
	vertical-align: top;
	    width: 18%;
}
.footer-cashon img{
	vertical-align: top;
}
.col-lg-1.col-md-1.col-xs-6.col-sm-6.newHomePage-shopByStyle-element-1 {
    min-height: 50px;
    max-height: 50px;
}
.best-sell-sub .bestSeller-text{
	min-height: 250px;
}
.newHomePage-onlyImageLink-2 .clearfix{
	padding: 0;
}
.newHomePage-onlyImageLink-2 .clearfix .col-xs-12{
	padding: 0;
}
body .footer-cashon{
display: -webkit-inline-box;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    padding: 0 0 0 33%;
}
.footer-cashon img {
    width: auto;
    max-width: 30px;
}
.newHomePage-stayConnected{
	padding: 30px 0;
}
.newHomePage-logos .col-lg-3.col-md-3.col-sm-12.col-xs-12{
	margin: 0;
}
.newHomePage-blog-text p:nth-child(1){
	font-size: 18px;
}
body p.newHomePage-stayConnected-para-2{
	padding: 15px 50px;
}
.logo-change.pad-top-20{
	padding: 0;
}
#address_wrapper .address-fields {
    min-height: unset;
    height: auto;
    border: 0;
}
.track-top-inner {
    position: absolute;
    right: 0;
    top: 40%;
}
.track-top-inner p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
}
.apply-discount-slide{
	width: 100%;
}
#applycoupon .modal-dialog{
	width: 100%;
}
#applycoupon .modal-dialog .avail-coupons{
	width: 100%;
}
#applycoupon .modal-dialog .modal-body{
	padding:0;
}
#applycoupon {
    padding-right: 0 !important;
    padding: 17% 0 0;
}
body #social-button-container .social-button-wapper ul li{
	    width: 100%;
    display: block;
}
body #magegiant-sociallogin-create-new-customer {
    display: block;
    padding: 10px 0;
}
body #magegiant-sociallogin-container .giant-sociallogin-auth-form-block input{
  width:90%;
}
body .giant-sociallogin-auth-form-block.custm-login-pwd {
    width: 45%;
    display: inline-block;
    margin: 0 5px;
}
.bottom-sinup{
	bottom: auto;
    width: 100%;
    top: 9%;
}
.signup-new{
	display: inline-block;
	width: 100%;
	padding: 0px 30px;
	text-align: center;
}
.signup-new h4{
	font-size: 16px;
}
.signup-right-bar{
	width: 100%;
    display: inline-block;
}
.bottom-sinup h4.sign-offer{
	text-align: center;
	width: 100%;
	line-height: 30px;
}
.bottom-sinup #subscribe{
	display: inline-block;
    width: 100%;
    text-align: center;
}
.bottom-sinup #subscribe .input-box{
	width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    text-align: center;
}
.bottom-sinup #subscribe input{
    width: 70%;
    text-align: left;
    display: inline-block;
}
.bottom-sinup #subscribe .buttons-set input{
	width: 100%;
}
.bottom-sinup #subscribe-bar{
	position: absolute;
    right: 5%;
    top: 9%;
    border-radius: 25px;
    height: 28px;
    width: 28px;
    font-size: 20px;
    line-height: 27px;
    border-color: #ed3c35;
    color: #ed3c35;
    background: #393939;
}
.sign-tanx-bar{
	width: 100%;
}
.sign-tanx-bar h5{
	 font-size: 11px;
}
.lds-spinner{
	left: 40%;
}
.bottom-sinup .subscribe-msg{
	background: transparent;
}
body .dl-menuwrapper li .dl-submenu a{
	border: 0;
}
}
