#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0; top: 15% !important;}
#lightbox img{ width: auto; height: auto;     vertical-align: top;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff;     width: 40% !important;
    height: 40% !important; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100% !important; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 12px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto;     width: 40% !important;}

#imageData{	padding:0 12px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

.wrap{
    display: block;
}

.zoomIn{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    /*background-color: green;*/
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    opacity: 0.4; 
    filter: alpha(opacity=40);

}

#divName{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity: 0.6; 
    filter: alpha(opacity=60);
}

a:hover .zoomIn{
    cursor: move;
}

#newdiv{
    /* shadow */
    -moz-box-shadow: 5px 6px 10px rgba(0,0,0,0.25); /* Firefox */
    -webkit-box-shadow: 5px 6px 10px rgba(0,0,0,0.25); /* Safari and Chrome */
    box-shadow: 5px 6px 10px rgba(0,0,0,0.25); /* parameters for shadow */
}