<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.6.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $_order = $this->getOrder() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel()) ?></h1>
    <?php if ($this->helper('rss/order')->isStatusNotificationAllow()): ?>
        <a href="<?php echo $this->helper('rss/order')->getStatusHistoryRssUrl($_order) ?>" class="link-rss"><?php echo $this->__('Subscribe to Order Status') ?></a>
        <span class="separator">|</span>
    <?php endif; ?>
    <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
        <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
        <span class="separator">|</span>
    <?php endif ?>
    <a href="<?php echo $this->getPrintUrl($_order) ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Print Order') ?></a>
    <?php if (Mage::helper('awrma')->isEnabled() && Mage::helper('awrma')->isAllowedForOrder($_order)) : ?>
        <span class="separator">|</span>
        <a href="<?php echo $this->getUrl('awrma/customer_rma/createfororder/', array('order_id' => $_order->getIncrementId())) ?>" class="link-print"><?php echo $this->__('Request Return') ?></a>
    <?php endif ?>
</div>
<?php echo $this->getStatusHistoryRssUrl($_order) ?>
<?php /*?><dl class="order-info">
    <dt><?php echo $this->__('About This Order:') ?></dt>
    <dd>
        <?php $_links = $this->getLinks(); ?>
        <ul id="order-info-tabs">
            <?php foreach ($_links as $_link): ?>
                <?php if ($_link->getUrl()): ?>
                    <li><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
                <?php else: ?>
                    <li class="current"><?php echo $_link->getLabel() ?></li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
        <script type="text/javascript">decorateGeneric($('order-info-tabs').select('LI'),['first','last']);</script>
    </dd>
</dl><?php */?>
<p class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></p>
<div class=" address-block clearfix">

    <div class="col-md-4 col-sm-4 col-xs-12 no-pad">
         	 <div class="panel panel-default no-radius">
              	<div class="panel-heading">Order Information</div>
                  <div class="panel-body">
                    <p class="">Order No : <?php echo $_order->getRealOrderId(); ?></p>
                    <p class="">Payment :  <?php echo $this->getPaymentInfoHtml() ?></p>
                    <p class="">Your order will be delivered in 3-5 days.</p>
                  </div>
             </div>
       </div>
<?php if (!$_order->getIsVirtual()): ?>
      <div class="col-md-4 col-sm-4 col-xs-12 no-pad">
       
               <div class="panel panel-default no-radius">
                    
                   <div class="panel-heading"><?php echo $this->__('Shipping Address') ?></div>
                    <div class="panel-body">
                    	<address><?php echo $_order->getShippingAddress()->format('html') ?></address>
         
    
                    <p><?php echo $this->__('Shipping Method') ?><?php /* | <a href="#"><?php echo $this->__('Track Order') ?></a> */ ?></p>
                
               
                    <?php if ($_order->getShippingDescription()): ?>
                        <?php echo $_order->getShippingDescription() ?>
                    <?php else: ?>
                        <p><?php echo $this->helper('sales')->__('No shipping information available'); ?></p>
                    <?php endif; ?>
                    </div>
              
           </div>
    </div>
<?php endif; ?>
 <div class="col-md-4 col-sm-4 col-xs-12 no-pad">
     <div class="panel panel-default no-radius">
                    
                   <div class="panel-heading">
               <?php echo $this->__('Billing Address') ?></div>
              <div class="panel-body">
                <address><?php echo $_order->getBillingAddress()->format('html') ?></address>
          
   
                <p><?php echo $this->__('Payment Method') ?></p>
           
                <?php echo $this->getPaymentInfoHtml() ?>
           </div>
           </div>
</div>
</div>