<!--@subject Register Coupon  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content" style="text-align:center;">
<p style="font-family: arial;font-size: 18px;line-height: 24px;padding: 0;">Congratulations!</p>
<p style="font-family: arial;font-size: 18px;line-height: 24px;padding: 0;">Thanks for visiting our site. As our new visitor, here's your special offer code to get 10% off on your first order with us.<h2 style="font-family: 'arial';font-size: 24px;text-transform: uppercase;font-weight: normal;margin: 35px 0 20px;">Your code:</h2>
<p style="font-family: 'arial';font-size: 27px;text-transform: uppercase;font-weight: bold;margin: 0 0 20px;color:#db0e15;line-height: 30px;">{{var couponcode}}</p>
<p style="margin: 10px 0 5px;"><a style="color: #3696c2;background: #db0d17;display: inline-block;color: #fff;text-decoration: none;font-family: arial;font-size: 20px;text-transform: uppercase;padding: 20px 50px;font-weight: bold;" href="{{store url="customer/account/"}}">Start Shopping </a> </p>
<p style="font-family: 'arial';font-style: italic;padding: 0 0 10px;margin: 0;font-size: 14px;">*code valid for only next 15 days</p>
<p style="display: inline-block; border-bottom: 2px solid #000; padding: 0 0 10px; width: 40px; margin: 0;"></p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
