
.tbox {
    position: absolute;
    display: none;
    padding: 0;
    z-index: 99999;
	background: #fff;
    border:0;
}

.tinner {
    /*padding: 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    background: #fff url(images/preload.gif) no-repeat 50% 50%;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.tmask {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 9999
}

.tclose {
       background: url("images/close-icon.png") no-repeat 0 0;
    cursor: pointer;
    height: 13px;
    position: absolute;
    right:6px;
    top: 10px;
    width: 12px;
    padding: 5px;
    text-align: center;
}

.tclose:hover {
    _background-position: 0 -30px
}

#error {
    background: #ff6969;
    color: #fff;
    text-shadow: 1px 1px #cf5454;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0
}

#error .tcontent {
    padding: 10px 14px 11px;
    border: 1px solid #ffb8b8;
    -moz-border-radius: 5px;
    border-radius: 5px
}

#success {
    background: #2ea125;
    color: #fff;
    text-shadow: 1px 1px #1b6116;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10;
    -moz-border-radius: 0;
    border-radius: 0
}

#bluemask {
    background: #4195aa
}

#frameless {
    padding: 0
}

#frameless .tclose {
    left: 6px
}
