<?php  $_order = $this->getOrder() ?>
<?php
    $shippingAddress = $_order->getShippingAddress();
    $region = $shippingAddress->getRegion();
    $Urstate = Mage::helper('gstcharge')->isUniTerrState($region);
?>
<table class="data-table" id="my-orders-table" summary="<?php echo Mage::helper('core')->quoteEscape($this->__('Items Ordered')) ?>">
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <col width="1" />
   <thead>
        <tr>
            <th><span class="nobr"><?php echo $this->helper('sales')->__('Product') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('HSN CODE') ?></span></th>

                <th><span class="nobr"><?php echo $this->helper('sales')->__('Qty') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Price') ?></span></th>

                <th><span class="nobr"><?php echo $this->helper('sales')->__('Subtotal') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Discount') ?></span></th>

                <th><span class="nobr"><?php echo $this->helper('sales')->__('Taxable Amount') ?></span></th>
                <th><span class="nobr">
					<table>
                      <tbody style="background:none;text-align:center">
                    	<tr>
                        	<td colspan="2"><?php echo $this->helper('sales')->__('CGST') ?></span></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                       </tbody>
                    </table>
				</th>

                <th><span class="nobr">
					<table>
                      <tbody style="background:none;text-align:center">
                    	<tr>
                        	<?php if($Urstate)
							{ ?>
                            <td colspan="2"><?php echo $this->helper('sales')->__('UTGST') ?></span></td>
                            <?php } else { ?>
                        	<td colspan="2"><?php echo $this->helper('sales')->__('SGST') ?></span></td>
                            <?php } ?>
                        </tr>
                        <tr>
                        	<td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                       </tbody>
                    </table>
				</th>

                <th><span class="nobr">
					<table>
                      <tbody style="background:none;text-align:center">
                    	<tr>
                        	<td colspan="2"><?php echo $this->helper('sales')->__('IGST') ?></span></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                       </tbody>
                    </table>
				</th>

                <th><span class="nobr"><?php echo $this->helper('sales')->__('Total Amount') ?></span></th>

        </tr>
    </thead>
    <tfoot>
    <?php echo $this->getChildHtml('order_totals') ?>
 <?php $_items = $_order->getItemsCollection(); ?>
        <?php $_index = 0; ?>
            <?php $_count = $_items->count(); ?>
        <?php foreach ($_items as $_item): ?>
        <?php if ($_item->getParentItem()) continue; ?>
        <tbody>
            <?php echo $this->getItemHtml($_item) ?>
            <?php if($this->helper('giftmessage/message')->getIsMessagesAvailable('order_item', $_item) && $_item->getGiftMessageId()): ?>
            <tr class="border<?php echo ($_index++ > $_count ?' last':'') ?>" id="order-item-gift-message-<?php echo $_item->getId() ?>" style="display:none;">
                <?php $_giftMessage=$this->helper('giftmessage/message')->getGiftMessageForEntity($_item); ?>
                <td class="gift-message-row" colspan="7">
                    <a href="#" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Close')) ?>" onclick="return giftMessageToogle('<?php echo $_item->getId() ?>');" class="btn-close"><?php echo $this->__('Close') ?></a>
                    <dl class="gift-message">
                        <dt><strong><?php echo $this->__('From:') ?></strong> <?php echo $this->escapeHtml($_giftMessage->getRecipient()) ?></dt>
                        <dt><strong><?php echo $this->__('To:') ?></strong> <?php echo $this->escapeHtml($_giftMessage->getSender()) ?></dt>
                        <dd><?php echo $this->helper('giftmessage/message')->getEscapedGiftMessage($_item) ?></dd>
                    </dl>
                </td>
            </tr>
            <?php endif ?>
        </tbody>
        <?php endforeach; ?>
</table>
<script type="text/javascript">decorateTable('my-orders-table', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
