<div style="left: -2px; top: 0px; width: 1349px; height: 1615px; display :none;" id="loading-mask">
    <p id="loading_mask_loader" class="loader"><img alt="Loading..." src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif') ?>"><br>Please wait...</p>
</div>

<div>
 <div class="entry-edit package-creation">       
        <div class="entry-edit-head">        
      		 <h2 class="icon-head"> New Manifest </h2>
        </div>
        <div class="fieldset manifest-fieldset">
		
				<div class="manifest-filter">
					<label>Pickup Date </label>
					<input type="text" id="pickup-date" name="pickup-date" />
			
					<?php
					$helper  = Mage::helper('manifest');
					$serviceproviders = $helper->getServiceproviders();	
					?>
					<label>Logistic Service Provider </label>
					
					<select name="service-provider" id="service-provider">
					<?php 
					foreach($serviceproviders as $code => $title) { ?>
						<option value="<?php echo $code; ?>"><?php echo $title ?></option>
					<?php } ?>
					</select>
					
					<label>Manifest Name</label>
					<input type="text" id="manifest-name" name="manifest-name" autofocus="autofocus"/>
				</div>
				<fieldset>
					<form id="airwaybarform" method="post" name="airwaybarform" class="manifest-barform">
							<span>Please scan airway bill barcode</span>
							<div class="barcode-txt">
								<input type="text" id="airway-barcode" />
							</div>
							<div class="clear"></div>
					</form>
				</fieldset>


<div id="packageditems"> 
		<div class=" grid np">
			  
				<div class="entry-edit">
					<div class="entry-edit-head">
						<h4 class="icon-head head-payment-method">Items Ordered</h4>
					</div>
					
					<input id="hid-prodids" type="hidden" />
					 <div class="hor-scroll">
						<table cellspacing="0" class="data order-tables" id="packaged-table">
								<colgroup><col>
								<col width="1">
								<col width="1">
								<col width="1">
								<col width="1"></colgroup>
						<thead>
							<tr class="headings">
								<th>Tracking Number</th>  
								<th class="a-center">Order #</th>
								<th class="a-center">Shipment #</th>
								<th class="a-center">Shipping Address</th> 	
								<th class="a-center">No of Products</th> 							
								<th class="last"><span class="nobr">Price</span></th>
								<th class="a-center">Payment Method</th> 
								<th class="a-center">Product Description</th> 
							</tr>
						</thead>
						
							<tbody class="even">
								<tr id="nodata"><td colspan="9" style="text-align:center">
								<h1>No Packages scanned</h1>
								</td> </tr>
							</tbody>
						 </table>
					</div>
				</div>
		</div>  
</div>

<div class="box-right package-details">
	<div class="entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-account"><?php echo Mage::helper('sales')->__('Package Information') ?></h4>            
			</div>
		 <fieldset>
		   Total package : <span id="totalpkgs"></span>
					<button id="btn-manifest" value="SAVE MANIFEST" class="create-btn disabled" >SAVE MANIFEST</button>/
			</fieldset>	
			</div>
  <?php 
	   $userd = Mage::getSingleton('admin/session');
      $userFirstname = $userd->getUser()->getFirstname();
	  $username = $userd->getUser()->getUsername(); ?>
	  <input type="hidden" value="<?php echo $userFirstname?>" id="admin-name" />
	  <input type="hidden" value="<?php echo $username?>" id="admin-username" />
</div>
<div class="clear"></div>
</div>
</div>
 </div>
		


<script type="text/javascript">// <![CDATA[
Calendar.setup({
    inputField : 'pickup-date',
    ifFormat : '%e %b %Y',
    button : 'date_from_trig',
    align : 'Bl',
    singleClick : true
});
</script><script type="text/javascript">var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];var dayNames= ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];var newDate = new Date();newDate.setDate(newDate.getDate());    var values = newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear();document.getElementById('pickup-date').value = "<?php echo Mage::getModel('core/date')->date('d-M-Y')?>";</script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">jQuery.noConflict();
jQuery(document).ready(function() {
	jQuery("#airway-barcode").focus();
	jQuery("#loading-mask").hide();
	jQuery("#btn-manifest").attr("disabled","disabled");	
	jQuery("#btn-manifest").addClass("discreate-btn");
	
	jQuery('form').submit(function(event) {

	
        // get the form data        
        var formData = {
            'airwaybarcode'              : jQuery("#airway-barcode").val(),
			'provider'              	 : jQuery("#service-provider").val()			
        };

			
		//jQuery("#loading-mask").show();
		
        // process the form
        jQuery.ajax({
            type        : 'POST', 
            url         : "<?php echo $this->getUrl('manifest/index/getpackages') ?>", 
            data        : formData, 
            dataType    : 'json',
           encode       : true,
		   beforeSend: function( xhr ) {
                                            jQuery('#loading-mask').show();
                                      },
        })
            // using the done promise callback
            .done(function(data) {              
                //console.log(data); 
				jQuery("#nodata").hide();	
				jQuery("#loading-mask").hide();
				
				if(data.success==1) {
					jQuery("#btn-manifest").addClass("create-btn");
					jQuery("#btn-manifest").removeClass("discreate-btn disabled");
					
					var target = jQuery('#packaged-table').find('tr#ship_'+data.ship_id);

					if (target.length > 0 )
					{	
						alert("Already Scanned");
					} else {
					jQuery("#packaged-table").append('<tr id="ship_'+data.ship_id+'"><td>'+data.tracking_number+'</td><td>'+data.order_number+'</td><td>'+data.shipment_number+'</td><td>'+data.shipping_address+'</td><td>'+data.qty+'</td><td>'+data.amount+'</td><td>'+data.payment_method+'</td><td>'+data.product+'</td></tr>');
					
					var rowCount = jQuery('#packaged-table tr').length;
					
					jQuery("#totalpkgs").text(rowCount-2);
					
					var cur_val = jQuery('#hid-prodids').val();
						
						if(cur_val)
						  jQuery("#hid-prodids").val(cur_val + "||" + data.ship_id);
						else
						  jQuery("#hid-prodids").val(data.ship_id);
					}
					
					
				} else {
					alert("No packages found");
				}
				jQuery("#btn-manifest").removeAttr("disabled");
				jQuery("#airway-barcode").val('');	
				jQuery("#airway-barcode").focus();	

            });

        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });

	
	jQuery('#btn-manifest').click(function() {
		
		 // get the form data        
        var formData = {
            'shipids'           : jQuery("#hid-prodids").val(),
			'name'              : jQuery("#manifest-name").val(),
			'pickdate'          : jQuery("#pickup-date").val(),
			'provider'          : jQuery("#service-provider").val(),
			'admin-name'        : jQuery("#admin-name").val(),
			'admin-uname'       : jQuery("#admin-username").val()
        };

		var pickdate = jQuery("#pickup-date").val();
		var target   = jQuery("#hid-prodids").val();

		if(pickdate=='') {
			jQuery("#airway-barcode").focus();
			alert("Please choose the pickup date");
			return false;
		}
		
		if(target=='') {
			jQuery("#airway-barcode").focus();
				alert("No packages scanned");
				return false;
		}
		
//jQuery("#loading-mask").show();		
        // process the form
        jQuery.ajax({
            type        : 'POST', 
            url         : "<?php echo $this->getUrl('manifest/index/savemanifest') ?>", 
            data        : formData,            
            encode       : true,
			beforeSend: function( xhr ) {
                                            jQuery('#loading-mask').show();
                                      },
        })
            // using the done promise callback
            .done(function(data) {              
               jQuery("#loading-mask").hide();
			   window.location.href="<?php echo $this->getUrl('admin_manifest/adminhtml_manifestbackend/index') ?>";

            });

        
	});
	
});

</script>  