<div style="left: -2px; top: 0px; width: 1349px; height: 1615px; display :none;" id="loading-mask">
    <p id="loading_mask_loader" class="loader"><img alt="Loading..." src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif') ?>"><br>Please wait...</p>
</div>


 <div class="entry-edit package-creation">       
        <div class="entry-edit-head">        
      		 <h2 class="icon-head"> New Stock Report </h2>
        </div>
        <div class="fieldset manifest-fieldset">
				<form id="reportform" action="<?php echo Mage::helper('adminhtml')->getUrl('manifest/adminhtml_reports/new'); ?>" method="post" name="reportform" class="manifest-barform">								
				<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
				<input type="submit" id="btn-manifest" value="Report" class="create-btn" />				
				</form>	
		</div>	
</div>

<script type="text/javascript">
//<![CDATA[
    var reportform = new VarienForm('reportform', true);
//]]>
</script>

