#magegiant-sociallogin-container {

}

#magegiant-sociallogin-container input, #magegiant-sociallogin-container select, #magegiant-sociallogin-container textarea {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.magegiant-sociallogin-popup {
    width: 900px;
    z-index: 200;
    overflow: hidden;
    height: auto !important;
    text-align: left;
    top: 10%;
}
.magegiant-sociallogin-popup h4{
    font-weight: bold;
    margin: 20px 0;
    font-size: 20px;
    text-transform: uppercase;
}

#magegiant-sociallogin-container .sociallogin-title {
       margin: 0 0 10px;
    padding: 10px;
    background-position: 12px center;
    background-repeat: no-repeat;
}

#magegiant-sociallogin-container .sociallogin-title h2 {
    color: #fff;
    font-size: 18px;
}

#magegiant-sociallogin-container .sociallogin-title.create-account-title {
    background-image: url(images/create-account-title.png);
}

#magegiant-sociallogin-container .sociallogin-title.login-title {
    background-image: url(images/login-title.png);
}

#magegiant-sociallogin-container .sociallogin-title.forgot-pass-title {

}

#magegiant-sociallogin-container .form-list .input-box {
    width: auto;
}
#magegiant-sociallogin-container .form-list .gender .input-box{
	float: left;
    width: 75%;
    margin-left: 5px;
	clear: none;
}
#magegiant-sociallogin-container .form-list .gender.tnc .input-box{
	    width: 100%;
        padding: 0 0 0 15%;
}
#magegiant-sociallogin-container .form-list .gender.tnc .input-box label{
    font-size: 14px;
    width: 90%;
    text-align: left;
}
#magegiant-sociallogin-container .giant-sociallogin-auth-form-block input {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 8px;
    height: 30px;
    border-bottom: 1px solid #ddd !important;
    border: 0;
}
#magegiant-sociallogin-container .gender .input-text{
	    width: 14px;
    height: auto;
    float: left;
    margin-right: 5px;
}
#magegiant-sociallogin-container .button {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
}

#magegiant-sociallogin-container button.button span {
    border: none;
    background: none;
}

#magegiant-create-back{
	padding:5px 0;
	border-color: #000;
}
.giant-sociallogin-auth-form-block {
    display: block;
    padding: 5px 0;
}

.giant-sociallogin-auth-form-block .button {
    float: right;
    min-height: 30px;
    min-width: 80px;
}

.giant-sociallogin-auth-form-block .button:hover {
    opacity: 0.6;
}

#magegiant-sociallogin-authentication, #sociallogin-forgot {
    padding: 0 10px;
}
 #magegiant-socialogin-create-user{
   padding: 1% 1% 0;
 }
.ajax-login-image {
    background: url(images/ajax-loader.gif) no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.magegiant-invalid-email {
    color: red;
}

.magegiant-success-email {
    color: green;
}

/*Social button*/
#social-button-container {
      padding: 0% 0 0;
}

#social-button-container .social-button-wapper {
    display: block;
}

#social-button-container .social-button-wapper ul {
    padding: 10px 20px;
	margin:0;
}

#social-button-container .social-button-wapper ul li {
/*    float: left;*/
    margin-bottom: 10px;
	    text-align: center;
            width: 49%;
    display: inline-block;
}

#social-button-container .social-button-wapper ul li button {
       padding: 0;
    width: auto;
    background: none;
    border: 0;
    display: inline-block;
}

#social-button-container .social-button-wapper ul li button img {
/*    width: 25px;
    float: left;*/
}

#social-button-container .social-button-wapper ul li button span {
    float: left;
    margin-left: 10px;
	display:none;
}
/*.magegiant-login-form-popup .form-list{
	float: left;
    width: 36%;
	border-right: 1px solid #999;
    padding: 0 20px 0 0;
}*/
.or{

    display: block;
    text-align: center;
    width: 300px;
	margin: 0;
	border:1px solid #999;
}
.social-list{
	    width: 100%;
}
.social-list a{
	margin:0 0 10px;
}
#magegiant-sociallogin-create-new-customer, #magegiant-create-back, #magegiant-forgot-back{
	font-size:12px;
	color:#666;
	padding-left:0;
}

#magegiant-sociallogin-form-forgot #magegiant-create-back{
	margin:0;
}
#magegiant-sociallogin-form-forgot{
    text-align: center;
}
#magegiant-sociallogin-form-forgot h2{
  font-size: 20px;
  padding: 1% 0;
}
#magegiant-sociallogin-popup #sociallogin-forgot{
	text-align:left;
  padding: 10% 0 0;
}
#sociallogin-forgot .giant-sociallogin-auth-form-block{
	width: 100%;
    margin: 10px auto;
}
#sociallogin-forgot .giant-sociallogin-auth-form-block label{
	    float: none;
		color:#000;
}
#magegiant-sociallogin-container #sociallogin-forgot .input-text{
	    margin-bottom: 0;
      width:70%;
}
.giant-sociallogin-auth-form-block.custm-login-pwd{
  width: 48%;
  display: inline-block;
  margin: 0 3px;
}
.giant-sociallogin-auth-form-block.last{
  padding: 5px 0 0;
}
#magegiant-sociallogin-container #magegiant-sociallogin-form .giant-sociallogin-auth-form-block input{
  width:70%;
}
#magegiant-sociallogin-container #magegiant-sociallogin-form-create .giant-sociallogin-auth-form-block input{
  height: 25px;
}
#magegiant-sociallogin-container #magegiant-socialogin-create-user #social-button-container .social-button-wapper ul{
  padding: 0px 20px;
}
#magegiant-sociallogin-container #magegiant-socialogin-create-user #social-button-container{
  padding:0;
}
#magegiant-sociallogin-container #magegiant-socialogin-create-user #social-button-container .social-custom{
  padding: 1% 0 2%;
}
