<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.6.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="messages">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>
<?php $_rmaRequest = $this->getRMARequest() ?>
<script type="text/javascript">
    var awrmaConfirmText = '<?php echo $this->getPreparedJSConfirmText() ?>';
</script>
<div class="awrma-account">
    <?php if ($_rmaRequest) : ?>
        <?php $_order = Mage::getModel('sales/order')->loadByIncrementId($_rmaRequest->getOrderId()) ?>
        <div class="page-title title-buttons">
            <h1><?php echo $this->__('Your Returns ') . $_rmaRequest->getTextId() ?>&nbsp;&ndash;&nbsp;<?php echo Mage::getModel('awrma/entitystatus')->load($_rmaRequest->getStatus())->getName() ?></h1>
            <?php if (Mage::helper('awrma/config')->getAllowPrintLabel() && $_rmaRequest->getStatus() != Mage::helper('awrma/status')->getResolvedCanceledStatusId()) : ?>
                <?php if ($_rmaRequest->getStatus() != Mage::helper('awrma/status')->getPendingApprovalStatusId()) : ?>
                    <a href="<?php echo $this->getPrintLabelUrl() ?>" class="link-awrma-printlabel"><?php echo $this->__('Print Label') ?></a>
                    <span class="separator">|</span>
                <?php endif ?>
            <?php endif ?>
            <?php if ($_rmaRequest->getIsActive()) : ?>
                <?php if (Mage::helper('awrma/config')->getRequireConfirmSending() && $_rmaRequest->getStatus() != Mage::helper('awrma/status')->getPackageSentStatusId()) : ?>
                    <?php if ($_rmaRequest->getStatus() == Mage::helper('awrma/status')->getApprovedStatusId()) : ?>
                        <a href="<?php echo $this->getConfirmSendUrl() ?>" class="link-awrma-confirmsend" onclick="return confirm(awrmaConfirmText);"><?php echo $this->__('Confirm Shipping') ?></a>
                        <span class="separator">|</span>
                    <?php endif ?>
                <?php endif ?>
                <?php if (Mage::helper('awrma/config')->getAllowCancel() && $_rmaRequest->getStatus() != Mage::helper('awrma/status')->getPackageSentStatusId()) : ?>
                    <a href="<?php echo $this->getCancelUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to cancel this RMA?') ?>')" class="link-awrma-cancel"><?php echo $this->__('Cancel') ?></a>
                <?php endif ?>
            <?php endif ?>
        </div>
        <div class="fieldset">
            <h2 class="legend"><?php echo $this->__('Request Information') ?></h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('RMA ID:') ?></strong> <?php echo $_rmaRequest->getTextId(); ?>
                    </div>
                    <div class="field">
                        <strong><?php echo $this->__('Initiated at:') ?></strong> <?php echo $this->formatDate($_rmaRequest->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true) ?>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('Order ID:') ?></strong> <?php if ($this->getGuestMode()) : ?><?php echo $_rmaRequest->getOrderId() ?><?php else : ?><a href="<?php echo $this->getUrl('sales/order/view', array('order_id' => $_order->getId())) ?>">#<?php echo $_rmaRequest->getOrderId() ?></a><?php endif ?>
                    </div>
                    <?php if (Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType())) : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Request Type:') ?></strong> <?php echo Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType()) ?>
                        </div>
                    <?php else : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Package Opened:') ?></strong> <?php echo Mage::getModel('awrma/source_packageopened')->getOptionLabel($_rmaRequest->getPackageOpened()) ?>
                        </div>
                    <?php endif ?>
                </li>
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('Status:') ?></strong> <?php echo Mage::getModel('awrma/entitystatus')->load($_rmaRequest->getStatus())->getName() ?>
                    </div>
                    <?php if (Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType())) : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Package Opened:') ?></strong> <?php echo Mage::getModel('awrma/source_packageopened')->getOptionLabel($_rmaRequest->getPackageOpened()) ?>
                        </div>
                    <?php endif ?>
                </li>
                <?php if (Mage::helper('awrma/config')->getReasonsEnabled()) : ?>
                    <li class="fields">
                        <div class="field">
                            <strong><?php echo $this->__('Reason:') ?></strong>
                            <?php if ($_rmaRequest->getReasonId() == 0) : ?>
                                <?php echo $this->__('Other'); ?>
                            <?php else: ?>
                                <?php echo Mage::getModel('awrma/entityreason')->load($_rmaRequest->getReasonId())->getName() ?>
                            <?php endif; ?>
                        </div>
                        <?php if ($_rmaRequest->getReasonId() == 0) : ?>
                            <div class="field">
                                <strong><?php echo $this->__('Reason Details:') ?></strong> <?php echo $_rmaRequest->getReasonDetails(); ?>
                            </div>
                        <?php endif ?>
                    </li>
                <?php endif;?>
            </ul>
        </div>
        <h4><?php echo $this->__('Items RMA Requested for') ?></h4>
        <table id="awrma-requested-items" class="data-table">
            <col />
            <col width="100" />
            <col width="1"/>
            <thead>
                <tr>
                    <th><?php echo $this->__('Product Name') ?></th>
                    <th><?php echo $this->__('SKU') ?></th>
                    <th><?php echo $this->__('Qty') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php $_requestedItems = $_rmaRequest->getOrderItems() ?>
                <?php foreach (Mage::helper('awrma')->getItemsHtml($_rmaRequest, array('view_only' => true, 'items' => array_keys($_requestedItems))) as $item) : ?>
                    <?php echo $item ?>
                <?php endforeach ?>
            </tbody>
        </table>
        <?php if (!(!$_rmaRequest->getIsActive() && (!$this->getComments() || !$this->getComments()->getSize()))) : ?>
            <div class="fieldset">
                <h2 class="legend"><?php echo $_rmaRequest->getIsActive() ? $this->__('Leave Comment') : $this->__('Messages History') ?></h2>
                <?php if ($_rmaRequest->getIsActive()) : ?>
                    <?php $_formData = $this->getFormData() ?>
                    <form method="post" id="awrma-comment-form" action="<?php echo $this->getCommentUrl() ?>" enctype="multipart/form-data">
                        <input type="hidden" name="MAX_FILE_SIZE" value="<?php echo Mage::helper('awrma/config')->getMaxAttachmentsSize() ?>" />
                        <?php echo $this->getBlockHtml('formkey') ?>
                        <ul class="form-list">
                            <li class="wide">
                                <label for="awrma-comment-text" class="required"><em>*</em><?php echo $this->__('Comment Text') ?></label>
                                <div class="input-box">
                                    <textarea name="comment" id="awrma-comment-text" class="required-entry"><?php if ($_formData && isset($_formData['comment']))
                echo $_formData['comment'] ?></textarea>
                                </div>
                              </li>
                              <?php  
$resource = Mage::getSingleton('core/resource');
//$writeAdapter   = $resource->getConnection('core_write');
$readConnection = $resource->getConnection('core_read');
$table        = $resource->getTableName('cod_return'); 
$order_id=$_rmaRequest->getOrderId();
$return_id=$_rmaRequest->getTextId(); 
$sql="SELECT details FROM cod_return  WHERE order_number=".$order_id AND "return_id=".$return_id;
$results = $readConnection->fetchAll($sql);
if(count($results)<=1)
                            { ?>
                              <?php  $order = new Mage_Sales_Model_Order();
          $order_id=$_rmaRequest->getOrderId();
        $order->loadByIncrementId($order_id);
        $payment_method = $order->getPayment()->getMethodInstance()->getTitle();
       // echo $payment_method; exit;

     $status=Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType());  if($status=='Refund' && $payment_method=='Cash on delivery') { ?>
                    <li class="fields bank-details">
                        <h2 class="legend">Bank Details</h2> 

                        <div class="field">
                             <label class="required"><em>*</em>Name of the Account Holder :</label>
                            <div class="input-box">
                            <input type="text" name="name_account"  maxlength="50" required id="name_account">
                            </div>
                        </div>
                        <div class="field">
                            <label class="required"><em>*</em>Bank Name:</label>
                            <div class="input-box">
                            <input type="text" name="bank_name"  required maxlength="50" id="bank_name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="required"><em>*</em>Bank Account No :</label>
                            <div class="input-box">
                            <input type="text" name="account_no"  maxlength="50" required id="account_no">
                            </div>
                        </div>
                        <div class="field">
                            <label class="required"><em>*</em>Branch Name:</label>
                            <div class="input-box">
                            <input type="text" name="branch_name"  maxlength="50" required id="branch_name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="required"><em>*</em>IFSC Code:</label>
                            <div class="input-box">
                            <input type="text" name="ifsc_code"   maxlength="20" required id="ifsc_code">
                            </div>
                        </div>
    
<!--  <button type="button" id= "button">Click Me!</button>       -->
             </li>
             <?php } }?>
                            <?php if (Mage::helper('awrma/config')->getAllowAttachments()) : ?>
                                <li class="fields">
                                    <div class="field">
                                        <label for="awrma-file-upload"><?php //echo $this->__('Attachment') ?></label>
                                        <div class="input-box">
                                           <!--  <input type="file" id="awrma-file-upload" name="attachedfile" /> -->
                                        </div>
                                    </div>
                                </li>
                            <?php endif ?>
                        </ul>
                        <div class="buttons-set">
                            <p class="required hide"><?php echo $this->__('* Required Fields') ?></p>
                             <?php if($status=='Refund' && $payment_method=='Cash on delivery') {?>
                            <button type="submit" title="<?php echo $this->__('Submit Bank Details') ?>" class="btn btn-primary" id="awrma-comment-submit1"><?php echo $this->__('Submit Bank Details') ?></button>
                            <?php } else { ?>

 <button type="submit" title="<?php echo $this->__('Submit Comment') ?>" class="btn btn-primary" id="awrma-comment-submit"><?php echo $this->__('Submit Comment') ?></button>
                            <?php } ?>
                        </div>
                    </form>
                    <script type="text/javascript">
                        var commentForm = new VarienForm('awrma-comment-form', true);
                        var commentControl = new AWRMACommentFormControl(commentForm);
                    </script>
                <?php endif ?>
                    <?php if ($this->getComments() && $this->getComments()->getSize()) : ?>
                        <?php  
                       $sql="SELECT details FROM cod_return  WHERE order_number=".$order_id AND "return_id=".$return_id;
$results = $readConnection->fetchAll($sql);
//echo "<pre>"; print_r(count($results)); exit;
$result_count=count($results);
if($result_count=='1')
{
$comment_return=$results[0]['details'];
}
else
{
$comment_return=$results[1]['details'];
}
//echo $comment_return; exit;
                        ?>
                    <ul class="awrma-comments-list">
                   <?php if($comment_return) { ?>
                        <li> 
                            <strong>Admin</strong>
                            <div>
                            <?php echo $comment_return; ?>
                                </div>
                            </li>
                            <?php } ?>
            <?php foreach ($this->getComments() as $_comment) : ?>
                            <li>
                                <strong>
                                    <?php echo $this->formatDate($_comment->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true); ?>
                                    <span class="separator">|</span>
                                    <?php if ($_comment->getOwner() == AW_Rma_Model_Source_Owner::ADMIN) : ?>
                                        <?php echo Mage::getModel('awrma/source_owner')->getOptionLabel($_comment->getOwner()) ?>
                                    <?php else : ?>
                                        <?php echo $_rmaRequest->getCustomerName() ?>
                <?php endif ?>
                                </strong>
                                <div>
                                <?php echo $_comment->getText() ?>
                                </div>
                <?php if ($_comment->getAttachments()) : ?>
                                    <div>
                                        <a href="<?php echo $this->getDownloadUrl($_comment) ?>"><?php echo $_comment->getAttachments() ?></a> (<?php echo Mage::helper('awrma/files')->getTextSize($_comment->getAttachments()) ?>)
                                    </div>
                            <?php endif ?>
                            </li>
                    <?php endforeach ?>
                    </ul>
            <?php endif; ?>
            </div>
    <?php endif ?>
        <script type="text/javascript">
            decorateTable('awrma-requested-items');
        </script>
<?php endif ?>
</div>
<script>
jQuery(document).ready(function () {
    jQuery("#awrma-comment-submit1").on('click',function(){
         //jQuery("#button").on('click',function(){
        //alert("come");
        var name_account=jQuery("#name_account").val(); 
        var bank_name=jQuery("#bank_name").val(); 
        var account_no=jQuery("#account_no").val(); 
        var branch_name=jQuery("#branch_name").val(); 
        var ifsc_code=jQuery("#ifsc_code").val(); 
        var order_id="<?php echo $_rmaRequest->getOrderId();?>";
        var return_id="<?php echo $_rmaRequest->getTextId(); ?>";        
var data="Acount Holder:"+name_account+"\n" +"Bank name: "+bank_name+"\n" +"Account Name: "+account_no+"\n" +"Branch Name:"+branch_name+"\n" +"IFSC Code: "+ifsc_code;
//alert(data);
if(name_account && bank_name && account_no && branch_name && ifsc_code) {
jQuery("#awrma-comment-text").val(data);
}
var myData={"name_account":name_account,"bank_name":bank_name,"account_no":account_no,"branch_name":branch_name,"ifsc_code":ifsc_code,"order_id":order_id,"return_id":return_id};
var url="<?php echo Mage::getBaseUrl()?>cod_bankdetails.php"
//alert(myData);
  jQuery.ajax({
    url : url,
    type: "POST",
    data : myData,
    success: function(data)
     {
        //if success then just output the text to the status div then clear the form inputs to prepare for new data
        jQuery('#name_account').val('');
        jQuery('#bank_name').val('');
        jQuery('#account_no').val('');
        jQuery('#branch_name').val('');
        jQuery('#ifsc_code').val('');
         }

}); 
    });
});
 </script>   