<?php
require_once ('src/autoload.php');

// Register API keys at https://www.google.com/recaptcha/admin
 $siteKey = '6LeQPigUAAAAANapCZLQAUdMseHhXyXdvVYjcMIG';
 $secret = '6LeQPigUAAAAAH0yWP0U2KpIk0YVNU39V4JLdnvR';
// $siteKey='6Lc7nzQUAAAAAEibNwD-oU_bexaz8dIWyt6mIUCk';
// $secret='6Lc7nzQUAAAAAJud9an7hUzM6AXG7i5Ot7W-X1Xb';
?>
 
<h4 class="cat-title dc">Customer Service</h4>
<span class="title-bor"> <img src="<?php echo $this->getSkinUrl('images/title-bor-img.jpg');?> " /> </span>
<div class="clearfix queries-block">
  <h3>How can we help you?</h3>
  <p>choose an option below for your queries</p>
  <ul class="queries-list">
    <li id="order-related" class="" role="button" data-toggle="collapse" data-target="#contact-order" aria-expanded="true" aria-controls="contact-order"><img src="<?php echo $this->getSkinUrl("images/online-order-new.png")?>">
      <p>Online Order issue</p>
    </li>
    <li id="retail" data-toggle="collapse" role="button" data-target="#contact-retail" aria-expanded="false" aria-controls="contact-retail"><img src="<?php echo $this->getSkinUrl("images/retail-trade-new.png")?>">
      <p>Retail / Trade Related Query</p>
    </li>
     <li id="import"><a href="<?php echo $this->getUrl('importing-distribution');?>"><img src="<?php echo $this->getSkinUrl("images/import-new.png")?>">
      <p>Export Related Queries</p></a>
    </li>
  </ul>
</div>
<div class="clearfix partner-register">
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 no-pad">
    <div id="reg_complete" style="display:none;">
      <h2> Thank you for Contact With Us. we will get back to you shortly.</h2>
    </div>
    <div id="formLowestSuccess" style="display:none;"></div>
    <div id="contact-order" class="collapse">
      <form  id="contact_us" name="contact_us" class="partner-form-validate" method="POST" action="<?php echo Mage::getBaseUrl().'contactmaster/index/save'?>" enctype="multipart/form-data">
          <?php //echo Mage::getSingleton('core/session')->getMyOtp();?>
          <ul class="form-list clearfix">
          <li>
            <label for="name"  name="name" class="required">Subject <em>*</em></label>
            <div class="input-box">
              <select name="subject"  id="subject" class="input-select validate-select" tabindex="1">
                <option value="">Please select a subject</option>
                <option value="Order Related Queries">Order Related Queries</option>
              </select>
            </div>
          </li>
          <li>
            <label for="name"  name="name" class="required">I am a <em>*</em></label>
            <div class="input-box">
              <select name="caption"  id="caption" class="input-select validate-select" tabindex="2">
                <option value="">Please select an option</option>
                <option value="distributor">Distributor</option>
                <option value="retailer">Retailer</option>
                <option value="loyal customer">Loyal Customer</option>
              </select>
            </div>
          </li>
          <li>
            <label for="name"  name="name" class="required">Country</label>
            <div class="input-box"> 
              <!--    <select name="country"  id="state" class="input-select validate-select" tabindex="5">
        <option value="">Please select a Country</option>
         <option value="India" selected>India</option> 
        </select> -->
              <?php $_countries = Mage::getResourceModel('directory/country_collection')
                  ->loadData()
                  ->toOptionArray(false) ?>
              <?php if (count($_countries) > 0): ?>
              <select name="country" id="country" onchange="getstate(this.value);" class="input-select validate-select" tabindex="3">
                <option value="">-- Please Select --</option>
                <?php foreach($_countries as $_country): ?>
                <option value="<?php echo $_country['value'] ?>"> <?php echo $_country['label'] ?> </option>
                <?php endforeach; ?>
              </select>
              <?php endif; ?>
            </div>
          </li>
          <li>
            <label for="state">State</label>
            <div class="input-box" id='statediv'>
              <input name="state" id="state" title="State" value="" class="input-text" type="text" tabindex="4"/>
            </div>
          </li>
          <li>
            <label for="city" class="required">City<em>*</em></label>
            <div class="input-box">
              <input type="text" name="city" value="" id="city" placeholder="Please enter your city" class="input-text required-entry" title="city" maxlength="50" tabindex="5">
            </div>
          </li>
          <li>
            <label for="name"  name="name" class="required">Name <em>*</em></label>
            <div class="input-box">
              <input type="text" name="name" value="" id="name" placeholder="Please enter your name" class="input-text required-entry" title="Name" maxlength="50" tabindex="6">
            </div>
          </li>
          <li class="message">
            <label id="label_color" class="required">Message <em>*</em></label>
            <div class="input-box">
              <textarea name="message" id="message" class="align input-text required-entry" placeholder="Please enter your message"  tabindex="7"></textarea>
            </div>
          </li>
          <li class="contact-no">
            <label for="contact_number" class="required">Contact No <em>*</em></label>
            <div class="input-box">
              <input type="text" name="contact_number" value="" id="contact_number" placeholder="Please enter your contact number" onkeypress="return isNumber(event)" class="input-text required-entry" title="contact_number"  minlength="10" maxlength="10" tabindex="8">
              <div id="error-msg"></div>
              <div id="otpSend"> 
              <a href="javascript:void(0)" onClick="sendOtp()">Send OTP</a>
              </div>
            </div>
            
            <div class="order-otp-wrapper clearfix" id="otpVerify" style="display:none">
              <div class="order-otp-inner clearfix">
                <h5>Enter one time password (OTP)</h5>
                <p>One time password (OTP) has been <span id="sentText">sent</span> to your mobile <span id="mobileNum">XXXXXXXXXX</span>. Please enter the same to continue.</p>
                <input type="text" name="order-otp" id="order-otp" maxlength="6" onkeypress="return isNumber(event)">
                <div id="error-msg-otp"></div>
                <a href="javascript:void(0)" onClick="resendOtp()">Resend OTP</a>
                <a href="javascript:void(0)" onClick="verifyOtp()">Verify & Proceed</a>
              </div>
            </div>
            <input type="hidden" id="hdnIsOTPVerified" value="0">
            
          </li>
        </ul>
        <div class="clearfix">
          <ul class="form-list clearfix contact-list2">
            <li>
              <label for="website" class="required">Upload Image</label>
              <div class="input-box">
                <input type="file" name="filename" value="" id="filename" class="input-text" title="file" maxlength="10" tabindex="9">
              </div>
            </li>
            <li>
              <label for="contact_number" class="required">Website</label>
              <div class="input-box">
                <input type="text" name="website" value="" id="website" placeholder="Please enter your website URL" class="input-text" title="website" maxlength="30" tabindex="10">
              </div>
            </li>
            <li>
              <label for="email" class="required">Email<em>*</em></label>
              <div class="input-box">
                <input type="text" name="email" value="" id="email" class="input-text required-entry" placeholder="Please enter your email id" title="email" maxlength="50" tabindex="11">
              </div>
            </li>
          </ul>
          <div class="g-recaptcha" data-sitekey="<?php echo $siteKey; ?>"></div>
        </div>
        <script type="text/javascript"
                    src="https://www.google.com/recaptcha/api.js?hl=<?php echo $lang; ?>">
        </script> 
        <?php echo $this->getChildHtml('form.additional.info'); ?>
        <div class="clearfix"><?php echo $this->getChildHtml('captcha') ?></div>
        <div class="submit_contact">
          <input type="submit" id="submit_contact" value="Submit" class="btn btn-primary">
        </div>
        <span id="formLoader" style="display:none"><img src="<?php echo $this->getSkinUrl("images/opc-ajax-loader.gif")?>"></span>
      </form>
    </div>
    <div id="contact-retail" class="collapse">
      <form  id="contact_us_retail" name="contact_us" class="partner-form-validate" method="POST" action="<?php echo Mage::getBaseUrl().'contactmaster/index/save'?>" enctype="multipart/form-data">
        <ul class="form-list clearfix">
          <li>
            <label for="name"  name="name" class="required">Subject <em>*</em></label>
            <div class="input-box">
              <select name="subject"  id="subject" class="input-select validate-select" tabindex="1" >
                <option value="">Please select a subject</option>
                <option value="complaints">Complaints</option>
                <option value="suggestions">Suggestions</option>
                <option value="business_enquiry">Business Enquiry</option>
                <option value="Export Enquiries">Export Enquiries</option>
                <option value="Dealership Enquiries">Dealership Enquiries</option>
              </select>
            </div>
          </li>
          <li>
            <label for="name"  name="name" class="required">I am a <em>*</em></label>
            <div class="input-box">
              <select name="caption"  id="caption" class="input-select validate-select" tabindex="2">
                <option value="">Please select an option</option>
                <option value="distributor">Distributor</option>
                <option value="retailer">Retailer</option>
                <option value="loyal customer">Loyal Customer</option>
              </select>
            </div>
          </li>
          <li>
            <label for="name"  name="name" class="required">Country <em>*</em></label>
            <div class="input-box"> 
              <!--    <select name="country"  id="state" class="input-select validate-select" tabindex="5">
        <option value="">Please select a Country</option>
         <option value="India" selected>India</option> 
        </select> -->
              <?php $_countries = Mage::getResourceModel('directory/country_collection')
                  ->loadData()
                  ->toOptionArray(false) ?>
              <?php if (count($_countries) > 0): ?>
              <select name="country" id="country" onchange="getstate(this.value);" class="input-select validate-select" tabindex="3">
                <option value="">-- Please Select --</option>
                <?php foreach($_countries as $_country): ?>
                <option value="<?php echo $_country['value'] ?>"> <?php echo $_country['label'] ?> </option>
                <?php endforeach; ?>
              </select>
              <?php endif; ?>
            </div>
          </li>
          <li>
            <label for="state" class="required">State <em>*</em></label>
            <div class="input-box" id='statediv-new'>
              <input name="state" id="state" title="State" value="" class="input-text" type="text" tabindex="4" />
            </div>
          </li>
          <li>
            <label for="city" class="required">City<em>*</em></label>
            <div class="input-box">
              <input type="text" name="city" value="" id="city" placeholder="Please enter your city" class="input-text required-entry" title="city" maxlength="50" tabindex="5">
            </div>
          </li>
          <li>
            <label for="name"  name="name" class="required">Name <em>*</em></label>
            <div class="input-box">
              <input type="text" name="name" value="" id="name" placeholder="Please enter your name" class="input-text required-entry" title="Name" maxlength="50" tabindex="6">
            </div>
          </li>
          <li class="message">
            <label id="label_color" class="required">Message <em>*</em></label>
            <div class="input-box">
              <textarea name="message" id="message" class="align input-text required-entry" placeholder="Please enter your message"  tabindex="7"></textarea>
            </div>
          </li>
          <li class="contact-no">
            <label for="contact_number" class="required">Contact No <em>*</em></label>
            <div class="input-box">
              <input type="text" name="contact_number" value="" id="contact_number" placeholder="Please enter your contact number" class="input-text required-entry" title="contact_number"  minlength="10" maxlength="10" tabindex="8">
            </div>
          </li>
        </ul>
        <div class="clearfix">
          <ul class="form-list clearfix contact-list2">
            <li>
              <label for="website" class="required">Upload Image</label>
              <div class="input-box">
                <input type="file" name="filename" value="" id="filename" class="input-text" title="file" maxlength="10" tabindex="9">
              </div>
            </li>
            <li>
              <label for="contact_number" class="required">WebSite</label>
              <div class="input-box">
                <input type="text" name="website" value="" id="website" placeholder="Please enter your website URL" class="input-text" title="website" maxlength="30" tabindex="10">
              </div>
            </li>
            <li>
              <label for="email" class="required">Email<em>*</em></label>
              <div class="input-box">
                <input type="text" name="email" value="" id="email" class="input-text required-entry" placeholder="Please enter your email id" title="email" maxlength="50" tabindex="11">
              </div>
            </li>
          </ul>
          
          <div class="g-recaptcha"  data-sitekey="<?php echo $siteKey; ?>"></div>
          
        </div>
        <script type="text/javascript"
                    src="https://www.google.com/recaptcha/api.js?hl=<?php echo $lang; ?>">
            </script> 
        <?php echo $this->getChildHtml('form.additional.info'); ?>
        <div class="clearfix"><?php echo $this->getChildHtml('captcha') ?></div>
        <div class="submit_contact">
          <input type="submit" id="submit_contact_retail" value="Submit" class="btn btn-primary">
        </div>
        <span id="formLoader" style="display:none"><img src="<?php echo $this->getSkinUrl("images/opc-ajax-loader.gif")?>"></span>
      </form>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="clearfix contact-details pr"> 
      <!--           <span class="qus-icon"> <img src="<?php echo $this->getSkinUrl('images/qus-icon.png');?>"/> </span>
           <p><b>Need help?  <a href="#">email us</a> <br/> or call us <a href="#">011-123456789</a> </b></p>
           <p>Cart Number: <b>f483cc29c0564</b> </p>
           <p>We’re here to help you: <br /> Monday - Friday 9 AM - 9 PM <br/>Saturday - Sunday, 10:30 AM - 7 PM </p> --> 
      <?php echo $this->getChildHtml('need_help'); ?> </div>
  </div>
</div>
<script type="text/javascript">
    //var dataForm = new VarienForm('lowest-form-validate', true);
    //<![CDATA[
    var onloadCallback = function() {
  grecaptcha.render('html_element', {   
   'sitekey' : '6LeQPigUAAAAANapCZLQAUdMseHhXyXdvVYjcMIG'
  });
};
// onloadCallback();
var formId = 'contact_us'; 
var myForm = new VarienForm(formId, true);
   
var postUrl = "<?php echo Mage::getBaseUrl().'contactmaster/index/save'?>";
jQuery('#contact_us').on('submit', function(e) {
       
    /*********start otp verification*********/
        jQuery('#error-msg').hide();
        
        if(jQuery('#hdnIsOTPVerified').val() == 0){
            if(jQuery('#contact_number').val()!=''){
                jQuery('#error-msg').show();
                jQuery('#error-msg').html('<span class="error">Please send & verify OTP</span>');
                return false;
            }
        } else if(jQuery('#hdnIsOTPVerified').val() == 1){
            jQuery('#error-msg-otp').show();
            jQuery('#error-msg-otp').html('<span class="error">Please enter OTP</span>');
            return false;
            
        } else if(jQuery('#hdnIsOTPVerified').val() == 2){
         
            if (myForm.validator.validate()) {
                new Ajax.Updater(
                    { success:'formLowestSuccess' }, postUrl, {
                        method:'post',
                        asynchronous:true,
                        evalScripts:false,
                        onComplete:function(request, json) {
                            // Hiding form and showing success message    
                                jQuery('#contact_us').css('display','none');
                                jQuery('.fill').css('display','none');
                                jQuery('#do_reg').css('display','none');
                                //jQuery('#reg_complete').css('display','block');
                            //Element.hide(formId);
                            Element.show('formLowestSuccess');
                 Element.hide('formLoader');
                // $(this).closest('form').find("input[type=text], textarea").val("");
                 $('#contact_us').reset();
                        },
                        onLoading:function(request, json){
                            Element.show('formLoader');
                        },
                        parameters: $(formId).serialize(true),
                    }
                );
            }

            new Event.observe(formId, 'submit', function(e){

             var formId = 'contact_us';
            var myForm = new VarienForm(formId, true);
            if (myForm.validator.validate()) {
              myForm.submit();
              return false;
            }
                e.stop();
               // doAjax();
            });
        }   /*********end otp verification*********/
});


 
//end of javascript code
</script> 

<!--retails contact --> 

<script type="text/javascript">
    //var dataForm = new VarienForm('lowest-form-validate', true);
    //<![CDATA[

    var onloadCallback = function() {
  grecaptcha.render('html_element', {   
   'sitekey' : '6LdmqlwUAAAAAECD_Npn8DpPxs_rmU0GAA1CAJih'
  });
};
    var formId = 'contact_us_retail';
    var myForm = new VarienForm(formId, true);
    var postUrl = "<?php echo Mage::getBaseUrl().'contactmaster/index/save'?>";

    jQuery('#contact_us_retail').on('submit', function(e) {
        if (myForm.validator.validate()) {
            new Ajax.Updater(
                { success:'formLowestSuccess' }, postUrl, {
                    method:'post',
                    asynchronous:true,
                    evalScripts:false,
                    onComplete:function(request, json) {
                        // Hiding form and showing success message    
                            jQuery('#contact_us_retail').css('display','none');
                            jQuery('.fill').css('display','none');
                            jQuery('#do_reg').css('display','none');
                            //jQuery('#reg_complete').css('display','block');
                        //Element.hide(formId);
                        Element.show('formLowestSuccess');
						 Element.hide('formLoader');
						// $(this).closest('form').find("input[type=text], textarea").val("");
						 $('#contact_us_retail').reset();
                    },
                    onLoading:function(request, json){
                        Element.show('formLoader');
                    },
                    parameters: $(formId).serialize(true),
                }
            );
        }
   // }
    new Event.observe(formId, 'submit', function(e){
		
		 var formId = 'contact_us_retail';
    var myForm = new VarienForm(formId, true);
	 if (myForm.validator.validate()) {
		 myForm.submit();
		 return false;
	 }
        e.stop();
       // doAjax();
    });
     });
//end of javascript code
</script> 
<script type="text/javascript">
jQuery(document).ready(function() {
	
	jQuery("select#chief_complaints").on('change',function(){
		var value = jQuery(this).val();
		//alert(value);
		if(value=='pain')
		{
			jQuery("#pain_specify").show();
			 jQuery("#respiratory_specify").hide();
			 jQuery("#others_specify").hide();
		}
		else if(value=='Respiratory')
		{
			jQuery("#pain_specify").hide();
			 jQuery("#respiratory_specify").show();
			 jQuery("#others_specify").hide();
		}
		else if(value=='others')
		{
			jQuery("#pain_specify").hide();
			 jQuery("#respiratory_specify").hide();
			 jQuery("#others_specify").show();
		}
		else
		{
			jQuery("#others_specify").hide();
			jQuery("#pain_specify").hide();
			 jQuery("#respiratory_specify").hide();
		}
		
});

jQuery("select#habits").on('change',function(){
	var value2 = jQuery(this).val();
	//alert(value2);
		if(value2=='Others')
		{
			jQuery("#habits_specify").show();
		}
		else
		{
			jQuery("#habits_specify").hide();
		}
});

	jQuery("#others_specify").hide();
jQuery("#habits_specify").hide();
	 jQuery("#pain_specify").hide();
	 jQuery("#respiratory_specify").hide();
    jQuery("#contact_number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if (jQuery.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

   

    jQuery("#name").on("keydown", function(event){
          // Allow controls such as backspace
          var arr = [8,16,17,20,35,36,37,38,39,40,45,46];

          // Allow letters
          for(var i = 65; i <= 90; i++){
            arr.push(i);
          }

          // Prevent default if not in array
          
    });
	
	jQuery("#order-related").click(function(){
		 jQuery(this).addClass("active");
		 jQuery(".order-related").show();
		 jQuery(".retail-queries").hide();
		 jQuery("#retail").removeClass("active");
		 jQuery("#contact-retail").removeClass("in");
		 jQuery("select#subject").val("Order Related Queries");

    });	
    jQuery("#retail").click(function(){
		 jQuery(this).addClass("active");
		 jQuery(".retail-queries").show();
		 jQuery(".order-related").hide();
		 jQuery("#order-related").removeClass("active");
		 jQuery("#contact-order").removeClass("in");
		 jQuery("select#subject").val("complaints");
    });

});
</script> 
<script type="text/javascript">
function getstate(countryValue) {
    var reloadurl = '<?php echo $this->getUrl('contactmaster/index/state'); ?>' + 'country/' + countryValue;
    jQuery.ajax({
        url: reloadurl, //Relative or absolute path to response.php file
        method: 'get',
        success: function (data) {
            jQuery('#statediv').html(data);
            jQuery('#statediv-new').html(data);
        }
    });
}

function sendOtp(){
        var BASE_URL = '<?php echo Mage::getUrl('otp/index/OtpOrderEnquiry'); ?>';
        var phone = jQuery('#contact_number').val();
        
        if (phone == '' || !phonenumber(phone)) {
            jQuery('#error-msg').html('<span class="error">Invalid phone number</span>').show();
            return false;
            
        } else{
            jQuery.ajax({
                type: 'post',
                url: BASE_URL,
                data: {customerNum: phone},
                dataType: 'html',
                async:false,
                success: function (data) {
                    if (data == 'send') {
                        //jQuery('#error-msg').html('<span class="success">OTP has been sent to your mobile number</span>').show();
                        jQuery('#mobileNum').html(jQuery('#contact_number').val());
                        jQuery('#otpSend').hide();
                        jQuery('#otpVerify').show();
                        jQuery('#hdnIsOTPVerified').val(1);
                        setTimeout(function (){
                            jQuery('#order-otp').focus();
                        }, 1000);

                    } else {
                        jQuery('#error-msg-otp').show();
                        jQuery('#error-msg-otp').html('<span class="error">Invalid OTP</span>');
                    }
                }
            });
        }
}

function resendOtp(){
        jQuery('#order-otp').val('');
        jQuery('#error-msg-otp').hide();
        jQuery('#error-msg').hide();
        var BASE_URL = '<?php echo Mage::getUrl('otp/index/OtpOrderEnquiry'); ?>';
        var phone = jQuery('#contact_number').val();
        
        if (phone == '' || !phonenumber(phone)) {
            jQuery('#error-msg').show();
            jQuery('#error-msg').html('<span class="error">Invalid phone number</span>').show();
            return false;
            
        } else{
            jQuery.ajax({
                type: 'post',
                url: BASE_URL,
                data: {customerNum: phone},
                dataType: 'html',
                async:false,
                success: function (data) {
                    if (data == 'send') {
                        //jQuery('#error-msg').html('<span class="success">OTP has been re-sent to your mobile number</span>').show();
                        jQuery('#sentText').html('re-sent');
                        jQuery('#mobileNum').html(jQuery('#contact_number').val());
                        jQuery('#otpSend').hide();
                        jQuery('#otpVerify').show();
                        jQuery('#hdnIsOTPVerified').val(1);
                        setTimeout(function (){
                            jQuery('#order-otp').focus();
                        }, 1000);

                    } else {
                        jQuery('#error-msg-otp').show();
                        jQuery('#error-msg-otp').html('<span class="error">Invalid OTP</span>');
                    }
                }
            });
        }
}

function verifyOtp(){
        var orderotp = jQuery('#order-otp').val();
        var BASE_URL = '<?php echo Mage::getUrl('otp/index/varify'); ?>';
        
        if (orderotp == '') {
            jQuery('#error-msg').hide();
            jQuery('#error-msg-otp').html('<span class="error">Invalid OTP</span>');
            return false;
        }else{ 
            jQuery.ajax({
                    type: 'post',
                    url: BASE_URL,
                    data: {otpSend: orderotp},
                    dataType: 'html',
                    success: function (data) {
                        if (data == 'Proceed to Place order') {
                            jQuery('#error-msg-otp').hide();
                            jQuery('#error-msg').show();
                            jQuery('#error-msg').html('<span class="success">OTP verified successfully</span>');
                            jQuery('#otpSend').hide();
                            jQuery('#otpVerify').hide();
                            jQuery('#hdnIsOTPVerified').val(2);

                        } else {
                            jQuery('#error-msg-otp').show();
                            jQuery('#error-msg-otp').html('<span class="error">' + data + '</span>');
                        }
                    }
            });
        }
}


function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
}

function phonenumber(inputtxt) {
        jQuery('#error-msg').hide();
        var phoneno = /^[6789]\d{9}$/;//alert(inputtxt+'--'+phoneno);
        if (inputtxt.match(phoneno)) {
            return true;
        } else {
            return false;
        }
}
</script>