<?php    $slide_status=$this->getResponsivebannersliderEnabled();   ?>
<?php    $slide_speed=$this->getResponsivebannersliderSpeed();   ?>
<?php    $slide_type=$this->getResponsivebannerSlideType(); ?>
<?php    $slide_BannerLoop=$this->getResponsivebannerBannerLoop(); ?>
<?php    $slide_PauseOnhover=$this->getResponsivebannerPauseOnhover(); ?>

<div class="hide-mob">
<?php
    
	
	
	// Module type Function.......................................
    if($slide_type=='1'){ ?>
<!-- BEGIN GOOGLE ANALYTICS CODEs -->
<div class="the-slideshow-wrapper nested-container celarfix">
    <div style="height: 428px;" class="the-slideshow gen-slider-arrows2 gen-slider-pager1 gen-slider-pager1-pos-bottom-right grid12-9  ">
        <ul class="slides">
            <?php 
                $connection = Mage::getSingleton('core/resource')->getConnection('core_write');
                $prefix = Mage::getConfig()->getTablePrefix();
                $tblname=$prefix.'mksresponsivebannerslider';
                $sql = $connection->query("select * from $tblname where status='0'  ORDER BY imageorder ASC ");
                while($row1 = $sql->fetch())
                {
                $title = $row1["title"];
                $description = $row1["description"]; 
                $urlx = $row1["image"]; 
                $media_url =  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
                $imgurl=$media_url.$urlx;
                $url = $row1["url"]; 
                ?>
            <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;" class="slide">
                <a href="<?php echo $url; ?>">
                    <img src="<?php echo $imgurl; ?>" alt="<?php echo $title; ?>" title="<?php echo $title; ?>">
                </a>
            </li>
            <?php } ?>
        </ul>
    </div>
</div>
<!-- BEGIN GOOGLE ANALYTICS CODEs -->
<script type="text/javascript">
	responsivemks = jQuery.noConflict(); 
	// responsivemks(document).ready(function($)  {
		responsivemks('.the-slideshow').flexslider({
			namespace:"",
			easing:'easeInOutCirc',
			useCSS:	false,
			directionNav:true,
			touch:true,
			animation: /*Modernizr.touch ? "slide" : */"fade",
			animationLoop:<?php echo $slide_BannerLoop; ?>,
			smoothHeight: true,
			slideshowSpeed:<?php echo $slide_speed; ?>,
			animationSpeed:	600,
			pauseOnHover:<?php echo $slide_PauseOnhover; ?>
		});
	// });
</script>    
<?php 
    // Module type 2 Function.......................................End
    } ?>
	</div>
 <div class="hide-desktop">
 <div class="the-slideshow-wrapper-mob nested-container celarfix">
    <div style="height: 428px;" class="the-slideshow-mob gen-slider-arrows2 gen-slider-pager1 gen-slider-pager1-pos-bottom-right grid12-9">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mob-banner')->toHtml(); ?> 
       
    </div>
   </div>
   <script type="text/javascript">
	responsivemks = jQuery.noConflict(); 
	// responsivemks(document).ready(function($)  {
		responsivemks('.the-slideshow-mob').flexslider({
			namespace:"",
			easing:'easeInOutCirc',
			useCSS:	false,
			directionNav:true,
			touch:true,
			animation: /*Modernizr.touch ? "slide" : */"fade",
			animationLoop:<?php echo $slide_BannerLoop; ?>,
			smoothHeight: true,
			slideshowSpeed:<?php echo $slide_speed; ?>,
			animationSpeed:	600,
			pauseOnHover:<?php echo $slide_PauseOnhover; ?>
		});
	// });
</script>    
 </div>