<?php
    $orderObj = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId());
    $lastOrder = Mage::getModel('sales/order')->load(Mage::getSingleton('checkout/session')->getLastOrderId());
    $billingAddress = $lastOrder->getBillingAddress();
    $shippingAddress = $lastOrder->getShippingAddress();
    $payment = $orderObj->getPayment()->getMethodInstance()->getTitle();
    
    $is_bulk_order = Mage::getSingleton('core/session')->getIsBulkOrder();
    ?>
<?php
    $_coreHelper = $this->helper('core');
    ?>
     <div class="clearfix ver-mspace">
        <h4 class="cat-title"><?php echo $this->__('Order Confirmation') ?></h4>
         <span class="title-bor"> <img src="<?php echo $this->getSkinUrl('images/title-bor-img.jpg');?> " />  </span>
    </div>
    <div class="clearfix ver-mspace">
         
         <div class="order-text">
       <p>Congratulations! Your order has been successfully placed with us, your order no is <?php echo $this->getOrderId();?>. </p>
<p>Quote this order number for any further communication with us regarding the order. Find details of your order below.</p>
</div>
       <!-- <p class="alert alert-info no-radius">Congratulations! Your order has been successfully placed with us, your order No is <?php //echo $this->getOrderId();?>.</p>-->

        <!-- Get the delivery details of How many days it will take to deliver -->
       <?php

        $write = Mage::getSingleton('core/resource')->getConnection('core_read');
        if ($write != "") {
            if ($status != 0) {
                $message = "Success";
            }

        }else{
            $status = 0;
            $message = "could not connect to db";
        }

        $postCode = $shippingAddress->getPostcode();
        $result = $write->query("SELECT `deliverable_date` FROM `delivery_pincode_flat_shipping_charge` WHERE `pincode` = '$postCode' AND `delivery_type` = 'normal';");
        $deliveryTime = $result->fetch();
       ?>

       <div class="clearfix address-block">
               <div class="col-md-4 col-sm-4 col-xs-12 no-pad">
                <div class="panel panel-default no-radius">
                    <div class="panel-heading">Order Confirmation</div>
                    <div class="panel-body">
                        <p>Order No : <?php echo $this->getOrderId(); ?></p>
                        <p>Payment : <?php echo $payment;?></p>
                        <p><?php echo "Your order will be delivered within ".$deliveryTime['deliverable_date']." days"; ?></p>
                    </div>
                </div>
            </div>
               <div class="col-md-4 col-sm-4 col-xs-12 no-pad">
                <div class="panel panel-default no-radius">
                    <div class="panel-heading">Shipping Address</div>
                    <div class="panel-body">
                        <?php echo  $orderObj->getShippingAddress()->format('html') ?>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 no-pad">
                <div class="panel panel-default no-radius">
                    <div class="panel-heading">Billing Address</div>
                    <div class="panel-body">
                        <?php echo  $orderObj->getBillingAddress()->format('html') ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <!-- Google Analytics Script -->
    <!--<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44324398-1', 'auto');

    ga('require', 'ecommerce', 'ecommerce.js');

    ga('send', 'pageview');

    ga('ecommerce:addTransaction', {
    'id': '<?php //echo $this->getOrderId(); ?>', // Transaction ID. Required.
    'affiliation': 'Paragon Footwear', // store name.
    'revenue': '<?php //echo $orderObj->getGrandTotal(); ?>', // total revenue.
    'shipping': '<?php //echo $orderObj->getShippingAmount(); ?>', // Shipping.
    'tax': '<?php //echo $orderObj->getTaxAmount(); ?>' // Tax.
    });
    </script>
     Google Analytics Script ends -->

    <?php 
        //**********************************Order Details***************************
          if($this->getOrderId()):
            $orderItems = $orderObj->getAllVisibleItems();
            ?>
    <div class="pro-cart-summery">
    <section class="itemdetails success-items">
      <h3>My Orders </h3>
        <div class="table-responsive">
        <table class="cart-summery-table data-table table">
            <thead>
                <th class="first a-left"><?php echo $this->__('Item') ?></th>
                <th class="first a-left"><?php echo $this->__('Description') ?></th>
                 <th class="a-center"><?php echo $this->__('Order Number') ?></th>
                <th class="a-center"><?php echo $this->__('Quantity') ?></th>
               
                <th class="a-center"><?php echo $this->__('Unit Price') ?></th>
                <th class="a-center"><?php echo $this->__('GST') ?></th>
                <th class="a-center"><?php echo $this->__('Discount') ?></th>
                <th class="a-right"><?php echo $this->__('Total') ?></th>
            </thead>
            <tbody>
                <?php 
                $snku=array();
                $qnty=array();
                foreach($orderItems as $items)
                    {
                      $_product = Mage::getModel('catalog/product')->load($items->getProductId());
                      $parentID = Mage::getResourceSingleton('catalog/product_type_configurable')->getParentIdsByChild($_product->getId());
                         $parent = Mage::getModel('catalog/product')->load(end($parentID));
                    
                      $product_small_image_path = Mage::helper('catalog/image')->init($parent,'small_image')->resize(100,100);
                      $cats = $_product->getCategoryIds();
                      if(is_array($cats)){
                            $_cat = $cats[2]; 
                        }
                        else $_cat = $cats;
                        $_category = Mage::getModel('catalog/category')->setStoreId(Mage::app()->getStore()->getId())->load($_cat);
                        $categoryName = $_category->getName();
                    array_push($snku,$items->getSku());
                    array_push($qnty,round($items->getQtyOrdered()));   
                    ?>
             
                <tr>
                    <td class="first cart-name a-left" width="100px">
                        <div class="product-image-outer">
                            <span class="product-image-success">
                            <img src="<?php echo $product_small_image_path ?>" align="<?php echo $items->getName(); ?>"/>
                            </span
                            >
                        </div>
                    </td>
                    <td class="cart-name"><h3 class="product-name"><?php echo $items->getName(); ?></h3>
                    
                    <!-- Adding SKU and Product options -->
                     <h5><?php echo "SKU: ". $_product->getSku(); ?><h5>
                    <?php 
                        if ($_product->getAttributeText("size") != "" || $_product->getAttributeText("size") == 'false') { ?>
                          <h5><?php echo "Size: ". $_product->getAttributeText("size");?></h5>
                    <?php  }?>
                    
                    <?php 
                        if ($_product->getAttributeText("color") != "" || $_product->getAttributeText("color") == 'false') { ?>
                    <h5><?php echo "Color: ".$_product->getAttributeText("color");?></h5>
                    <?php  }?>
                    </td>
                    
                    <td class="sku a-center"> <?php echo $this->getOrderId(); ?> <?php //echo $this->htmlEscape($_product->getSku()) ?></td>
                     <td class="pro-qty a-center"><?php echo number_format($items->getQtyOrdered(),0); ?></td>
                     <?php if($is_bulk_order == 1): ?>		
                     <td class="pro-price a-center"><?php echo $_coreHelper->formatPrice($_product['bulk_price'],true) ?></td>		
                     <?php else: ?>
                    <td class="pro-price a-center"><?php echo $_coreHelper->formatPrice($_product->getFinalPrice(),true) ?></td>
                    <?php endif; ?>
                    <?php 
                    if($is_bulk_order == 1): 		                    
                        $taxAmount = $items->getSgstCharge()+$items->getCgstCharge()+$items->getIgstCharge();  		
                      else: 		
                     $taxAmount = $items->getTaxAmount();    		
                     endif; ?>
                    <td class="pro-price a-center"><?php echo $_coreHelper->formatPrice($taxAmount,true) ?></td>
                    <td class="pro-price a-center"><?php echo $_coreHelper->formatPrice($items->getDiscountAmount(),true) ?></td>
                     
                    <?php 
                    if($is_bulk_order == 1): 		                    
                        $totalprice = ($items->getQtyOrdered())*($_product['bulk_price']) - $items->getDiscountAmount();  		
                      else: 		
                     $totalprice = ($items->getQtyOrdered())*($_product->getFinalPrice()) - $items->getDiscountAmount();    		
                     endif; ?>
                    <td class="total-price a-right">
                        <span class="alt-bg"><?php echo $_coreHelper->formatPrice($totalprice,true) ?></span>
                    </td>
                </tr>
                <?php
                    } 
                    ?>
                    <!--script type="text/javascript">
                        ga('ecommerce:send');
                    </script-->
            </tbody>
           
        </table>
        
        
        </div>

        <p><?php echo "Total ".count($orderObj->getAllVisibleItems())." Items"; ?></p>
        
        <div class="clearfix ver-mspace bottom-total">
        
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12 hide-mob">
            <div class=" contact-details">
                   <!-- <p>Need help? email us or call us 011-123456789 </p>
                   <p>Cart Number:f483cc29c0564 </p>
                   <p>We’re here to help you: <br> Monday - Friday 9 AM - 9 PM <br>Saturday - Sunday, 10:30 AM - 7 PM </p> -->
                   <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('need_help')->toHtml(); ?>
         </div>
         </div>
         
          <table class=" data-table col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                <tr class="subtotal firt">
                    <td >
                        <span class="subtotlal-label"><?php echo $this->__('Subtotal') ?></span>
                    </td>
                    <td class="a-right">
                        <span class="subtotlal-value">
                        <?php echo $_coreHelper->formatPrice($orderObj->getSubtotalInclTax(),true) ?>
                        </span>
                    </td>
                </tr>
                <?php if($orderObj->getDiscountAmount() != 0): ?>
                <tr class="discount">
                    <td >
                        <?php echo $this->__('Discount').'('.$orderObj->getDiscountDescription().')' ?>
                    </td>
                    <td class="last a-right">
                        <span class="subtotlal-value">
                        <?php echo $_coreHelper->formatPrice($orderObj->getDiscountAmount(),true) ?>
                        </span>
                    </td>
                </tr>
                <?php 
                    endif; 
                    ?>

                    <?php if(Mage::getSingleton('core/session')->getActualShipping()) { ?>  
                    <tr class="shipping">
                    <td >
                    <?php echo "Shipping Charged"; //echo $this->__('Shipping & Handling('.$orderObj->getShippingDescription().')'); ?>
                    </td>
                    <td class="last a-right">
                    <span class="subtotlal-value">
                    Rs.<?php echo round(Mage::getSingleton('core/session')->getActualShipping(),2); ?>
                    </span>
                    </td>
                    </tr>
                    <?php } ?>

                    <?php if(Mage::getSingleton('core/session')->getDiscount()) { ?>
                    <tr class="shipping">
                    <td >
                    <?php echo "Discount on shipping"; //echo $this->__('Shipping & Handling('.$orderObj->getShippingDescription().')'); ?>
                    </td>
                    <td class="last a-right">
                    <span class="subtotlal-value">
                    <?php if (Mage::getSingleton('core/session')->getShippingch() > 0) {?>
                    Rs.<?php echo round(Mage::getSingleton('core/session')->getDiscount(),2); ?>
                    <?php } else { ?>
                    Rs.<?php echo round(Mage::getSingleton('core/session')->getActualShipping(),2); ?>
                    <?php }?>
                    </span>
                    </td>
                    </tr>
                    <?php } ?>
                    
                 <?php if ($orderObj->getShippingInclTax() != 0):?>
                    <tr class="shipping">
                        <td >
                            <?php echo "Shipping Charged"; //echo $this->__('Shipping & Handling('.$orderObj->getShippingDescription().')'); ?>
                        </td>
                        <td class="last a-right">
                            <span class="subtotlal-value">
                            <?php echo $_coreHelper->formatPrice($orderObj->getShippingInclTax(),true) ?>
                            </span>
                        </td>
                    </tr>
                <?php endif; ?>
                <?php if ($orderObj->getPaymentCharge() != 0):?>
                    <tr class="shipping">
                        <td >
                            <?php echo "COD Charges"; //$this->__('Payment Charge'); ?>
                        </td>
                        <td class="last a-right">
                            <span class="subtotlal-value">
                            <?php echo $_coreHelper->formatPrice($orderObj->getPaymentCharge(),true) ?>
                            </span>
                        </td>
                    </tr>
                <?php endif; ?>
                    <?php 
                    if($is_bulk_order == 1): 
                        $taxLabel = 'GST';
                        $taxAmount = $orderObj->getSgstCharge()+$orderObj->getCgstCharge()+$orderObj->getIgstCharge();  		
                      else: 	
                        $taxLabel = 'Tax Included';
                        $taxAmount = $orderObj->getTaxAmount();    		
                     endif;?>
                <?php if($taxAmount>0)://if($orderObj->getTaxAmount() != 0): ?>
                <tr class="tax">
                    <td><?php echo $taxLabel;//$this->__('Tax')?></td>
                    <td class="last a-right">
                        <span class="subtotlal-value">
                            
                        <?php echo $_coreHelper->formatPrice($taxAmount,true) ?>
                        </span>
                    </td>
                </tr>
                <?php 
                    endif;
                    ?>
                <tr class="grand_total last">
                    <td><strong><?php echo $this->__('Grand Total') ?></strong></td>
                    <td class="last a-right">
                        <span class="subtotlal-value">
                        <strong><?php echo $_coreHelper->formatPrice($orderObj->getGrandTotal(),true); ?></strong>
                        </span>
                    </td>
                </tr>
    
            </table>
        </div> 
       </section> 
       
    </div>
    <?php endif;?>
    <!-- <div class="clearfix ver-space ver-mspace">
            <div class="col-lg-9 col-md-9">
                <p class="ver-space no-mar">For enquiry call us at : <span class="textb call-no"> 0000-00000-000</span></p>
                <p>Between 9AM and 9PM</p>
                <p>Read terms and conditions on delivery and conditions</p>
               <p class="ver-space ver-mspace">Read terms and conditions on delivery and conditions</p>
            </div>
            <div class="col-lg-3 col-md-3 total-table">
                <table class="table no-mar">
                    <tr>
                        <td>Sub Total</td>
                        <td><?php //echo $symbol.number_format($_totalData["subtotal_incl_tax"],2);?>  </td>
                    </tr>           
                   
                   
                    <tr>
                        <td>Discount</td>
                        <td><?php //echo $symbol. number_format($_totalData["discount_amount"]);?> </td>
                    </tr>
                    
                    
                    <tr>
                        <td>Delivery Charges</td>
                        <td><?php //echo $symbol. number_format($ship_amount);?> </td> 
                    </tr>
                    
                                
                     <tr class="total">
                        <td>Total</td>
                      <td><?php //echo $symbol. number_format($_totalData["grand_total"]);?> </td>
                    </tr>
                </table>
            </div>
       </div> -->


<!--  GTM Tag for track success page -->
<script type="text/javascript">
//<![CDATA[
     window.dataLayer = window.dataLayer || [];
    <?php $intCtr=0;?>
    dataLayer.push({
    'event': 'paragonpurchase',
      'ecommerce': {
        'purchase': {
          'actionField': {
            'id': '<?php echo $orderObj->getIncrementId()?>',                         // Transaction ID. Required for purchases and refunds.
            'affiliation': 'Paragon.OrderSuccess',
            'revenue': '<?php echo $orderObj->getBaseGrandTotal(); ?>',                     // Total transaction value (incl. tax and shipping)
            'tax': '<?php echo $orderObj->getBaseTaxAmount(); ?>',
            'shipping': '<?php echo $orderObj->getBaseShippingAmount(); ?>',
            'coupon': '<?php echo $orderObj->getCouponCode() ?>'
          },
          'products': [
          <?php foreach($orderItems as $item): ?>
                <?php $intCtr++;
                $_product = Mage::getModel('catalog/product')->load($items->getProductId());
                
$cats = $_product->getCategoryIds();

if (is_array($cats)){
    $_cat = $cats[1]; 
}
else $_cat = $cats;

$_category = Mage::getModel('catalog/category')->setStoreId(Mage::app()->getStore()->getId())->load($_cat);
$categoryName = $_category->getName();
                ?>
                <?php if($item->getParentItemId()) continue;?>
          {                            
            'name': "<?php echo $item->getName(); ?>",     // Name or ID is required.
            'id': '<?php echo $item->getSku(); ?>',
            'category':"<?php echo $categoryName; ?>",
            'price': '<?php echo $_product->getPrice(); ?>',
            'quantity': '<?php echo $item->getQtyOrdered(); ?>',
            'size' : '<?php echo $_product->getAttributeText("size"); ?>',
            'color' : '<?php echo $_product->getAttributeText("color"); ?>'
            <?php if ($intCtr==count($orderItems)):?>
}]
            <?php else:?>
},
            <?php endif;?>
            <?php endforeach;?>
        }
      }
    });
//]]>
</script>


<!-- OMG Script -->
<?php if($_COOKIE['utm_source'] == 'optimisemedia'){?>
<script type='text/javascript' src="https://track.in.omgpm.com/923782/transaction.asp?APPID=<?php echo $this->getOrderId();?>&MID=923782&PID=28055&status=<?php echo $orderObj->getBaseGrandTotal(); ?>"></script><noscript><img src="https://track.in.omgpm.com/apptag.asp?APPID=<?php echo $this->getOrderId();?>&MID=923782&PID=28055&status=<?php echo $orderObj->getBaseGrandTotal(); ?>" border="0" height="1" width="1"></noscript>
<?php } ?>
<!-- Admitad Code -->
<?php if($_COOKIE['admitad_uid'] != '' && $_COOKIE['utm_source'] == 'Admitad_Affiliates'){?>
<script type="text/javascript">
    (function (d, w) {
        w._admitadPixel = {
            response_type: 'img',     // 'script' or 'img'. Default: 'img'
            action_code: '1',
            campaign_code: '28766b5323'
        };
        w._admitadPositions = w._admitadPositions || [];
        w._admitadPositions.push({
            uid: '<?php echo $_COOKIE['admitad_uid']; ?>',
            tariff_code: '1',
            order_id: '<?php echo $this->getOrderId(); ?>',
            position_id: '',
            currency_code: 'INR',
            position_count: '',
            price: '<?php echo $orderObj->getBaseGrandTotal(); ?>',
            quantity: '1',
            product_id: '<?php echo implode(',',$snku);?>',
            payment_type: 'sale'
        });
        var id = '_admitad-pixel';
        if (d.getElementById(id)) { return; }
        var s = d.createElement('script');
        s.id = id;
        var r = (new Date).getTime();
        var protocol = (d.location.protocol === 'https:' ? 'https:' : 'http:');
        s.src = protocol + '//cdn.asbmit.com/static/js/npixel.js?r=' + r;
        var head = d.getElementsByTagName('head')[0];
        head.appendChild(s);
    })(document, window)
</script>
<noscript>
    <img src="//ad.admitad.com/r?campaign_code=28766b5323&action_code=1&payment_type=sale&response_type=img&uid=&tariff_code=1&order_id=&position_id=&currency_code=&position_count=&price=&quantity=&product_id=" width="1" height="1" alt="">
</noscript>
<?php } ?>
<!-- Affiliate i cubes -->
<?php
$icubeAffiliate = $_COOKIE['utm_campaign'];
$isIcube = 0;
if (strpos($icubeAffiliate, "icubes") === 0) {
    $isIcube = 1;
}else{
    $isIcube = 0;
}
?>
<?php if($isIcube && $_COOKIE['utm_source'] == 'affiliate'){?>
<!-- Offer Conversion: Paragonfootwear.com- CPS -->
<iframe src="http://affiliates.icwonline.in/aff_l?offer_id=5792&adv_sub=<?php echo $this->getOrderId(); ?>&adv_sub2=<?php echo $payment; ?>&amount=<?php echo $orderObj->getBaseGrandTotal(); ?>" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->
<?php } ?>
<!-- Affiliates Post Back -->
<?php if($_COOKIE['utm_source'] == 'postback'){?>
<iframe src="https://eploop.go2pixel.org/c/?offer_id=780&orderAmount=<?php echo $orderObj->getBaseGrandTotal(); ?>&orderID=<?php echo $this->getOrderId(); ?>" height="0" width="0"></iframe>
<?php } ?>
<?php if($_COOKIE['utm_source'] == 'Coupon_dunia' || $_COOKIE['utm_source'] == 'coupon_dunia'){?>
<!-- Offer Conversion: Paragon Footwear -->
<iframe src="http://coupondunia.go2cloud.org/aff_l?offer_id=1495&adv_sub=<?php echo $this->getOrderId(); ?>&amount=<?php echo $orderObj->getBaseGrandTotal(); ?>" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion --> 

<?php } ?>
<script> /*window._izq.push(["event","order_placed",{
"cart_value":<?php echo $orderObj->getBaseGrandTotal(); ?>,
"product_count":<?php echo count($orderObj->getAllVisibleItems()); ?>
}]);*/ </script>