<?php
$id    = $this->getRequest()->getParam('id');
$connection  = Mage::getSingleton('core/resource')->getConnection('core_read');
$select 	 = $connection->select()
						->from('feetscience_manifest', array('name','ship_id'))
						->where('id=?',$id);						
						
$data 	   = $connection->fetchRow($select);
$manifestname = $data['name'];
$shipids 	  = explode("||",$data['ship_id']);

?>
<p class="form-buttons" style="text-align:right;"><button onclick="history.back();" class="scalable back" title="<?php echo $this->__('Back') ?>" type="button"> Back</button> </p>

<div class="entry-edit package-creation">
		<div class="entry-edit-head">
			<h2><?php echo $manifestname;?></h2>
		</div>

<div id="packageditems" class="fieldset"> 
		<div class=" grid np">
			  
				<div class="entry-edit manifest-fieldset">
					<div class="entry-edit-head">
						<h4 class="icon-head head-payment-method">Items Ordered</h4>
					</div>
					
					<input id="hid-prodids" type="hidden" />
					 <div class="hor-scroll">
						<table cellspacing="0" class="data order-tables" id="packaged-table">
								<colgroup><col>
								<col width="1">
								<col width="1">
								<col width="1">
								<col width="1"></colgroup>
						<thead>
							<tr class="headings">
								<th>Tracking Number</th>  
								<th class="a-center">Order #</th>
								<th class="a-center">Shipment #</th>
								<th class="a-center" width="200px">Shipping Address</th> 	
								<th class="a-center">No of Products</th> 
								<th class="last"><span class="nobr">Price</span></th>
								<th class="a-center" width="100px">Payment Method</th> 
								<th class="a-center">Product Description</th> 
							</tr>
						</thead>
						
							<tbody class="even">
							
							<?php for($i=0;$i<count($shipids);$i++) { 
									
							   $select 		= $connection->select()
												->from('sales_flat_shipment_track', array('*'))
												->where('parent_id=?',$shipids[$i]);												
												
							   $data 	   = $connection->fetchAll($select);
							   $packageId = $data[0]['itsybitsy_package_id'];
							 	$_invoice = Mage::helper('viewmanifest')->getInvoicedTotal($packageId);
							    $select1 = $connection->select()
									   ->from(array('t1'=>'sales_flat_shipment_grid'),array('total_qty','increment_id','order_increment_id','entity_id'))
									   ->join( array('t2'=> 'sales_flat_shipment'),'t2.order_id = t1.order_id',array('shipping_address_id','order_id'))
									   ->where('t1.entity_id=?',$data[0]['parent_id'])
									   ->group('t1.entity_id');
				   
							$shipdata  = $connection->fetchRow($select1);			 
			
									
									$order = Mage::getModel('sales/order')->load($shipdata['order_id']);
									$orderdata = $order->getData();
									$amount = $orderdata['base_total_paid'];
									$payment_method = $order->getPayment()->getMethodInstance()->getTitle();
									
									 $itemselect 	= $connection->select()
													->from('sales_flat_shipment_item', array('product_id','qty','sku','name'))
													->where('parent_id=?',$data[0]['parent_id']);						
						
									$productdatas 	   = $connection->fetchAll($itemselect);
									 
									$prodct_name[$i] = '';
									foreach($productdatas as $data1) {
										 $product = Mage::getModel('catalog/product')->load($data1['product_id']);
											
											$prodct_name[$i].=	$data1['name']." X ".round($data1['qty'])." (".$data1['sku'].")"."<br/>";
									}							
							
							?>
								<tr>
									<td ><?php echo $data[0]['track_number']?></td>
									<td ><?php echo $shipdata['order_increment_id']?></td>
									<td ><?php echo $shipdata['increment_id']?></td>
									<td ><?php echo $order->getShippingAddress()->format('html');?></td>
									<td ><?php echo round($shipdata['total_qty'])?></td>
									<td ><?php echo $_invoice->getGrandTotal();?></td>
									<td ><?php echo $payment_method?></td>
									<td ><?php echo $prodct_name[$i]?></td>
								</tr>
								<tbody>
								<tr class="barcode">
								<td width="1px"></td>
									<td  align="left"  colspan="8">																	
									<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$data[0]['image_path']?>" />									<div><span style="width:430px;"><?php echo $data[0]['airway_bill_barcode']?></span></div>																		</td>					
								</tr>
								</tbody>
							<?php

							
							} ?>
							
							</tbody>
						 </table>
					</div>
				</div>
				</div>
		</div>  
</div>
