<?php 
  $to=$from="";
  $salesDate=[];
  $is_post_set=false;
  
  if(!empty($_REQUEST['from']) && !empty($_REQUEST['to'])){
    $salesReport = Mage::helper('salesreport');
    $orders_row = array();
    $filter_type = $_REQUEST['filter_type'];
    $from = $_REQUEST['from'];
    $to = $_REQUEST['to'];    
    $from_date = date('Y-m-d' . ' 00:00:00', strtotime($from));
    $to_date = date('Y-m-d' . ' 23:59:59', strtotime($to));
    $salesDate = $salesReport->getDailySalesReport($from_date,$to_date);
    $is_post_set=true;
  } 
  
?>
<div id="anchor-content" class="middle">
  <div id="page:main-container">
    <div class="content-header">
      <table cellspacing="0">
        <tbody>
          <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sales-sales"><?php echo $this->__("Dailt Sales Report");?></h3></td>
            <td class="form-buttons"><button style="" onclick="filterFormSubmit.submit()" class="scalable " type="button" id="id_<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"><span>Show Report</span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div class="entry-edit">
        <form method="get" action="<?php echo Mage::helper('core/url')->getCurrentUrl();?>" id="filter_form">
          <?php /*?><input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" /><?php */?>
          <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
            <div class="form-buttons"></div>
          </div>
          <div id="sales_report_base_fieldset" class="fieldset">
            <div class="hor-scroll">
              <table cellspacing="0" class="form-list">
                <tbody>
                  <tr>
                    <td class="label"><label for="sales_report_filter_type">Filter By <span class="required">*</span></label></td>
                    <td class="value">
                      <select class="required-entry select" name="filter_type" id="sales_report_filter_type" onchange="changeStatusOption(this.value);">
                        <option selected=true value="shipping_date">Created Date</option>
                      </select>
                  </tr>
                  <tr>
                    <td class="label"><label for="sales_report_from">From <span class="required">*</span></label></td>
                    <td class="value"><input type="text" style="width:110px !important;" class=" required-entry input-text" title="From" value="<?php echo $from; ?>" id="sales_report_from" name="from" />
                      <img style="" title="Select Date" id="sales_report_from_trig" class="v-middle" alt="" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>skin/adminhtml/default/default/images/grid-cal.gif"> 
                      <script type="text/javascript">
            //<![CDATA[
                Calendar.setup({
                    inputField: "sales_report_from",
                    ifFormat: "%m/%e/%y",
                    showsTime: false,
                    button: "sales_report_from_trig",
                    align: "Bl",
                    singleClick : true
                });
            //]]>
            </script></td>
                  </tr>
                  <tr>
                    <td class="label"><label for="sales_report_to">To <span class="required">*</span></label></td>
                    <td class="value"><input type="text" style="width:110px !important;" class=" required-entry input-text" title="To" value="<?php echo $to; ?>" id="sales_report_to" name="to" />
                      <img style="" title="Select Date" id="sales_report_to_trig" class="v-middle" alt="" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>skin/adminhtml/default/default/images/grid-cal.gif"> 
                      <script type="text/javascript">
            //<![CDATA[
              Calendar.setup({
                inputField: "sales_report_to",
                ifFormat: "%m/%e/%y",
                showsTime: false,
                button: "sales_report_to_trig",
                align: "Bl",
                singleClick : true
              });
            //]]>
                </script></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <style type="text/css">
      .no-display{display:none;}
      </style>
    </div>
    
    <div>
    <?php if($is_post_set){?>
      <table cellspacing="0" class="actions">
        <tbody>
          <tr>
            <td class="pager">&nbsp;</td>
            <td class="export a-right">
              <form method="post" action="<?php echo $this->getUrl('*/*/exportCsv')?>" id="csv_form">
                  <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                  <input type="hidden" value="<?php echo $from; ?>" id="sales_report_from" name="from" />
                    <input type="hidden" value="<?php echo $to; ?>" id="sales_report_to" name="to" />
                    <select name="filter_type" class="no-display">
                        <option selected="selected" value="shipping_date">Shipping Date</option>
                    </select>    
                </form>
                <script type="text/javascript">
         //<![CDATA[
          var csvFormSubmit  = new varienForm('csv_form');
         //]]>
        </script> 
            </td>
            <td class="filter-actions a-right">
              <img class="v-middle" alt="" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>skin/adminhtml/default/default/images/icon_export.gif">&nbsp; Export to:
              <select style="width:8em;" id="sales_order_grid_export" name="sales_order_grid_export">
                <option value="<?php echo $this->getUrl('*/*/exportCsv')?>">CSV</option>
              </select>
              <button onclick="csvFormSubmit.submit()" class="scalable task" type="button"><span>Export</span></button>
            </td>
          </tr>
        </tbody>
      </table>
    <?php } ?> 
    <script type="text/javascript">
         //<![CDATA[
          var filterFormSubmit  = new varienForm('filter_form');
      function changeStatusOption(optionvalue){
        var filter_date = document.getElementById("hide_for_shipping_date");
        var hide_status_for_shipping_date = document.getElementById("hide_status_for_shipping_date");
        if(optionvalue=="shipping_date"){
          filter_date.className = "no-display";
          hide_status_for_shipping_date.style.display = "none";
        }
        if(optionvalue=="order_date"){
          filter_date.className = "";
        }
      }
         //]]>
        </script>  
      <div id="id_<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" class="print_<?php echo Mage::getSingleton('core/session')->getFormKey() ?>">
        <div class="grid">
          <div class="hor-scroll">
            <table cellspacing="0" id="id_<?php echo Mage::getSingleton('core/session')->getFormKey() ?>_table" class="data">
              <colgroup>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              </colgroup>
              <thead>
                <tr class="headings">
                  <th class=" no-link"><span class="nobr">Id</span></th>
                  <th class=" no-link"><span class="nobr">Order No</span></th>
                  <th class=" no-link"><span class="nobr">Order Date</span></th>
                  <th class=" no-link"><span class="nobr">Sku</span></th>
                  <th class=" no-link"><span class="nobr">Name</span></th>
                  <th class=" no-link"><span class="nobr">Qty Ordered</span></th>
                  <th class=" no-link"><span class="nobr">Qty Invoiced</span></th>
                  <th class=" no-link"><span class="nobr">Qty Canceled</span></th>
                  <th class=" no-link"><span class="nobr">Qty Shipped</span></th>
                  <th class=" no-link"><span class="nobr">Original Price</span></th>
                  <th class=" no-link"><span class="nobr">Tax %</span></th>
                  <th class=" no-link"><span class="nobr">Tax Amount</span></th>
                  <th class=" no-link"><span class="nobr">Discount %</span></th>
                  <th class=" no-link"><span class="nobr">Discount Amount</span></th>
                  <th class=" no-link"><span class="nobr">Discount Description</span></th>
                  <th class=" no-link"><span class="nobr">Row Total</span></th>
                  <th class=" no-link"><span class="nobr">Status</span></th>
                  <th class=" no-link"><span class="nobr">Coupon Code</span></th>
                  <th class=" no-link"><span class="nobr">Shipping Amount</span></th>
                  <th class=" no-link"><span class="nobr">Total Order Value</span></th>
                  <th class=" no-link"><span class="nobr">Customer Email</span></th>
                  <th class=" no-link"><span class="nobr">Customer Name</span></th>
                  <th class=" no-link"><span class="nobr">City</span></th>
                  <th class=" no-link"><span class="nobr">Region</span></th>
                  <th class=" no-link"><span class="nobr">Country</span></th>
                  <th class=" no-link"><span class="nobr">Postcode</span></th>
                  <th class=" no-link"><span class="nobr">Telephone</span></th>
                  <th class=" no-link"><span class="nobr">Payment Type</span></th>
                  <th class=" no-link"><span class="nobr">Courier Service</span></th>
                  <th class=" no-link"><span class="nobr">Track Number</span></th>
                </tr>
              </thead>
              <tbody id="">
                <?php
                if(count($salesDate)>0){
          foreach($salesDate as $report){
            if(!empty($report)){
              echo "<tr>";
              foreach($report as $value){
        ?>
                      <td><?php echo $value;?></td>
                <?php
              }
              echo "</tr>";
            }
          }
        }else{
        ?>
              <tr class="even">
                <td colspan="27" class="empty-text a-center">No records found.</td>
              </tr>
              <?php }?>
                </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>