<style type="text/css">
    /*
    Tables
    ---------------------------------------------------------------------------------------------------- */
    table {
    max-width: 100%;
    }
    th {
    text-align: left;
    }
    .table {
    width: 100%;
    margin-bottom: 20px;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
    }
    .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    }
    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    }
    .table > tbody + tbody {
    border-top: 2px solid #ddd;
    }
    .table .table {
    background-color: #fff;
    }
    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
    padding: 5px;
    }
    .table-bordered {
    border: 1px solid #ddd;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
    }
    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #eaeaea;
    }
    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5;
    }
</style>
<div class="container">
  <h2>Exported reports</h2>
</div>
<?php
    $path = 'var/export/';
    $webPath =  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
    if ($handle = opendir($path)) {
      $thelist = '<table class="table table-bordered"><tr><th>File name</th><th>date</th>';
      $files = [];
        while (false !== ($file = readdir($handle)))
        {
            if ($file != "." && $file != "..")
            {
                $files[filemtime($path.$file)] = $file;
            }
        }
        if (empty($files) === false) {
            krsort($files);
            foreach ($files as $time => $file) {
              $time = date("F d Y H:i:s.",$time);
              $thelist .= '<tr><td><a href="'.$webPath.$path.$file.'">'.$file.'</a></td><td>'.$time.'</td></tr>';
            }
             $thelist.='</table>';
            echo $thelist;
        } else {
            echo "<h4>No reports found</h4>";
        }
        closedir($handle);
    }
    ?>