
 <div class="entry-edit package-creation">       
        <div class="entry-edit-head">        
      		 <h2 class="icon-head"> Stock Report </h2>
        </div>
        <div class="fieldset manifest-fieldset">
				<form id="reportform" action="<?php echo Mage::helper('adminhtml')->getUrl('salesreport/adminhtml_reportsnew/new'); ?>" method="post" name="reportform" class="manifest-barform">								
				<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
				<input type="submit" id="btn-manifest" value="Generate Report" class="create-btn" />				
				</form>	
		</div>	
</div>

<script type="text/javascript">
//<![CDATA[
    var reportform = new VarienForm('reportform', true);
//]]>
</script>

