<div style="left: -2px; top: 0px; width: 1349px; height: 1615px; display :none;" id="loading-mask">
    <p id="loading_mask_loader" class="loader"><img alt="Loading..." src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif') ?>"><br>Please wait...</p>
</div>


 <div class="entry-edit package-creation">       
        <div class="entry-edit-head">        
      		 <h2 class="icon-head"> Order Reconcilation Report </h2>
        </div>
        <div class="fieldset manifest-fieldset">
				<form id="reportform" action="<?php echo Mage::helper('adminhtml')->getUrl('salesreport/adminhtml_report/new'); ?>" method="post" name="reportform" class="manifest-barform">
				<div class="manifest-filter">
					<fieldset>
					<label>From Date </label>
					<input type="text" id="from-date" name="from-date" value="" class="input-text required-entry"/>
					<label>To Date </label>
					<input type="text" id="to-date" name="to-date" value="<?php echo date("d-m-Y", Mage::getModel('core/date')->timestamp(time()));?>" class="input-text required-entry" />
					</fieldset>
				</div>
				<fieldset>
				<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
				<input type="submit" id="btn-manifest" value="Generate Report" class="create-btn" />
				</fieldset>
				</form>	
		</div>	
</div>

<script type="text/javascript">
//<![CDATA[
    var reportform = new VarienForm('reportform', true);
//]]>
</script>	
<script type="text/javascript">// <![CDATA[
Calendar.setup({
    inputField : 'to-date',
    //ifFormat : '%e %b %Y',
	ifFormat : '%e-%m-%Y',
    button : 'date_from_trig',
    align : 'Bl',
    singleClick : true
});
Calendar.setup({
    inputField : 'from-date',
    //ifFormat : '%e %b %Y',
	ifFormat : '%e-%m-%Y',
    button : 'date_from_trig',
    align : 'Bl',
    singleClick : true
});
</script>	