<div class="track-top">
    <img src="<?php echo $this->getSkinUrl('images/Track-your-order-banner-2.png');?> " />
    <div class="track-top-inner">
      <p>“PRG001”</p>
    </div>
</div>
<div class="clearfix">
   <h4 class="cat-title"><?php echo $this->__('Track Your Order ') ?>
   <span class="pull-right" id="trackagain" align="right">
    <a class="btn btn-primary" href="<?php echo Mage::getUrl('trackorder/');?>">Search another order</a>
   </span>
   </h4>
</div>
<span class="title-bor"> <img src="<?php echo $this->getSkinUrl('images/title-bor-img.jpg');?> " />  </span>

<!--Order Track status-->
<div class="order-block">
  <!-- <form action="<?php //echo htmlspecialchars($_SERVER["PHP_SELF"]);?>" method="post" > -->

  <!-- <form action="<?php //echo "/trackorder/index";?>" method="post" > -->
  <form action="<?php echo Mage::getUrl('trackorder/index/index');?>" method="post" >
    <input type = "text" name = "orderId" id = "order_id" class ="required" placeholder = "Orderid" required></input>
    <input type = "email" name = "email" id = "order_email" placeholder = "Email" required></input>
   <div class="clearfix">
    <input type="submit" name="submit" value="Track Your Order" class="btn btn-primary">
    </div>
  </form>
</div>


<?php

  if($_SERVER["REQUEST_METHOD"] == "POST")
  {
    $id = $_POST['orderId'];
    $email = $_POST['email'];
    $order = Mage::getModel('sales/order')->loadByIncrementId($id);
    $order_email = $order->getCustomerEmail();
    $shipmentCollection = Mage::getResourceModel('sales/order_shipment_collection')->setOrderFilter($order)->load();

    if ($order->getId()){
    if($order_email != $email){
      $track = false;
      $id = "";
      $email = "";
      ?>
      <div class="text-center"><h2>Your order was not found</h2></div>

      <?php
      //exit();
      $idMatch = 0;
    }else{
      $order = Mage::getModel('sales/order')->loadByIncrementId($id);

      if($order->getState() == 'canceled') {
        $canceledStatus = "This order has been canceled";
      }

      $idMatch = 1;
      $order_id = $id;
      $track = true;

      $isGuest = $order->getCustomerIsGuest();

      if( $track )
      {

       $shipping_address_data = $order->getShippingAddress();

       $billing_address_data = $order->getBillingAddress();

       $orderItems = $order->getAllItems();

       $_totalData =$order->getData();

    }
  }

    //if(Mage::getStoreConfig('trackorder/trackorder_general/enabled')){
  // $track = false;
 //    if( $_REQUEST['isForm'] )
 //    {
  //     $order_id = $_REQUEST['order_id'];
  //     $order = Mage::getModel('sales/order')->loadByIncrementId($order_id);
  //  $isGuest = $order->getCustomerIsGuest();
  //  $cEmail = $order->getCustomerEmail();
  //  if ($cEmail == trim($_REQUEST['email'])) {
  //    $track = true;
  //  }

 //    echo "hurry order id" . $_REQUEST['orderId'];
 //    echo "hurry Email id" . $_REQUEST['email'];
     // }
     // else
     // {
  //    //  $order_id = Mage::app()->getRequest()->getParam('order_id');
 //    //   //$order = Mage::getModel('sales/order')->load($order_id);
  //    // //$order = Mage::getModel('sales/order')->load('190');
 //    //   $order_id = $order->getIncrementId();
 //    $order = Mage::getModel('sales/order')->loadByIncrementId("100000144");
 //    $order_id = "100000144";
  //  $track = true;
    // }
  //  $isGuest = $order->getCustomerIsGuest();

  // if( $track )
  // {

  //  $shipping_address_data = $order->getShippingAddress();

  //  $billing_address_data = $order->getBillingAddress();

  //  $orderItems = $order->getAllItems();

  //  $_totalData =$order->getData();

?>

<?php
$track_helper = Mage::Helper('trackorder');

$pack_details = $track_helper->getPackagedId($order->getId());

?>
<div class="trackorder-cancel">
  <?php
  if($canceledStatus != "This order has been canceled"){ ?>

    <h4>Order Id : <?php echo $order_id;?></h4>
  <?php
  }else{ ?>
    <h4>Order Id : <?php echo $order_id; echo "   ( ".$canceledStatus." )";?></h4>
  <?php
  }
  ?>

   <div class="itemdetails ver-space ver-mspace">
      <div class="table-responsive ">
         <table class="table table-condensed no-mar">
            <tr>
         <th>Id</th>
               <th>Package Details</th>
               <th>Order Placed On</th>
               <th>Package Created On</th>
               <th>Shipped On</th>
               <th>Track your Shipment </th>
               <!--<th>Subtotal</th> -->
            </tr>
      <!-- Get invoice details -->
      <?php
            foreach ($order->getInvoiceCollection() as $inv) {
                  $invIncrementIDs[] = $inv->getIncrementId();
            }
            $invoice = Mage::getModel('sales/order_invoice')->loadByIncrementId($invIncrementIDs);
            $InvoiceCreatedDate = $invoice->getCreatedAt();
      ?>
      <?php if($InvoiceCreatedDate == Null){?>
      <tr>
        <td></td>
         <td> Order Id : <?php echo $order_id ?> <span class="show"> Order Date: <?php echo $order->getCreatedAtStoreDate(); ?></span></td>
        <td colspan="5">
                  <div class="clearfix dc pr trackorder-proccess">
                     <div class="pa border-bottom track-progress">
                     </div>
                     <div class="col-lg-3 col-xs-2 no-pad">
                        <i class="fa fa-circle show ver-space border-left completed"></i>
                        <span class="show"><?php echo $order->getCreatedAtStoreDate(); ?></span>

                     </div>
                     <div class="col-lg-3 col-xs-2 no-pad">
                        <i class="fa fa-circle show ver-space border-left"></i>
                        <span class="show"></span>
                     </div>

                     <!-- <div class="col-lg-2 col-xs-2">
                        <i class="fa fa-circle show ver-space border-left"></i>
                        <span class="show">
            </span>
          </div> -->
                     <div class="col-lg-3 col-xs-2">
                        <i class="fa fa-circle show ver-space border-left"></i>
                        <span class="show">
            </span>
                     </div>
                     <div class="col-lg-2 col-xs-2 ">
                        <i class="fa fa-circle show ver-space border-left border-right"></i>
                     </div>
                  </div>
               </td>
               <td id="ls">Rs.
          <?php
            echo number_format($_totalData["grand_total"],2);
          ?>
        </td>
      </tr>
      <?php }else{ ?>
      <?php if( count($invIncrementIDs) > 0 ){
        $i = 1;
        ?>
      <?php //foreach( $pack_details as $pack_details ){
        //$package_date = $track_helper->getPackageDetails($pack_details['package_id']);
        ?>
            <tr>
        <td><?php echo $i ?></td>
        <td>
         <?php
          //$pack_data = $track_helper->getPackageData($pack_details['package_id']);
          //   foreach( $pack_data as $pack )
          //   {

          //     $product = Mage::getModel('catalog/product')->load($pack['product_entity_id']);

          //     $details.= $product->getName()."x".$pack['qty']."<br>";
          //   }
          // echo $details;
            ?>
            Order Id : <?php echo $order_id ?> <span class="show"> Order Date: <?php echo $order->getCreatedAtStoreDate(); ?></span>
          </td>
         <?php //} ?>


               <td colspan="5">
                  <div class="clearfix dc pr trackorder-proccess">
                     <div class="pa border-bottom track-progress">
                     </div>
                     <div class="col-lg-3 no-pad">
                        <i class="fa fa-circle show ver-space border-left completed"></i>
                        <span class="show"><?php echo $order->getCreatedAt() ?></span>

                     </div>
                     <div class="col-lg-3 no-pad">
                        <i class="fa fa-circle show ver-space border-left <?php if($InvoiceCreatedDate != Null){ echo "completed";} ?>"></i>
                        <span class="show">
                          <?php if( $InvoiceCreatedDate != null){

                                echo $InvoiceCreatedDate;
                                }?>
                        </span>
                     </div>

                    <?php
                        //Get The shipment collection For Trackbutton link
                        foreach ($shipmentCollection as $shipment){
                            foreach($shipment->getAllTracks() as $tracknum)
                            {
                                $tracknums =$tracknum->getTrackNumber();
                                $trackTital = $tracknum->getTitle();
                            }
                        }
                     ?>

                     <div class="col-lg-3">
                        <i class="fa fa-circle show ver-space border-left <?php if($tracknums != Null){ echo "completed";} ?>"></i>
                        <span class="show">
                          <?php if($shipmentCollection) {
                                foreach ($shipmentCollection as $shipment) {
                                      echo $shipment->getCreatedAt();
                                }

                                } ?>
                        </span>
                     </div>

                     <div class="col-lg-2 ">
                        <i class="fa fa-circle show ver-space border-left border-right  <?php if($tracknums != Null){ echo "completed";}?>"></i>

                        <?php
                        if ($tracknums != Null) {
                        ?>
                      <a class="btn btn-primary" href="http://track.aftership.com/<?php echo strtolower($trackTital).'/'.$tracknums; ?>" target="_blank">Track Your Delivery</a>
                        <?php } ?>
                     </div>
                  </div>
               </td>
            </tr>
      <?php  $i++;  } } }?>
         </table>
      </div>
   </div>
</div>

<!--Ordered product details -->
<div>
   <div class="clearfix ver-mspace">
      <section class="itemdetails success-items">
         <div class="clearfix">
     <h3 class="pull-left no-mar">Item Details</h3>
     <?php
      if($isGuest === false){
     ?>
     <div class="pull-right">
       <a href="<?php echo Mage::getUrl('sales/order/history')?>" >Back to orders &nbsp; | &nbsp;</a>
       <?php if (Mage::helper('sales/reorder')->canReorder($order)) : ?>
       <a href="<?php echo Mage::getUrl('sales/order/reorder/order_id/'.$order->getId()) ?>">Reorder&nbsp;|&nbsp;</a>
       <?php endif; ?>
    </div>
    <?php
      }
    ?>
    </div>
        <?php
         if($order->getId()):
            $_coreHelper = $this->helper('core');
            $orderItems = $order->getAllVisibleItems();
            ?>
    <div class="pro-cart-summery">
        <table class="cart-summery-table data-table">
            <thead>
                <th class="first a-left"><?php echo $this->__('Product Name') ?></th>
                <th class="a-center"><?php echo $this->__('Quantity') ?></th>
                <th class="a-center"><?php echo $this->__('SKU') ?></th>
                <th class="a-center"><?php echo $this->__('Unit Price') ?></th>
                <th class="a-center"><?php echo $this->__('Tax') ?></th>
                <th class="a-center"><?php echo $this->__('Discount') ?></th>
                <th class="a-right"><?php echo $this->__('Subtotal') ?></th>
            </thead>
            <tbody>
                <?php foreach($orderItems as $items)
                    {
                      $_product = Mage::getModel('catalog/product')->load($items->getProductId());
                      $parentID = Mage::getResourceSingleton('catalog/product_type_configurable')->getParentIdsByChild($_product->getId());
                      $parent = Mage::getModel('catalog/product')->load(end($parentID));

                      $product_small_image_path = Mage::helper('catalog/image')->init($parent,'small_image')->resize(75);
                    ?>
                <tr>
                    <td class="first cart-name a-left">
                        <div class="product-image-outer">
                            <span class="product-image-success">
                            <img src="<?php echo $product_small_image_path ?>" align="<?php echo $items->getName(); ?>"/>
                            </span
                            ><h3 class="product-name"><?php echo $items->getName(); ?></h3>

                            <!-- Get product Attributes -->
                            <?php
                              $productSize = Mage::getModel('catalog/product')->load($items->getProductId())->getAttributeText('size');

                              $productColor = Mage::getModel('catalog/product')->load($items->getProductId())->getAttributeText('color');
                            ?>

                            <?php if($productSize != '') { ?>
                                  </br>
                                  <p><?php echo "Size: ".$productSize;?> </p>
                            <?php }?>

                            <?php if($productColor != '') { ?>
                                  <p><?php echo "Color: ".$productColor; ?> </p>
                            <?php }?>
                            <!-- Product Attribute Finish -->
                        </div>
                    </td>
                    <td class="pro-qty a-center"><?php echo number_format($items->getQtyOrdered(),0); ?></td>
                    <td class="sku a-center"><?php echo $this->htmlEscape($_product->getSku()) ?></td>
                    <td class="pro-price a-center"><?php echo $_coreHelper->formatPrice($items->getOriginalPrice(),true) ?></td>
                    <td class="pro-price a-center"><?php echo $_coreHelper->formatPrice($items->getTaxAmount(),true) ?></td>
                    <td class="pro-price a-center"><?php echo $_coreHelper->formatPrice($items->getDiscountAmount(),true) ?></td>
                    <?php $totalprice = ($items->getQtyOrdered())*($items->getOriginalPrice()) - $items->getDiscountAmount(); ?>
                    <td class="total-price a-right">
                        <span class="alt-bg"><?php echo $_coreHelper->formatPrice($totalprice,true) ?></span>
                    </td>
                </tr>
                <?php
                    }
                    ?>
            </tbody>
            <tfoot>
                <tr class="subtotal firt">
                    <td class="a-right" colspan="6">
                        <span class="subtotlal-label"><?php echo $this->__('Subtotal') ?></span>
                    </td>
                    <td class="a-right">
                        <span class="subtotlal-value">
                        <?php echo $_coreHelper->formatPrice($order->getSubtotalInclTax(),true) ?>
                        </span>
                    </td>
                </tr>
                <?php if($order->getDiscountAmount() != 0): ?>
                <tr class="discount">
                    <td class="a-right" colspan="6">
                        <?php echo $this->__('Discount').'('.$order->getDiscountDescription().')' ?>
                    </td>
                    <td class="last a-right">
                        <span class="subtotlal-value">
                        <?php echo $_coreHelper->formatPrice($order->getDiscountAmount(),true) ?>
                        </span>
                    </td>
                </tr>
                <?php
                    endif;
                    ?>
                <?php if ($order->getShippingInclTax() != 0):?>
                    <tr class="shipping">
                        <td class="a-right" colspan="6">
                            <?php echo $this->__('Shipping & Handling('.$order->getShippingDescription().')'); ?>
                        </td>
                        <td class="last a-right">
                            <span class="subtotlal-value">
                            <?php echo $_coreHelper->formatPrice($order->getShippingInclTax(),true) ?>
                            </span>
                        </td>
                    </tr>
                <?php endif; ?>
                <?php if ($order->getPaymentCharge() != 0):?>
                    <tr class="shipping">
                        <td class="a-right" colspan="6">
                            <?php echo $this->__('Payment Charge'); ?>
                        </td>
                        <td class="last a-right">
                            <span class="subtotlal-value">
                            <?php echo $_coreHelper->formatPrice($order->getPaymentCharge(),true) ?>
                            </span>
                        </td>
                    </tr>
                <?php endif; ?>
                <?php if($order->getTaxAmount() != 0): ?>
                <tr class="tax">
                    <td class="a-right" colspan="6"><?php echo $this->__('Tax')?></td>
                    <td class="last a-right">
                        <span class="subtotlal-value">
                        <?php echo $_coreHelper->formatPrice($order->getTaxAmount(),true) ?>
                        </span>
                    </td>
                </tr>
                <?php
                    endif;
                    ?>
                <tr class="grand_total last">
                    <td class="a-right" colspan="6"><strong><?php echo $this->__('Total') ?></strong></td>
                    <td class="last a-right">
                        <span class="subtotlal-value">
                        <strong><?php echo $_coreHelper->formatPrice($order->getGrandTotal(),true); ?></strong>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <?php endif;?>
   </div>
</div>
<div id="oderinfo" class="order-info-message"></div>

<script type="text/javascript">
   var validateForm = new VarienForm('track_order', true);
</script>
<script type="text/javascript">
   function sendAjax(frmId,url){
       if (!validateForm.validator.validate()) {
           return;
       }
       var data = $(frmId).serialize(this);
       $("loading-details").show();


   new Ajax.Updater(
           {
               success:"oderinfo"
           },

           url,
           {
               asynchronous:true,
               evalScripts:false,
               onComplete:function(request, json){
                   $("loading-details").hide();
                   return false;
               },
               onLoading:function(request, json){},
               parameters:data
           }
       );
       return false;
   }

</script>
  <!-- Show not found msg if order id is invalid -->
    <?php }else{ ?>
       <!-- <div class="text-center"><h2>Your order was not found</h2></div>-->
    <?php } ?>

 <?php //else: ?>
<?php
   // $url = Mage::getBaseUrl();
   // Mage::app()->getFrontController()->getResponse()->setRedirect($url);
   ?>
   <?php //endif;?>

<script type="text/javascript">
  var idMatch = "<?php echo $idMatch; ?>";
  if(idMatch == 0){
    jQuery(".trackorder-cancel").hide();
    jQuery(".clearfix.ver-mspace").hide();
    jQuery("#trackagain").hide();
    jQuery(".track-top").hide();
  }else{
    jQuery(".order-block").hide();
    jQuery("#trackagain").show();
    jQuery(".track-top").show();
  }
</script>
