<?php
   if(Mage::getStoreConfig('trackorder/trackorder_general/enabled')):
	$track = false;
   if( $_REQUEST['isForm'] )
   { 
	   $order_id = $_REQUEST['order_id'];
	    $order = Mage::getModel('sales/order')->loadByIncrementId($order_id);
			$isGuest = $order->getCustomerIsGuest();
		$cEmail = $order->getCustomerEmail();
		if ($cEmail == trim($_REQUEST['email'])) {
			$track = true;
		}
   }
   else
   {
	    $order_id = Mage::app()->getRequest()->getParam('order_id');
	    $order = Mage::getModel('sales/order')->load($order_id);
		$order_id = $order->getIncrementId();
		$track = true;
   }
   $status = $order->getStatusLabel();

    $isGuest = $order->getCustomerIsGuest();
  if( $track )
  {
   
   $shipping_address_data = $order->getShippingAddress();
   
   $billing_address_data = $order->getBillingAddress();
   
   $payment = $order->getPayment()->getMethodInstance()->getTitle();
   
   $orderItems = $order->getAllItems();
   
   
   
   $order->getShipmentsCollection();
   foreach($order->getShipmentsCollection() as $shipment){
   
   }
   
   $_totalData =$order->getData();
   
   
   ?>
 <!--Title of the page-->
<div class="page-title">
   <h2 class="heading border-bottom"><?php echo $this->__('Track Your Order ') ?></h2>
</div>
<!--Order Track status-->
<?php 
$track_helper = Mage::Helper('trackorder');

$pack_details = $track_helper->getPackagedId($order->getId());
/* if( count($pack_details) == 0 )
{
	$pack_details = $_totalData;
} */
	
 ?>
<div class="trackorder-cancel">
   <h4>Order Id : <?php echo $order_id; ?></h4>
   <?php if($status!='Canceled'){?>
   <div class="itemdetails ver-space ver-mspace">
      <div class="table-responsive ">
         <table class="table table-condensed no-mar success">
            <tr>
			   <th>Id</th>
               <th>Package Details</th>
               <th>Order Placed On</th>
               <th>Package Created On</th>
               <th>Shipment Created</th>
               <th>Shipped On</th>
               <th>Track your Shipment </th>
               <th>Subtotal</th>
            </tr>
			<?php if( count($pack_details) == 0 ){?>
			<tr>
				<td></td>
				 <td> Order Id : <?php echo $order_id ?> <span class="show"> Order Date:<?php echo $order->getCreatedAt()?></span></td>
				<td colspan="5">
                  <div class="clearfix dc pr trackorder-proccess">
                     <div class="pa border-bottom track-progress">
                     </div>
                     <div class="col-lg-2 no-pad">
                        <i class="fa fa-circle show ver-space border-left completed"></i>
                        <span class="show"><?php echo $order->getCreatedAt() ?></span>
                       
                     </div>
                     <div class="col-lg-3">
                        <i class="fa fa-circle show ver-space border-left"></i>
                        <span class="show">							
						</span>
                     </div>
                     <div class="col-lg-2">
                        <i class="fa fa-circle show ver-space border-left"></i>
                        <span class="show">
						</span>
					</div>
                     <div class="col-lg-3">
                        <i class="fa fa-circle show ver-space border-left"></i>
                        <span class="show">
						</span>
                     </div>
                     <div class="col-lg-2 no-pad">
                        <i class="fa fa-circle show ver-space border-left border-right"></i>
                     </div>
                  </div>
               </td>
               <td>Rs. 	
					<?php
						echo number_format($_totalData["grand_total"],2);
					?>
				</td>
			</tr>
			<?php }else{ ?>
			<?php if( count($pack_details) > 0 ){
				$i = 1;
				?>
			<?php foreach( $pack_details as $pack_details ){
				$package_date = $track_helper->getPackageDetails($pack_details['package_id']); 
				?>
            <tr>
				<td><?php echo $i ?></td>
				<?php if( $pack_details['is_packaged'] ){ ?>
               <td>
			   <?php 
					$pack_data = $track_helper->getPackageData($pack_details['package_id']); 
					  foreach( $pack_data as $pack )
					  {
						 
						  $product = Mage::getModel('catalog/product')->load($pack['product_entity_id']);
						  
						   $details.= $product->getName()."x".$pack['qty']."<br>";
					  }
					echo $details;
						?></td>
			   <?php } ?>
			   
			
               <td colspan="5">
                  <div class="clearfix dc pr trackorder-proccess">
                     <div class="pa border-bottom track-progress">
                     </div>
                     <div class="col-lg-2 no-pad">
                        <i class="fa fa-circle show ver-space border-left completed"></i>
                        <span class="show"><?php echo $order->getCreatedAt() ?></span>
                       
                     </div>
                     <div class="col-lg-3">
                        <i class="fa fa-circle show ver-space border-left <?php if( $pack_details['is_packaged'] ){ echo "completed";} ?>"></i>
                        <span class="show">
							<?php if( $pack_details['is_packaged'] ){
								
							echo $package_date['created_date']; }?>
						</span>
                     </div>
                     <div class="col-lg-2">
                        <i class="fa fa-circle show ver-space border-left <?php if( $pack_details['shipment_id'] ){ echo "completed";} ?>"></i>
                        <span class="show">
							<?php if( $pack_details['shipment_id'] ){
								$shipment_id = Mage::getModel('sales/order_shipment')->load($pack_details['shipment_id']); 
								echo $shipment_id->getCreatedAt();}  ?>
						</span>
					</div>
                     <div class="col-lg-3">
                        <i class="fa fa-circle show ver-space border-left <?php if( $pack_details['manifest_id'] ){ echo "completed";} ?>"></i>
                        <span class="show">
							<?php if( $pack_details['manifest_id'] ) {
								$manifest_date = $track_helper->getManifestDetails($pack_details['manifest_id']); 
								echo $manifest_date['created_at']; } ?>
						</span>
                     </div>
                     <div class="col-lg-2 no-pad">
                        <i class="fa fa-circle show ver-space border-left border-right  <?php if( $pack_details['manifest_id'] ){ echo "completed";}?>"></i>
                        <?php if( $pack_details['manifest_id'] ){ $track_details = $track_helper->getShippingTrack($pack_details['shipment_id']);?><a href="https://www.fedex.com/apps/fedextrack/?action=track&trackingnumber=<?php echo $track_details['tracking_number']; ?>&cntry_code=in" target="_blank">Track Your Delivery</a><?php } ?>
                     </div>
                  </div>
               </td>
               <td>Rs. 	
					<?php if( $pack_details['is_packaged'] ){
						
						echo $pack_details['subtotal'];
					}else{
						echo number_format($_totalData["grand_total"],2);
					}?>
				</td>
            </tr>
			<?php  $i++;	} } }?>
         </table>
      </div>
   </div>
   <?php } else { ?>
   <h4> <p> Your Order has been <?php echo $status;?></p></h4>
   <?php }

   ?>
</div>

<!--Ordered product details -->
<div>
   <div class="clearfix ver-mspace">
      <section class="itemdetails success-items">
         <div class="clearfix">
		 <h3 class="pull-left no-mar">Item Details</h3>
		 <div class="pull-right">
			 <a href="<?php echo Mage::getUrl('sales/order/history')?>" >Back to orders &nbsp; | &nbsp;</a>
			 
			 <?php if (Mage::getSingleton('customer/session')->isLoggedIn()) { ?>
			 <?php if (Mage::helper('sales/reorder')->canReorder($order)) : ?>
			 
			 <a href="<?php echo Mage::getUrl('sales/order/reorder/order_id/'.$order->getId()) ?>">Reorder&nbsp;|&nbsp;</a>
			 <?php endif; 
			 ?>
			 <?php } else { ?>
			  <a href="javascript:socialLogin();">Reorder&nbsp;|&nbsp;</a>
			 <?php } ?>
			  <?php if (Mage::helper('cancelorder/customer')->canCancel($order)) : ?>
			 <a href="<?php echo Mage::getUrl('sales/order/cancel/order_id/'.$order->getId()) ?>">Cancel &nbsp;</a>
			 <?php endif; ?>
		</div>
		</div>
         <div class="table-responsive ">
            <table class="table table-condensed no-mar success">
               <tr>
                  <th> Description</th>
                  <th>Size</th>
                  <th>Order Item ID</th>
                  <th>Qty</th>
                  <th>Price</th>
                  <th>VAT</th>
                  <th>Discount</th>
                  <th>Total</th>
               </tr>
               <?php 
                  foreach($orderItems as $orderItem) {
                  
                      $_product = Mage::getModel('catalog/product')->load($orderItem->getProductId());
					  $parentIds = Mage::getResourceSingleton('catalog/product_type_configurable')
						  ->getParentIdsByChild($orderItem->getProductId());
						$main_product = Mage::getModel('catalog/product')->load($parentIds);
						 $url = $main_product->getProductUrl();
						 
						 
                  ?>
               <tr>
                  <td>
                     <div class="media col-lg-8">
                        <div class="media-left media-middle">
                           <a href="<?php echo $url; ?>" title="<?php echo $orderItem->getName(); ?>"><img width="69" height="85" alt="" src="<?php echo Mage::helper('catalog/image')->init($_product,'small_image')->keepFrame(false)->resize(69,85); ?>" /></a>
                        </div>
                        <div class="media-body">
                           <h4 class="media-heading"><a href="<?php echo $url;?>"><?php echo $orderItem->getName();?></a></h4>
                           <p><?php echo $orderItem->getDescription();?></p>
                        </div>
                     </div>
                  </td>
                  <td><?php echo $_product->getAttributeText("size");?></td>
                  <td><?php echo $orderItem->getSku();?></td>
                  <td>
                     <input type='text' name='quantity' value='<?php echo number_format($orderItem->getQtyOrdered(),0); ?>' class="qty success-qty" />
                  </td>
                  <td>Rs. <?php echo number_format($orderItem->getPrice());?></td>
                  <td><?php echo number_format($orderItem->getTaxAmount(),2);?></td>
                  <td><?php echo number_format($orderItem->getDiscountAmount(),2);?></td>
                  <td>Rs. <?php echo number_format($orderItem->getRowTotalInclTax()); ?></td>
               </tr>
               <?php } ?>
               <tr>
                  <td colspan="8" class="dr">
                     <p>Shipping Charges : <span style="font-weight:bold; padding:0 5px 0 20px;">Rs <?php echo number_format($_totalData["shipping_amount"]);?></span></p>
                     <p>Discount : <span style="font-weight:bold; padding:0 5px 0 20px;">Rs <?php echo number_format($_totalData["discount_amount"],2);?></span></p>
                  </td>
               </tr>
               <tr>
                  <td style="text-align:left; border-top:1px solid #d3d3d3;  padding:10px;">
                     Total Quantity :  <span style="padding:0 5px 0 20px;"><?php echo number_format($order->getData('total_qty_ordered'));?></span>
                  </td>
                  <td colspan="7" style="text-align:right; border-top:1px solid #d3d3d3; padding:10px;">
                     Total Price :  <span style="font-weight:bold; padding:0 5px 0 20px;">Rs <?php echo number_format($_totalData["grand_total"],2);?></span>
                  </td>
               </tr>
            </table>
         </div>
      </section>
      <div class="clearfix">
         <div class="col-lg-8 col-md-8">
            <p class="ver-space no-mar">For enquiry call us at : <span class="textb call-no">1800 103 7455</span></p>
            <p>Between 10AM and 5PM</p>
            <!--  <p class="ver-space ver-mspace">Read terms and conditions on delivery and conditions</p> -->
         </div>
         <div class="col-lg-4 col-md-4 total-table">
            <table class="table no-mar">
               <tr>
                  <td>Sub Total</td>
                  <td>Rs. <?php echo number_format($_totalData["subtotal"],2);?>  </td>
               </tr>
               <tr>
                  <td>Delivery Charges</td>
                  <td>Rs. <?php echo number_format($_totalData["shipping_amount"]);?> </td>
               </tr>
               <tr>
                  <td>Total Tax</td>
                  <td>Rs. <?php echo number_format($_totalData['tax_amount'],2); ?> </td>
               </tr>
               <?php
                  $credit_dicount_show = $order->getMwStorecreditDiscountShow();
                  
                  
                  
                   if ($credit_dicount_show > 0){ 
                  
                   $value  = - $credit_dicount_show;
                  
                   if($_source instanceof Mage_Sales_Model_Order_Creditmemo) $value =  - $value;
                  
                  	?>
               <tr>
                  <td <?php echo $this->getLabelProperties()?>>
                     <?php echo Mage::helper('storecreditpro')->__('You Redeemed'); ?>
                  </td>
                  <td <?php echo $this->getValueProperties()?>><?php echo $order->formatPrice($value) ?></td>
               </tr>
               <?php }
                  ?>
               <?php if ( $_totalData["coupon_code"] ){?>
               <tr>
                  <td>Discount(<?php echo $_totalData["coupon_code"];?>)</td>
                  <td>Rs. <?php echo number_format($_totalData["discount_amount"]);?> </td>
               </tr>
               <?php } ?>
               <tr class="total">
                  <td>Total</td>
                  <td>Rs. <?php echo number_format($_totalData["grand_total"]);?> </td>
               </tr>
            </table>
         </div>
      </div>
   </div>
</div>
<div id="oderinfo" class="order-info-message"></div>

<script type="text/javascript">
   var validateForm = new VarienForm('track_order', true);
</script>           
<script type="text/javascript">
   function sendAjax(frmId,url){
       if (!validateForm.validator.validate()) {
           return;
       }
       var data = $(frmId).serialize(this);
       $("loading-details").show();
       
   
   new Ajax.Updater(
           {
               success:"oderinfo"
           },
           
           url,
           {
               asynchronous:true,
               evalScripts:false,
               onComplete:function(request, json){
                   $("loading-details").hide();
                   return false;
               }, 
               onLoading:function(request, json){},
               parameters:data
           }
       ); 
       return false;
   }
   
</script>

  <?php } else{ ?>
  <div class="text-center"><h2>Your order was not found</h2></div>
  <?php }?>
  
<?php else: ?>
<?php
   $url = Mage::getBaseUrl();
   Mage::app()->getFrontController()->getResponse()->setRedirect($url);
   ?>
   <?php endif; ?>

