<?php
    if(Mage::getStoreConfig('trackorder/trackorder_general/enabled')):
    ?>
    <div class="modal fade" id="trackOrderModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Track Your Order</h4>
        </div>
        <div class="modal-body">
           <form class="form-horizontal" name="track_order" id="track_order" action="<?php echo Mage::getUrl('trackorder/index/index') ?>" method="post">
              <input type="hidden" value="yes" name="isForm">
              <div class="form-group">
                <label class="control-label col-sm-2" for="order_id">Order Id:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" required id="order_id" name="order_id" placeholder="Enter Order Id">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email Id:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" required name="email" id="email" placeholder="Enter Email Id">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Track Order</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>

    <div id="oderinfo" class="order-info-message" style="display:none;"></div>
    <?php else: ?>
    <?php
        $url = Mage::getBaseUrl();
        Mage::app()->getFrontController()->getResponse()->setRedirect($url);
    ?>
    <?php endif; ?>
 
    <script>
    
    jQuery(document).ready(function(){
        jQuery('#trackorderlink').on('click',function(){
            jQuery('#trackOrderModel').modal("show");  
        });
    });
    
    </script>