
<?php
$session = Mage::getModel('core/session');
// get data
$rbanhShipping = Mage::getSingleton('core/session')->getRbanhShipping(); 
$rbanhShipping = unserialize($rbanhShipping);


$layer = Mage::getModel("catalog/layer");
$categoryid =(int) $this->getRequest()->getParam('id');

if(Mage::getSingleton('core/session')->getCurrentid()!='')
{
 $category_id = Mage::getSingleton('core/session')->getCurrentid();
}
$category = Mage::getModel("catalog/category")->load($categoryid);
    $layer->setCurrentCategory($category);
    $attributes = $layer->getFilterableAttributes();
$key =  $category->getUrlKey();
 $cancel_url = Mage::getUrl($key.'.html');
 
$session = Mage::getSingleton("core/session",  array("name"=>"frontend"));

$min_price=$session->getData("min_price");
$max_price=$session->getData("max_price");

$actual_min_price =Mage::getSingleton('catalog/layer')
->setCurrentCategory($categoryid)
->getProductCollection()
->getMinPrice();

$actual_max_price =Mage::getSingleton('catalog/layer')
->setCurrentCategory($categoryid)
->getProductCollection()
->getMaxPrice();

$visitor_price = $_GET["price"];
$visitor_priceArr = explode("-",$_GET["price"]);
$visitor_min_price = $visitor_priceArr[0];
$visitor_max_price = $visitor_priceArr[1];

//echo Mage::helper('core')->currency( $highestPricedproduct->getFinalPrice() , true, false);

 
 $url = Mage::app()->getRequest()->getServer('HTTP_REFERER');
if ((strpos($url, Mage::app()->getStore()->getBaseUrl()) !== 0)
    && (strpos($url, Mage::app()->getStore()->getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK, true)) !== 0)
) 
{
    $url = Mage::app()->getStore()->getBaseUrl();
}

$url = clean_url($url);
function clean_url($url) {
    $parts = parse_url($url);
    return $parts['scheme'] . '://' . $parts['host'] . $parts['path'];
}

 $return =  str_replace( Mage::app()->getStore()->getBaseUrl(),"",$url);

 
?>
<form id="filters" name="filters" action="<?php echo $_SERVER['PHP_SELF'];?>" method="post">
<input type='text' id='catid' name='catid' class="hide" value='<?php echo $categoryid;?>'/>
<input type='text' id='return' name='return' class="hide" value='<?php echo $return;?>'/>
<div id="hiddenInputs" class="hide">
<?php


    foreach ($attributes as $attribute) {
		$attributeModel = Mage::getModel('eav/entity_attribute')->loadByCode('catalog_product',$attribute->getAttributeCode());
//print_r($attributeModel);
//echo $attributeModel->getStoreLabel(1);
		 //echo  $attribute->getAttributeLabel();
        if ($attribute->getAttributeCode() == 'price') {
            $filterBlockName = 'catalog/layer_filter_price';
        } elseif ($attribute->getBackendType() == 'decimal') {
            $filterBlockName = 'catalog/layer_filter_decimal';
        } else {
            $filterBlockName = 'catalog/layer_filter_attribute';
        }

        $result = $this->getLayout()->createBlock($filterBlockName)->setLayer($layer)->setAttributeModel($attribute)->init();
		?>
		<input type="text" class="inputClass" name="<?php echo trim($attribute->getAttributeCode())?>" id="option_<?php echo trim($attribute->getAttributeCode())?>" value="">
		<?php
		
        
	}
	?>
	</div>
<input type='text' id='textbx' class="hide" value=''/>
<div class="demo-2">	
					<div id="dl-menu" class="dl-menuwrapper">
						
						<ul class="dl-menu dl-menuopen">
							<li class="filter-heading"><!--<a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>--> Filter
							
							<a href="<?php echo $url;?>"  class="close"> <i class="fa fa-remove" aria-hidden="true"></i> </a>
							</li>
							<?php 
							foreach ($attributes as $attribute) {
								 if ($attribute->getAttributeCode() == 'price') {
            $filterBlockName = 'catalog/layer_filter_price';
        } elseif ($attribute->getBackendType() == 'decimal') {
            $filterBlockName = 'catalog/layer_filter_decimal';
        } else {
            $filterBlockName = 'catalog/layer_filter_attribute';
        }
		
		$attributeModel = Mage::getModel('eav/entity_attribute')->loadByCode('catalog_product',$attribute->getAttributeCode());
							?>
							
                            <li id="option_<?php echo trim($attribute->getAttributeCode())?>" class="<?php echo trim($attribute->getAttributeCode())?>">
								<a href="#"> <?php  echo $attributeModel->getStoreLabel(1);?> <i class="fa fa-chevron-right" aria-hidden="true"> </i></a>
							<ul class="dl-submenu">
						<?php 	if ($attribute->getAttributeCode() == 'price') { ?>
								<div class="col-sm-12 col-xs-12">
								<input type="text" class="js-range-slider" name="my_range" value=""
  										data-type="double"
  										data-min="<?php echo  $actual_min_price?>"
  										data-max="<?php echo $actual_max_price?>"
  										data-from="<?php echo ($visitor_min_price>0)?$visitor_min_price:$min_price?>"
  										data-to="<?php echo ($visitor_max_price>0)?$visitor_max_price:$max_price?>"
  										data-grid="true"/>
								</div>
						<?php }  ?>
		<script>
					 jQuery(".js-range-slider").ionRangeSlider({
        				type: "double",
        				min: '<?php echo  $actual_min_price?>',
        				max: <?php echo $actual_max_price?>,
        				from: '<?php echo  $max_price?>',
        				to: "<?php echo $max_price?>",
        				grid: true,
        				skin: "flat"
    });

                     jQuery(".js-range-slider").on("change", function () {
                         var $input = jQuery(this);
                         var from = $input.data("from");   // input data-from attribute
                         var to = $input.data("to");       // input data-to attribute
                         sessionStorage.setItem("from", from);
                         sessionStorage.setItem("to", to);
                     });

		</script>

									<li class="dl-back"><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> <?php echo  $attributeModel->getStoreLabel(1);?> <a  href="<?php echo $url;?>" class="close"><i class="fa fa-remove" aria-hidden="true"></i></a> </li>
									<?php
									$result = $this->getLayout()->createBlock($filterBlockName)->setLayer($layer)->setAttributeModel($attribute)->init();

        foreach($result->getItems() as $option) {
			
			if ($attribute->getAttributeCode() == 'color') {
		$values =$option->getLabel();
			$str = '&nbsp;&nbsp;<p>'.$values.'</p>';
		}
		else
		{
			$values = $option->getValue();
			$str ='';
		}
			?>
			<?php if ($attribute->getAttributeCode() != 'price') { ?>
									<li><a id="<?php echo $values?>" href="javascript:void(0)" class="filter_option" rel="<?php echo $attribute->getAttributeCode()?>">
									<?php echo $str;?><span id="<?php echo $option->getValue()?>"><input type="checkbox"  classs="chkbx" name="option-<?php echo $option->getValue()?>" id="option-<?php echo $option->getValue()?>" value="<?php echo $option->getValue()?>"><?php echo $option->getLabel() ?></span></a></li>
		<?php
		} }
		?>
								</ul>
							</li>
							<?php
							}
							?>
							
                            
                            
						</ul>
                        
                        <div class="bottom-btn clearfix">
                        
                          <span id="remove"><a href="<?php echo $url;?>" id="clearall">Clear All </a></span>
						   <span id="process"><a href="javascript:void(0)" class="apply">Apply </a></span>
                        </div>
					</div><!-- /dl-menuwrapper -->
				
			<input type="text" class="hide" name="actions" id="actions" value="submit">
		</div>
		</form>
        <script type="text/javascript" src="<?php echo Mage::getBaseUrl();?>js/modernizr.custom.js"></script>
        <script type="text/javascript" src="<?php echo Mage::getBaseUrl();?>js/jquery.dlmenu.js"></script>
         <script type="text/javascript" src="<?php echo Mage::getBaseUrl();?>js/jstorage.js"></script> 
        <script>
			function changeOption()
			{

                  var str1 = sessionStorage.getItem("from");
                var str2 =  str1+ '-' + sessionStorage.getItem("to");

                 var slider =  jQuery('input#option_price').val(str2);
					var count = jQuery("input[type='checkbox']:checked").length;
                if(count >0  || slider !='')
					{
					jQuery('span#process').find('a').html('SAVE');
					jQuery('span#process').find('a').removeClass();
					jQuery('span#process').find('a').addClass('save');

					}
					else
					{
					jQuery('span#process').find('a').html('APPLY');
					jQuery('span#process').find('a').removeClass();
					jQuery('span#process').find('a').addClass('apply');
					}
			}
					
				function toggleSelect(id)
				{

				var myButtonClasses = document.getElementById(id).classList;


				 if (myButtonClasses.contains("selected")) {

				    myButtonClasses.remove("selected");

				    
				var imageUrl2 ='<?php echo Mage::getBaseUrl();?>skin/frontend/default/default/images/filter-icon.jpg';
				jQuery('li').find('a#'+id).css({'background-image' : 'url(' + imageUrl2 + ')','background-repeat': 'no-repeat'});


				 } else {

				    
				var imageUrl = '<?php echo Mage::getBaseUrl();?>skin/frontend/default/default/images/filter-icon-selected.jpg';

				jQuery('li').find('a#'+id).css({'background-image' : 'url(' + imageUrl + ')','background-repeat': 'no-repeat'});

				myButtonClasses.add("selected");

				 }
				}		
				
			function updateText(name) {
				
				
				
				 var allVals = [];
				jQuery("li."+name+" :checkbox:checked").each(function(){
				if(jQuery(this).val()!='')
				{
				allVals.push(jQuery(this).val());
				}	
					
				});
				
				jQuery('input#option_'+name).val(allVals);	 
				if(jQuery('input#option_'+name).val()!='')
				{
				jQuery('li#option_'+name).addClass('active');

				}
				else
				{
				jQuery('li#option_'+name).removeClass('active');

				}
        
        }
						
					jQuery(function() {
						
		var category_id =  jQuery.jStorage.get("category_id"); 
		var current_catid = jQuery('#catid').val();
				if(current_catid!=category_id)
				{
					InitClear();
				}		
		
		
		//uery.jStorage.set("category_id",jQuery('#catid').val());
						var $scroller = jQuery("#dl-menu");
$scroller.bind('touchstart', function (ev) {
    var $this = jQuery(this);
    var scroller = $scroller.get(0);

    if ($this.scrollTop() === 0) $this.scrollTop(1);
    var scrollTop = scroller.scrollTop;
    var scrollHeight = scroller.scrollHeight;
    var offsetHeight = scroller.offsetHeight;
    var contentHeight = scrollHeight - offsetHeight;
    if (contentHeight == scrollTop) $this.scrollTop(scrollTop-1);
});
						var clickHandler = ('ontouchstart' in document.documentElement ? "touchstart" : "click");
//console.log(value5);
					
						if(jQuery.jStorage.get("price")!='')
						{
						var value1  = jQuery.jStorage.get("price"); 
						}
						if(jQuery.jStorage.get("brandfilter")!='')
						{
						var value2  = jQuery.jStorage.get("brandfilter"); 
						}
						if(jQuery.jStorage.get("color")!='')
						{
						var value3  = jQuery.jStorage.get("color"); 
						}
						if(jQuery.jStorage.get("filter_style")!='')
						{
						var value4  = jQuery.jStorage.get("filter_style"); 
						}
						if(jQuery.jStorage.get("size")!='')
						{
							//console.log(jQuery.jStorage.get("size"));
						var value5  = jQuery.jStorage.get("size"); 
						}//price
						
						if((value1!='null')||(value1!=''))
						{
						setSelected(value1,'price');	
						jQuery('input#option_price').val(value1);
						}
						if((value2!='null')||(value2!=''))
						{
						setSelected(value2,'brandfilter');	
						jQuery('input#option_brandfilter').val(value2);
						}
						if((value3!='null')||(value3!=''))
						{
						setColorSelected(value3,'color');	
						jQuery('input#option_color').val(value3);
						}
						if((value4!='null')||(value4!=''))
						{
						setSelected(value4,'filter_style');
						jQuery('input#option_filter_style').val(value4);						
						}
						if((value5!='null')||(value5!=''))
						{
						setSelected(value5,'size');
						jQuery('input#option_size').val(value5);						
						}
						
						
				jQuery( '#dl-menu' ).dlmenu({
					animationClasses : { in : 'dl-animate-in-2', out : 'dl-animate-out-2' }
				});
				
				jQuery('.filter_option').on('click', function(e){
					e.stopPropagation(); e.preventDefault();
							
				var id = jQuery(this).find('span').attr('id');
				var name = jQuery(this).attr('rel');
				
					if(name =='color')
					{
					var id = jQuery(this).find('span').attr('id');
					var colorid =  jQuery(this).attr('id');
					toggleSelect(colorid);
					}
					else
					{
					toggleSelect(id);
					}
                     
					var textbox_value = jQuery('input#option_'+name).val();
					var str_array =[];
				if(textbox_value!='')
				{
				 str_array = textbox_value.split(',');
				}
				
				
				//end
				
				
				if(jQuery(this).hasClass('selected'))
				{
					//console.log(str_array);
				 jQuery('input#option-'+id).prop('checked', true);
				 jQuery('input#option-'+id).val(id);
				 updateText(name);
				 
				 var idx = jQuery.inArray(id, str_array);
				 console.log(idx);
				if (idx == -1) {
				if((id!='')&&(id!=null))
					str_array.push(id);
				jQuery('#option_'+name).val(str_array.join(','));
				} else {
				str_array.splice(idx, 1);
				//console.log(str_array);
				jQuery('#option_'+name).val(str_array.join(','));
				//jQuery('input#option_'+name).val(str_array);
				}
				}
				else
				{
					//console.log("come");
					//console.log(name);
				var idx = jQuery.inArray(id, str_array);
				if (idx == -1) {
				if((id!='')&&(id!=null))
				{
					//console.log("come212");
					str_array.push(id);
					jQuery('#option_'+name).val(str_array.join(','));
				}
				
				} else {
					//console.log("come22");
				
				//console.log(name);
				//console.log(str_array);
				str_array.splice(idx, 1);
				
				//console.log(str_array);
				//console.log(name_array);
				var values = str_array.join(',');
				
				jQuery('#option_'+name).val(values);
				
				}
				//jQuery('input#option_'+name).val(str_array);		
					
				
				jQuery('input#option-'+id).prop('checked', false);
				
				 updateText(name);
				}
				changeOption();
  
						
				});
				
				
				
					jQuery('span#remove').find('a#clearall').click(function(){
					
					InitClear();
					

					});
							jQuery('span#process').find('a').click(function(){
								if(jQuery(this).hasClass('save'))
								{

								SaveOption();				
								}

								else
								{
									jQuery('#actions').val('apply');
								SaveApply();
								}


							});	
						
				
			});
			
	function SaveOption()
	{
		  var price = jQuery('input#option_price').val();
		  if(price!='')
		  {
		 // var anArray = price.split(",");
		  //var lastItem = anArray.pop();


              var str1 = sessionStorage.getItem("from");
              var str2 =  str1+ '-' + sessionStorage.getItem("to");
            


		  jQuery('input#option_price').val(str2);
		  }
		var count = jQuery("input[type='checkbox']:checked").length;

		  var slider = jQuery('input#option_price').val(str2);

		//alert(count);
	if(count >0  || slider !='')
	{
					jQuery('#hiddenInputs').find('input:text').each(function() 
					{ 
					var id_class=jQuery(this).attr('id');
					var value = jQuery(this).val();
					if(value!='')
					{
					//jQuery('li#'+id_class).find('a').addClass('active');
					}


					//console.log(id_class);
					});
		//setting local save
		 jQuery.jStorage.set("price",jQuery('#hiddenInputs').find('input#option_price').val());
		 jQuery.jStorage.set("color",jQuery('input#option_color').val());
		 jQuery.jStorage.set("size",jQuery('input#option_size').val());
		 jQuery.jStorage.set("filter_style",jQuery('input#option_filter_style').val());
		
		 jQuery.jStorage.set("brandfilter",jQuery('#hiddenInputs').find('input#option_brandfilter').val());
		 jQuery.jStorage.set("category_id",jQuery('#catid').val());
		 //end
		 
		
		 var url = '<?php echo Mage::getBaseUrl()?>filters.php'; // the script where you handle the form input.

    jQuery.ajax({
           type: "POST",
           url: url,
           data: jQuery("#filters").serialize(), // serializes the form's elements.
           success: function(data)
           {
              // alert(data); // show response from the php script.
							jQuery('span#process').find('a').removeClass();
							jQuery('span#process').find('a').addClass('apply');
							jQuery('span#process').find('a').html('APPLY');
			   return false;
			 
			   //jQuery("#stayTouch2").modal('show');
           }
         });
	}
	else
	{
		alert("select Any one option");
		
		return false;
	}
	}
	function InitClear()
	{
		jQuery('div#hiddenInputs').find('input:text').val('');
		jQuery('input[type=checkbox]').each(function() 
					{ 
					this.checked = false; 
					
					});

				 
				//setting local save
		 jQuery.jStorage.set("price",'');
		 jQuery.jStorage.set("color",'');
		 jQuery.jStorage.set("size",'');
		 jQuery.jStorage.set("filter_style",'');
		 jQuery.jStorage.set("brandfilter",'');
		 //end
			jQuery('#dl-menu').find('a').removeClass('selected');	
			
			jQuery('ul.dl-menu').find('li').each(function() 
					{ 
			
					jQuery(this).removeClass('active');
					});		
	
	}
	function SaveApply()
	{
		
		
		
		var count = jQuery("input[type='checkbox']:checked").length;

        var str1 = sessionStorage.getItem("from");
        var str2 =  str1+ '-' + sessionStorage.getItem("to");
        


        //var lastItem= '65-100';

       var slider =  jQuery('input#option_price').val(str2);

        if(count >0  || slider !='')
	{
		var url = '<?php echo Mage::getBaseUrl()?>filters.php'; // the script where you handle the form input.
		jQuery.ajax({
           type: "POST",
           url: url,
           data: jQuery("#filters").serialize(), // serializes the form's elements.
           success: function(data)
           {
			  // console.log(data);
			   
               //alert(data); // show response from the php script.
						 var def=data.replace("/&","&");
               //alert(def); // show response from the php script.
							window.location.href=def;
			   return false;
			 
			   //jQuery("#stayTouch2").modal('show');
           }
         });
	}
else
	{
		//alert(count);
		var url_redirect='<?php echo Mage::app()->getRequest()->getServer('HTTP_REFERER');?>';
		//alert(url_redirect);
		InitClear();
		if(url_redirect.indexOf("catalogsearch") > -1) 
		  {
		  	//alert("catlog");
      	    var url_redirect1=url_redirect.substring(0, url_redirect.indexOf('&'));
      	    if(url_redirect1)
      	    {
      	    	 window.location.href=url_redirect1;
      	    }
      	    else
      	    {

      	   	 window.location.href=url_redirect; 	
      	    }
           		
       
    	}
    	else
    	{
    		var url_redirect = '<?php echo Mage::getModel("catalog/category")->load($categoryid)->getUrl();?>';
		window.location.href=url_redirect;
    	}
		
	}
	}
	
	function setColorSelected(str,divid) {
				if(str!=null)
				{
				jQuery('li#option_'+divid).addClass('active');
			var array = str.split(",");
			if(array.length>0)
			var cvalue ='';
			jQuery.each(array,function(i){
			
			
			 cvalue = jQuery('div#'+divid+' li').find('span#'+array[i]).attr('id');
			mvalue =  jQuery('li.'+divid).find('span#'+array[i]).parent().attr('id');
				jQuery('li').find('a#'+mvalue).addClass('selected');
				jQuery('li').find('a#'+array[i]).find('input').prop('checked', true)
			
			});
			}	
			}		
	
			function setSelected(str,divid) {
				if(str!=null)
				{
					
			var array = str.split(",");
			if(array.length>0)
			jQuery.each(array,function(i){
			var cvalue = jQuery('li.'+divid).find('span').attr('id');

			if(cvalue=array[i])
			{
				jQuery('li#option_'+divid).addClass('active');
				
			jQuery('li').find('a#'+array[i]).addClass('selected');
			//jQuery('li').find('a#'+array[i]).find('input').prop('checked', true);
			jQuery('li.'+divid).find('a#'+array[i]).find('input').prop('checked', true);
			//jQuery('li').find('a#'+array[i]+').attr('checked', true);
			}
			});
			}	
			}			
		</script>