<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.6.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * @var $this AW_Rma_Block_Customer_New
 */
?>
<?php $_formData = $this->getFormData() ?>
<div class="awrma-account">
    <div class="page-title title-buttons">
        <h1><?php echo $this->__('Request Return') ?></h1>
    </div>
    <div id="messages">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    </div>
    <?php if ($this->getGuestMode() || $this->getCustomerOrders()->getSize()) : ?>
        <form action="<?php echo $this->getGuestMode() ? $this->getUrl('awrma/guest_rma/save', array('_secure' => Mage::app()->getStore(true)->isCurrentlySecure())) : $this->getUrl('awrma/customer_rma/save', array('_secure' => Mage::app()->getStore(true)->isCurrentlySecure())) ?>" method="post" id="awrma-new-form">
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="my-account">
                <h2><?php echo $this->__('Request Information') ?></h2>
                <ul class="form-list">
                    <li class="wide">
                        <label for="awrma-order" class="required"><em>*</em><?php echo $this->__('Order') ?></label>
                        <div class="input-box">
                            <select type="select" name="order" id="awrma-order" title="<?php echo $this->__('Order') ?>" class="validate-select required-entry" defaultvalue="">
                                <option value=""><?php echo $this->__('Please select order') ?></option>
                                <?php foreach ($this->getCustomerOrders() as $order) : ?>
                                    <option value="<?php echo $order->getIncrementId(); ?>" <?php if (isset($_formData['order']) && $_formData['order'] == $order->getIncrementId()) : ?>selected="selected"<?php endif; ?>>
                                        <?php echo '#' . $order->getIncrementId() . ', ' . $this->formatDate($order->getCreatedAtStoreDate()) . ', ' . $order->formatPrice($order->getGrandTotal()) ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </li>
                    <li class="wide">
                        <label for="awrma-items-ordered-table"><?php echo $this->__('Items Ordered') ?></label>
                        <div class="input-box success-items">
                        	<div class="table-responsive">
                           	 <table class="table" id="awrma-items-ordered-table" name="items">
                                <thead id="awrma-items-head">
                                    <tr>
                                        <?php if (Mage::helper('awrma/config')->getAllowPerOrderRMA()) : ?>
                                            <th id="awrma-items-select" class="a-center v-middle">
                                                <span class="nobr">
                                                    <input type="checkbox" name="orderitemsselecttoggle" id="awrma-items-select-toggle" disabled />
                                                </span>
                                            </th>
                                        <?php endif; ?>
                                        <th><?php echo $this->__('Product Name') ?></th>
                                        <th><?php echo $this->__('SKU') ?></th>
                                        <th><?php echo $this->__('Qty') ?></th>
                                    </tr>
                                    <tr id="awrma-items-noorder" style="display: none;">
                                        <td colspan="4"><?php echo $this->__('No order selected') ?></td>
                                    </tr>
                                    <tr id="awrma-items-noitems" style="display: none;">
                                        <td colspan="4"><?php echo $this->__('No items selected') ?></td>
                                    </tr>
                                    <tr id="awrma-items-loading" style="display: none;">
                                        <td colspan="4"><img src="<?php echo $this->getSkinUrl('aw_rma/images/ajax-loader.gif') ?>" /></td>
                                    </tr>
                                    <tr id="awrma-items-error" style="display: none;">
                                        <td colspan="4"><?php echo $this->__('Some error occurs. Please, try again to select order') ?></td>
                                    </tr>
                                </thead>
                                <tbody id="awrma-items">
                                    <tr>
                                        <td colspan="4"><?php echo $this->__('No order selected') ?></td>
                                    </tr>
                                </tbody>
                            </table>
                           </div> 
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="awrma-packageopened" class="required"><em>*</em><?php echo $this->__('Package Opened') ?></label>
                            <div class="input-box">
                                <select type="select" name="packageopened" id="awrma-packageopened" title="<?php echo $this->__('Package Opened') ?>" class="validate-select required-entry">
                                    <?php $_itemSelected = isset($_formData['packageopened']) ? $_formData['packageopened'] : Mage::getModel('awrma/source_packageopened')->getDefaultValue(); ?>
                                    <?php foreach (Mage::getModel('awrma/source_packageopened')->toOptionArray() as $_item) : ?>
                                        <option value="<?php echo $_item['value'] ?>" <?php if ($_itemSelected == $_item['value']) : ?>selected="selected" <?php endif; ?>><?php echo $_item['label'] ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <?php $_types = $this->getRequestTypes() ?>
                        <?php if ($_types->getSize()) : ?>
                            <div class="field">
                                <label for="awrma-request-type" class="required"><em>*</em><?php echo $this->__('Request Type') ?></label>
                                <div class="input-box">
                                    <?php $_itemSelected = isset($_formData['requesttype']) ? $_formData['requesttype'] : '' ?>
                                    <select type="select" name="requesttype" id="awrma-request-type" title="<?php echo $this->__('Request Type') ?>" class="validate-select required-entry">
                                        <?php foreach ($_types as $_item) : ?>
                                            <option value="<?php echo $_item->getId() ?>" <?php if ($_item->getId() == $_itemSelected) : ?>selected="selected" <?php endif; ?>><?php echo $_item->getName() ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                        <?php endif ?>
                    </li>
                    <li class="wide">
                        <label for="awrma-additional-info"><?php echo $this->__('If you have placed a Cash on Delivery order, please share your bank details so that we can refund your order amount to you as soon as your return request is processed.') ?></label>
                        <div class="input-box">
                            <textarea name="additionalinfo" id="awrma-additional-info"><?php if (isset($_formData['additionalinfo']))
                        echo $_formData['additionalinfo'] ?></textarea>
                        </div>
                    </li>
                    <?php if (Mage::helper('awrma/config')->getReasonsEnabled()) : ?>
                        <li class="wide">
                            <label for="reason_id" class="required"><em>*</em><?php echo $this->__('Choose Reason') ?></label>
                            <div class="input-box">
                                <select type="select" name="reason_id" id="reason_id" title="<?php echo $this->__('Choose Reason') ?>" class="validate-select required-entry">
                                    <option value=""><?php echo $this->__('Please select reason') ?></option>
                                    <?php $_itemSelected = isset($_formData['reasonsenabled'])?$_formData['reasonsenabled']:''; ?>
                                    <?php foreach ($this->getAvailableReasons() as $_item) : ?>
                                        <option value="<?php echo $_item->getId(); ?>" <?php if ($_itemSelected == $_item->getId()) : ?>selected="selected" <?php endif; ?>><?php echo $_item->getName() ?></option>
                                    <?php endforeach; ?>
                                    <?php if (Mage::helper('awrma/config')->getReasonsOtherOptionEnabled()): ?>
                                        <option value="0"  <?php if (false && $_itemSelected === 0) : ?>selected="selected" <?php endif; ?>><?php echo $this->__('Other'); ?></option>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </li>
                        <li id="reason-information" class="wide" style="display:none;">
                            <label for="reason_details"><?php echo $this->__('Reason Details') ?></label>
                            <div class="input-box">
                                <textarea name="reason_details" id="reason_details"><?php if (isset($_formData['reason_details'])): ?>
                                    <?php echo $_formData['reason_details']; ?>
                                    <?php endif; ?></textarea>
                            </div>
                        </li>
                        <script type="text/javascript">
                            Event.observe(document, 'dom:loaded', function(event) {
                                if ($('reason_id').value === '0') {
                                    $('reason-information').show();
                                }
                                Event.observe($('reason_id'), 'change', function(event){
                                    if ($('reason_id').value == '0') {
                                        $('reason-information').show();
                                    } else {
                                        $('reason-information').hide();
                                    }
                                });
                            });
                        </script>
                    <?php endif; ?>
                </ul>
            </div>
            <?php if($this->getPolicy()) : ?>
            <div class="fieldset">
                <h2 class="legend"><?php echo $this->__('Return Policy') ?></h2>
                <ul class="form-list">
                    <li class="wide"><?php echo $this->getPolicy() ?></li>
                    <li class="control">
                        <input type="checkbox" class="required-entry checkbox" id="awrma-policy-agree"/>
                        <label for="awrma-policy-agree"><?php echo $this->__('I agree') ?></label>
                    </li>
                </ul>
            </div>
            <?php endif ?>
            <div class="clearfix">
                <!--<p class="required"><?php //echo $this->__('* Required Fields') ?></p>-->
                <button type="submit" title="<?php echo $this->__('Submit Request') ?>" class="btn btn-account" id="awrma-new-submit"><?php echo $this->__('Submit Request') ?></button>
            </div>
        </form>
        <!-- Return Request to vinculum -->
        <!-- <div class="clearfix">
                <button type="button" title="<?php //echo $this->__('Submit Request') ?>" class="btn btn-account" id="vinculumnew-submit"><?php //echo $this->__('Submit Request') ?></button>
        </div>
        <script type="text/javascript">
            jQuery('#vinculumnew-submit').click(function(){
            var ordervi = jQuery('#ordervi').val();
            var ordervi = jQuery('#orderitemscountsku').val();
            jQuery.ajax({
            url: "<?php //echo Mage::getBaseUrl().'deliverypincodes/index/hellio'?>",
            type: "POST",
            data: { ordervi: ordervi,},
            success: function (data) {
                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
            });
            });
        </script> -->
        <!-- End -->
        <script type="text/javascript">
            //<![CDATA[
            var awrmaNewForm = new VarienForm('awrma-new-form', true);
            var ordersControl = new AWRMAOrdersControl(this, awrmaNewForm, "<?php echo $this->getGuestMode() ? $this->getUrl('awrma/guest_rma/getitemsfororder') : $this->getUrl('awrma/customer_rma/getitemsfororder') ?>");
            $('awrma-order').observe('change', ordersControl.orderChanged.bind(ordersControl));
            <?php if (isset($_formData['order'])) : ?>
                ordersControl.orderChanged();
                ordersControl.syncItems(<?php echo $this->getFormData(TRUE) ?>);
            <?php endif; ?>
                //]]>
        </script>
    <?php else : ?>
        <p><?php echo $this->__('Looks like your orders haven’t been shipped yet or they’ve crossed the eligibility period of 30 days. ', Mage::helper('awrma/config')->getDaysAfter()); ?></p>
        <p> Reach out to us at <a href="mailto:support@sochstudio.com">support@sochstudio.com </a> or call us at +9180-40858896 (Mon - Sat, 10am - 6pm IST) </p>
<?php endif; ?>
</div>
