<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.6.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<!-- Return Order Request API status -->
<?php
$apiKey = Mage::getStoreConfig('apicred/keys/apikey');
$apiOwner = Mage::getStoreConfig('apicred/keys/apiowner');
$statusUrl = Mage::getStoreConfig('apicred/keys/stausurl');
$curl = curl_init();

curl_setopt_array($curl, array(
  CURLOPT_URL => $statusUrl,
  CURLOPT_RETURNTRANSFER => true,
  CURLOPT_ENCODING => "",
  CURLOPT_MAXREDIRS => 10,
  CURLOPT_TIMEOUT => 30,
  //CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
  CURLOPT_CUSTOMREQUEST => "POST",
  CURLOPT_POSTFIELDS => 'ApiOwner='.$apiOwner.'&ApiKey='.$apiKey.'&RequestBody={"order_no":[100008796],"date_from":"","date_to":"","pageNumber" :""}',
  CURLOPT_HTTPHEADER => array(
    "cache-control: no-cache",
    "content-type: application/x-www-form-urlencoded"
  ),
));

$response = curl_exec($curl);
$err = curl_error($curl);

curl_close($curl);

if ($err) {
  echo "cURL Error #:" . $err;
} else {
  echo $response;
}
$statusVin = $response['response']['order'][0]['status']; 
?>


<div id="messages">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>
<?php $_rmaRequest = $this->getRMARequest() ?>
<script type="text/javascript">
    var awrmaConfirmText = '<?php echo $this->getPreparedJSConfirmText() ?>';
</script>
<div class="awrma-account">
    <?php if ($_rmaRequest) : ?>
        <?php $_order = Mage::getModel('sales/order')->loadByIncrementId($_rmaRequest->getOrderId()) ?>
        <div class="page-title title-buttons">
            <h1><?php echo $this->__('RETURN ') . $_rmaRequest->getTextId() ?>&nbsp;&ndash;&nbsp;<?php echo Mage::getModel('awrma/entitystatus')->load($_rmaRequest->getStatus())->getName() ?></h1>
            <?php if (Mage::helper('awrma/config')->getAllowPrintLabel() && $_rmaRequest->getStatus() != Mage::helper('awrma/status')->getResolvedCanceledStatusId()) : ?>
                <?php if ($_rmaRequest->getStatus() != Mage::helper('awrma/status')->getPendingApprovalStatusId()) : ?>
                    <a href="<?php echo $this->getPrintLabelUrl() ?>" class="link-awrma-printlabel"><?php echo $this->__('Print Label') ?></a>
                    <span class="separator">|</span>
                <?php endif ?>
            <?php endif ?>
            <?php if ($_rmaRequest->getIsActive()) : ?>
                <?php if (Mage::helper('awrma/config')->getRequireConfirmSending() && $_rmaRequest->getStatus() != Mage::helper('awrma/status')->getPackageSentStatusId()) : ?>
                    <?php if ($_rmaRequest->getStatus() == Mage::helper('awrma/status')->getApprovedStatusId()) : ?>
                        <a href="<?php echo $this->getConfirmSendUrl() ?>" class="link-awrma-confirmsend" onclick="return confirm(awrmaConfirmText);"><?php echo $this->__('Confirm Shipping') ?></a>
                        <span class="separator">|</span>
                    <?php endif ?>
                <?php endif ?>
                <?php if (Mage::helper('awrma/config')->getAllowCancel() && $_rmaRequest->getStatus() != Mage::helper('awrma/status')->getPackageSentStatusId()) : ?>
                    <a href="<?php echo $this->getCancelUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to cancel this Return?') ?>')" class="link-awrma-cancel"><?php echo $this->__('Cancel') ?></a>
                <?php endif ?>
            <?php endif ?>
        </div>
        <div class="address-block clearfix my-account">
          <div class="col-md-4 col-sm-4 col-xs-12 no-pad">
        <div class="panel panel-default no-radius">
            <div class="panel-heading"><?php echo $this->__('Request Information') ?></div>
            <div class="panel-body">
               <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('RMA ID:') ?></strong> <?php echo $_rmaRequest->getTextId(); ?>
                    </div>
                    <div class="field">
                        <strong><?php echo $this->__('Initiated at:') ?></strong> <?php echo $this->formatDate($_rmaRequest->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true) ?>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('Order ID:') ?></strong> <?php if ($this->getGuestMode()) : ?><?php echo $_rmaRequest->getOrderId() ?><?php else : ?><a href="<?php echo $this->getUrl('sales/order/view', array('order_id' => $_order->getId())) ?>">#<?php echo $_rmaRequest->getOrderId() ?></a><?php endif ?>
                    </div>
                    <?php if (Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType())) : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Request Type:') ?></strong> <?php echo Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType()) ?>
                        </div>
                    <?php else : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Package Opened:') ?></strong> <?php echo Mage::getModel('awrma/source_packageopened')->getOptionLabel($_rmaRequest->getPackageOpened()) ?>
                        </div>
                    <?php endif ?>
                </li>
                <li class="fields">
                    <div class="field">
                        <strong><?php echo $this->__('Status:') ?></strong> <?php echo Mage::getModel('awrma/entitystatus')->load($_rmaRequest->getStatus())->getName();
                        echo $statusVin;
                         ?>
                    </div>
                    <?php if (Mage::helper('awrma')->getTypeLabel($_rmaRequest->getRequestType())) : ?>
                        <div class="field">
                            <strong><?php echo $this->__('Package Opened:') ?></strong> <?php echo Mage::getModel('awrma/source_packageopened')->getOptionLabel($_rmaRequest->getPackageOpened()) ?>
                        </div>
                    <?php endif ?>
                </li>
                <?php if (Mage::helper('awrma/config')->getReasonsEnabled()) : ?>
                    <li class="fields">
                        <div class="field">
                            <strong><?php echo $this->__('Reason:') ?></strong>
                            <?php if ($_rmaRequest->getReasonId() == 0) : ?>
                                <?php echo $this->__('Other'); ?>
                            <?php else: ?>
                                <?php echo Mage::getModel('awrma/entityreason')->load($_rmaRequest->getReasonId())->getName() ?>
                            <?php endif; ?>
                        </div>
                        <?php if ($_rmaRequest->getReasonId() == 0) : ?>
                            <div class="field">
                                <strong><?php echo $this->__('Reason Details:') ?></strong> <?php echo $_rmaRequest->getReasonDetails(); ?>
                            </div>
                        <?php endif ?>
                    </li>
                <?php endif;?>
            </ul>
            </div>
        </div>
    </div>
        
           
            
        </div>
        <h4><?php echo $this->__('Items Return Requested for') ?></h4>
        <div class="success-items table-responsive">
        <table id="awrma-requested-items" class="table">
            <col />
            <col width="100" />
            <col width="1"/>
            <thead>
                <tr>
                    <th><?php echo $this->__('Product Name') ?></th>
                    <th><?php echo $this->__('SKU') ?></th>
                    <th><?php echo $this->__('Qty') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php $_requestedItems = $_rmaRequest->getOrderItems() ?>
                <?php foreach (Mage::helper('awrma')->getItemsHtml($_rmaRequest, array('view_only' => true, 'items' => array_keys($_requestedItems))) as $item) : ?>
                    <?php echo $item ?>
                <?php endforeach ?>
            </tbody>
        </table>
        </div>
        <?php if (!(!$_rmaRequest->getIsActive() && (!$this->getComments() || !$this->getComments()->getSize()))) : ?>
            <div class="clearfix">
                <h2 ><?php echo $_rmaRequest->getIsActive() ? $this->__('Leave Comment') : $this->__('Messages History') ?></h2>
                <?php if ($_rmaRequest->getIsActive()) : ?>
                    <?php $_formData = $this->getFormData() ?>
                    <form method="post" id="awrma-comment-form" action="<?php echo $this->getCommentUrl() ?>" enctype="multipart/form-data">
                        <input type="hidden" name="MAX_FILE_SIZE" value="<?php echo Mage::helper('awrma/config')->getMaxAttachmentsSize() ?>" />
                        <?php echo $this->getBlockHtml('formkey') ?>
                        <ul class="form-list">
                            <li class="wide">
                                <label for="awrma-comment-text" class="required"><em>*</em><?php echo $this->__('Comment Text') ?></label>
                                <div class="input-box">
                                    <textarea name="comment" id="awrma-comment-text" class="required-entry"><?php if ($_formData && isset($_formData['comment']))
                echo $_formData['comment'] ?></textarea>
                                </div>
                            </li>
                            <?php if (Mage::helper('awrma/config')->getAllowAttachments()) : ?>
                                <li class="fields">
                                    <div class="field">
                                        <label for="awrma-file-upload"><?php echo $this->__('Attachment') ?></label>
                                        <div class="input-box">
                                            <input type="file" id="awrma-file-upload" name="attachedfile" />
                                        </div>
                                    </div>
                                </li>
                            <?php endif ?>
                        </ul>
                        <div class="clearfix">
                          <!--  <p class="required"><?php //echo $this->__('* Required Fields') ?></p>-->
                            <button type="submit" title="<?php echo $this->__('Submit Comment') ?>" class="btn btn-account" id="awrma-comment-submit"><?php echo $this->__('Submit Comment') ?></button>
                        </div>
                    </form>
                    <script type="text/javascript">
                        var commentForm = new VarienForm('awrma-comment-form', true);
                        var commentControl = new AWRMACommentFormControl(commentForm);
                    </script>
                <?php endif ?>
                    <?php if ($this->getComments() && $this->getComments()->getSize()) : ?>
                    <ul class="awrma-comments-list">
            <?php foreach ($this->getComments() as $_comment) : ?>
                            <li>
                            
                                <p> <?php echo $_comment->getText() ?></p>
                               <p class="admin-by">
                                   <span>
                                  
                                    <?php if ($_comment->getOwner() == AW_Rma_Model_Source_Owner::ADMIN) : ?>
                                        <?php echo Mage::getModel('awrma/source_owner')->getOptionLabel($_comment->getOwner()) ?>
                                    <?php else : ?>
                                        <?php echo $_rmaRequest->getCustomerName() ?>
                                    </span>    
                                         <?php echo $this->formatDate($_comment->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true); ?>
                               </p>          
                <?php endif ?>
                               
                               
                <?php if ($_comment->getAttachments()) : ?>
                                    <div>
                                        <a href="<?php echo $this->getDownloadUrl($_comment) ?>"><?php echo $_comment->getAttachments() ?></a> (<?php echo Mage::helper('awrma/files')->getTextSize($_comment->getAttachments()) ?>)
                                    </div>
                            <?php endif ?>
                            </li>
                    <?php endforeach ?>
                    </ul>
            <?php endif; ?>
            </div>
    <?php endif ?>
        <script type="text/javascript">
            decorateTable('awrma-requested-items');
        </script>
<?php endif ?>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
   if(jQuery(".messages").text() == "Your RMA is currently waiting for approvalNew RMA request has been successfully added"){
        jQuery('.notice-msg').text("Your return request has been submitted and is put in pending state");
        jQuery('.success-msg').css('display','none');
        jQuery('html, body').animate({ scrollTop: 0 }, 0);
    } 
});
</script>