/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 0px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div
{
	background:url(../images/bg-control.png) no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 44px;
    position: absolute;
    text-indent: -9999px;
    width: 44px;
	
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.owl-theme .owl-controls .owl-buttons .owl-prev 
{
    background-position: 0 0;
	position:absolute;
	left:0;
	top:50%;
}
.owl-theme .owl-controls .owl-buttons .owl-next 
{
    background-position: 100% 0;
	position:absolute;
	right:0;
	top:50%;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover 
{

    background-position: 0 100%;
}
.owl-theme .owl-controls .owl-buttons .owl-next:hover 
{

    background-position: 100% 100%;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin:0 3px;
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(216, 216, 216, 1) inset;
	-webkit-box-shadow:0 0 4px rgba(216, 216, 216, 1) inset;
	-moz-box-shadow:0 0 4px rgba(216, 216, 216, 1) inset;
	-o-shadow:0 0 4px rgba(216, 216, 216, 1) inset;
    cursor: pointer;
    display: block;
    height: 12px;
    text-indent: -9999px;
    width: 12px;
    z-index: 9;
	margin:0 0 5px 0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: none repeat scroll 0 0 #d5d5d5;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}