<?php
$id    = $this->getRequest()->getParam('id');
$connection  = Mage::getSingleton('core/resource')->getConnection('core_read');
$select = $connection->select()
			   ->from(array('package'=>'feetscience_package_creation'),array('*'))
               ->join( array('package_details'=> 'feetscience_package_details'), 'package.package_id = package_details.package_id')
			   //->where('package.store_code=?',$storecode)
			   ->where('package.package_id=?',$id);	
	$shipping_data = Mage::Helper('viewpackage')->checkPackageShipped($id);			
						
$data 	   = $connection->fetchAll($select);
?>
<p class="form-buttons" style="text-align:right;"><button onclick="history.back();" class="scalable back" title="<?php echo $this->__('Back') ?>" type="button"> Back</button> </p>

<div class="entry-edit package-creation">
		<div class="entry-edit-head">
			<h2><?php echo $data[0]['package_name'] ." - #". $data[0]['order_number']?></h2>
		</div>
	


<div id="packageditems" class="fieldset"> 
		<div class=" grid np">
			  
				<div class="entry-edit manifest-fieldset">
					<div class="entry-edit-head">
						<h4 class="icon-head head-payment-method">Items Package</h4>
					</div>
					
					<input id="hid-prodids" type="hidden" />
					 <div class="hor-scroll">
						<table cellspacing="0" class="data order-tables" id="packaged-table">
								<colgroup><col>
								<col width="1">
								<col width="1">
								<col width="1">
								<col width="1"></colgroup>
						<thead>
							<tr class="headings">
								<th>Id</th>  
								<th class="a-center">Package Name</th>
								<th class="a-center">Order Number</th>
								<th class="a-center">Product Name</th> 	
								<th class="a-center">Qty</th> 
								<th class="a-center">Product scanned on</th> 								
								<th class="a-center">Scanned by</th> 								
							</tr>
						</thead>
						
							<tbody class="even">
							<?php foreach( $data as $details ):?>
								<tr>
									<td><?php echo $details['id'] ?></td>
									<td><?php echo $details['package_name'] ?></td>
									<td><?php echo $details['order_number'] ?></td>
									<?php $model = Mage::getModel('catalog/product'); //getting product model
 
									$_product = $model->load($details['product_entity_id']);?>
									<td><?php echo $_product->getName() ?></td>
									<td><?php echo $details['qty'] ?></td>
									<td><?php echo $details['created_date'] ?></td>
									<td><?php echo $details['created_by'] ?></td>
								</tr>	
							<?php endforeach; ?>
							
							<tr>
								<td  align="left"  colspan="8">	
									<?php
										if(!empty($shipping_data['shipment_id'])){
						                    $trackings=Mage::getResourceModel('sales/order_shipment_track_collection')->addAttributeToSelect('*')->addAttributeToFilter('parent_id',$shipping_data['shipment_id']);
						                    $allTrackingIds = $trackings->getData();
						                   echo $barcodeLabel ='<img src="'.Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'/media'.$allTrackingIds[0]['image_path'].'"/>';
			               				 }
               				 		?>												
								</td>									
							</tr>
							</tbody>
						 </table>
					</div>
				</div>
				</div>
		</div>  
</div>
