.ias_trigger {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.ias_trigger a {
  color: #fff;
  display: block;
  background-color: #c0c0c0;
  text-align: center;
  padding: 5px;
  margin-top: 28px;
  position: relative;
  margin: 0 5px;
  border: 0;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-size: 16px;
}
.ias_loader {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.ias_done {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
