 <div class="sharefeedback">
                <h2>SHARE THIS</h2>
				<?php 

					$_product = $this->getProduct();
                	$productName = $_product->getName();
                	$productName = str_replace("'", "\'",$productName); 
 					$productUrl = $_product->getProductUrl(); 
 					$productImage = $_product->getImageUrl();
                ?>


                <a href="javascript:popWin('https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($productUrl); ?>&t=<?php echo urlencode($productName); ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Share on Facebook') ?>"><div class="facebookShare"><img class="facebookImg" src="<?php echo $this->getSkinUrl('images/facebook.png');?>" alt="facebook"/> Share</div></a>

<a href="javascript:popWin('http://twitter.com/home/?status=<?php echo urlencode($productName . ' (' . $productUrl . ')'); ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Tweet') ?>"><div class="twitterShare"><img class="twitterImg" src="<?php echo $this->getSkinUrl('images/twitter.png');?>" alt="twitter"/> Tweet</div></a>

<a href="javascript:popWin('https://pinterest.com/pin/create/button/?url=<?php echo urlencode($productUrl); ?>&media=<?php echo urlencode($productImage); ?>&description=<?php echo urlencode($productName); ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="<?php echo $this->__('Pin it') ?>"><div class="pinterestShare"> Pin it</div></a>
<div class="sharefeedback1"></div>
                 
               </div>
               
                
