<?php
	$_helper = Mage::helper('stocknotification');

	/** skip render template if module is disabled */
	if (!$_helper->isEnabled()) {
		return;
	}
	$_product = $this->getProduct();
	//echo $_product->getId();
	 $pid = Mage::getSingleton('core/session')->getPid();
$_product = Mage::getModel('catalog/product')->load($pid);

	/** skip render template if type is disabled */
	if ($_helper->isSkipProductType($_product)){
		return;
	}

?>

<?php
$stock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();	
//$stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product);
?>
<?php if ($stock<=0): ?>
    <div class="stock-notification">
		<div class="stock-notification-header">
			<h5><?php echo $this->__('Notify me when this product is in stock:')?></h5>
			<div class="size-chart">
				<?php
                            //get the simple product sizes
                            if($_product->getTypeId() == "configurable"):
                            $conf = Mage::getModel('catalog/product_type_configurable')->setProduct($_product);
                            $simple_collection = $conf->getUsedProductCollection()->addAttributeToSelect('*')->addFilterByRequiredOptions();
                              
            
            ?><ul>
                                
            <?php
            
                               
            foreach($simple_collection as $simple_product){
			
				
              $_id = $simple_product->getId();
$_resource = Mage::getSingleton('catalog/product')->getResource();
$optionValue = $_resource->getAttributeRawValue($_id,  'soch_size', Mage::app()->getStore());  
                
               
                    ?>
                    <li id="product-<?php echo $simple_product->getId();?>" class="">
					<input id="pid-<?php echo $simple_product->getId();?>" class="chkbx" name="product-id-<?php echo $simple_product->getId();?>" type="checkbox" value="<?php echo $simple_product->getId();?>" style="display:none">
                                <a id="outofstock" rel="<?php echo $simple_product->getId();?>" href="javascript:void(0);"><?php echo $simple_product->getAttributeText('soch_size')?> </a></li>
               <?php
            
         
             $num++;   
            }
			
            ?>
            </ul>
  
            <?php 
           
            endif;
            ?>
              
    	 </div> 
			
                
                <div class="email_notification_wrapper">
                <div class="input-box">
                	<input type="text" placeholder="<?php echo $this->__('Email')?>" class="input-text" id="email_notification" name="email_notification" />
                </div>
                <div class="input-box">
					<input type="text" placeholder="<?php echo $this->__('Phone')?>" class="input-text" id="phone" name="phone" />
                </div>
				</div>
          
                <input type="hidden" name="product_id" id="product_id" value="<?php echo $pid;?>" />
				<input type="hidden" name="parent_id"  value="<?php echo $pid;?>" />
				<input type='hidden'  name="products" id='textbx' value='' style="display:none"/>
                
                <p>Let me know when it is back in stock</p> 
				<button class="btn btn-primary request-notice" type="button"><span><span><?php echo $this->__('Notify Me')?></span></span></button>
            </div>
		</div>
		<div class="stock-notification-message"></div>
	</div>
	<script type="text/javascript">
	//<![CDATA[
	IWD.StockNotification.requestUrl = '<?php echo $_helper->getRequestJsonUrl();?>';
	//]]>
	</script>
    <?php endif;?>
	