<?php 
	$_helper = Mage::helper('stocknotification');
	
	/** skip render template if module is disabled */
	if (!$_helper->isEnabled()) {
		return;
	}
	
	$pid = Mage::getSingleton('core/session')->getPid();
$_product = Mage::getModel('catalog/product')->load($pid);
	
	/** skip render template if type is disabled */
	if ($_helper->isSkipProductType($_product)){
		return;
	}
?>
<?php if (!$_product->isSaleable()):?>
<div class="stock-notification">
	<div class="stock-notification-header">
		<h5><?php echo Mage::getStoreConfig('stocknotification/default/message')?></h5>
		<div class="input-box">
            <div class="email_notification_wrapper"><input type="text" placeholder="<?php echo $this->__('Email')?>" class="input-text" id="email_notification" name="email_notification" /></div>
            <input type="hidden" name="product_id" id="product_id" value="<?php echo $pid?>" />
            <button class="button request-notice" type="button"><span><span><?php echo $this->__('Notify Me')?></span></span></button>
        </div>
	</div>
	<div class="stock-notification-message"></div>
</div>

<script type="text/javascript">
//<![CDATA[
IWD.StockNotification.requestUrl = '<?php echo $_helper->getRequestJsonUrl();?>';
IWD.StockNotification.validateEmailMessage = '<?php echo $this->__('Please enter a valid email address.');?>';
//]]>
</script>
<?php endif;?>