
<?php 
	$_helper = Mage::helper('stocknotification');
	
	
	$_product = $this->getProduct();
	
	/** skip render template if type is disabled */
	if ($_helper->isSkipProductType($_product)){
		return;
	}
	
?>


<?php $this->setPreconfiguredValue(); ?>

<?php $_associatedProducts = $this->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php if ($_product->isAvailable() && $_hasAssociatedProducts): ?>
    <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
<?php else: ?>
    <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
<?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<div class="grouped-items-table-wrapper">
 <table class="data-table grouped-items-table iwd-stocknotification" id="super-product-table">
    <col />
    <col />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Product Name') ?></th>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <th class="a-right"><?php echo $this->__('Price') ?></th>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <th class="a-center"><?php echo $this->__('Qty') ?></th>
            <?php endif; ?>
        </tr>
    </thead>
    <tbody>
    <?php if ($_hasAssociatedProducts): ?>
    <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
        <tr>
            <td><p class="name-wrapper"><?php echo $this->htmlEscape($_item->getName()) ?></p></td>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <td class="a-right">
                <?php if ($this->getCanShowProductPrice($_item)): ?>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <?php echo $this->getTierPriceHtml($_item) ?>
                <?php endif; ?>
            </td>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <td class="a-center">
             <div class="qty-wrapper">
            <?php if ($_item->isSaleable()) : ?>
               
                <input type="text" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="<?php echo $_item->getQty()*1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                
            <?php else: ?>
            	<?php if (!Mage::helper('stocknotification')->isEnabled()):?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php else:?>                
                	<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                	<h5><a href="" class="btn-notify" data-id="block-<?php echo $_item->getId()?>"><?php echo $this->__('Notify me')?></a></h5>
                	<div class="container-modal">	
	                	<div id="modal-notify-block-<?php echo $_item->getId()?>" class="modal-notify">	
		                	<div class="stock-notification">
<!--		                		<a href="" class="close-notification">&times;</a>-->
                                <i class="fa fa-times close-notification"></i>
		                		<h5><?php echo Mage::getStoreConfig('stocknotification/default/message')?></h5>	
								<div class="stock-notification-header">
									<div class="input-box">
                                        <div class="email_notification_wrapper"><input type="text" placeholder="<?php echo $this->__('Email')?>" class="input-text" id="email_notification" name="email_notification" /></div>
										<input type="hidden" name="product_id" value="<?php echo $_item->getId()?>" />
										<input type="hidden" name="parent_id"  value="<?php echo $_product->getId()?>" />
										<button class="button request-notice" type="button"><span><span><?php echo $this->__('Notify Me')?></span></span></button>
									</div>
								</div>		
								<div class="stock-notification-message"></div>				
							</div>
						</div>
					</div>
                <?php endif;?>
            <?php endif; ?>
            </div>
            </td>
            <?php endif; ?>
        </tr>	
       
         
    <?php endforeach; ?>
    <?php else: ?>
       <tr>
           <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
       </tr>
    <?php endif; ?>
    </tbody>
</table>
</div>
<?php if ($_product->isAvailable() && $_hasAssociatedProducts): ?>
<?php else: ?>
    <?php if (!$_product->isSaleable()): ?>
    <div class="stock-notification">
		<div class="stock-notification-header">
			<h5><?php echo Mage::getStoreConfig('stocknotification/default/message')?></h5>		
		
			<div class="input-box">
                <div class="email_notification_wrapper"><input type="text" placeholder="<?php echo $this->__('Email')?>" class="input-text" id="email_notification" name="email_notification" /></div>
					<input type="hidden" name="product_id" id="product_id" value="<?php echo $this->getProduct()->getId()?>" />
					<button class="button request-notice"type="button"><span><span><?php echo $this->__('Notify Me')?></span></span></button>
			</div>
		</div>
		<div class="stock-notification-message"></div>
	</div>
    <?php endif;?>
<?php endif; ?>

<script type="text/javascript">decorateTable('super-product-table')</script>
<script type="text/javascript">
//<![CDATA[
IWD.StockNotification.requestUrl = '<?php echo $_helper->getRequestJsonUrl();?>';
IWD.StockNotification.validateEmailMessage = '<?php echo $this->__('Please enter a valid email address.');?>';
//]]>
</script>
