<?php $_order = $this->getInvoice()->getOrder();
$orderId = $_order->getIncrementId();
$order = Mage::getModel('sales/order')->loadByIncrementId($orderId);
$billingAddress = $order->getBillingAddress();
$shippingAddress = $order->getShippingAddress();
$region = $shippingAddress->getRegion();
$Urstate = Mage::helper('gstcharge')->isUniTerrState($region); ?>
<div class="grid np">
  <div class="hor-scroll">
    <table cellspacing="0" class="data order-tables">
        <col />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Product') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('HSN CODE') ?></span></th>
                
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Qty') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Price') ?></span></th>
                
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Base Price') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Discount') ?></span></th>
                
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Taxable Amount') ?></span></th>
                <th>
					<table>
                      <tbody style="background:none;text-align:center">
                    	<tr>
                        	<td colspan="2"><span class="nobr"><?php echo $this->helper('sales')->__('CGST') ?></span></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                       </tbody>
                    </table>
				</th>
                
                <th>
					<table>
                      <tbody style="background:none;text-align:center">
                    	<tr>
                        	<?php if($Urstate)
							{ ?>
                            <td colspan="2"><span class="nobr"><?php echo $this->helper('sales')->__('UTGST') ?></span></td>
                            <?php } else { ?>
                        	<td colspan="2"><span class="nobr"><?php echo $this->helper('sales')->__('SGST') ?></span></td>
                            <?php } ?>
                        </tr>
                        <tr>
                        	<td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                       </tbody>
                    </table>
				</th>
                
                <th>
					<table>
                      <tbody style="background:none;text-align:center">
                    	<tr>
                        	<td colspan="2"><span class="nobr"><?php echo $this->helper('sales')->__('IGST') ?></span></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                       </tbody>
                    </table>
				</th>
                
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Total Amount') ?></span></th>
                
            </tr>
        </thead>
        
        <?php $_items = $this->getInvoice()->getAllItems() ?>
        <?php $i=0;foreach ($_items as $_item):?>
            <?php if ($_item->getOrderItem()->getParentItem()) continue; else $i++;?>
            <tbody class="<?php echo $i%2?'even':'odd' ?>">
        
        		<tr class="border">
                
                	<?php
						$product=Mage::getModel('catalog/product')->load($_item->getProductId());
						$hsnCode=$product->getHsncode();
                    	$taxableAmount=$_item->getrow_total() - $_item->getdiscount_amount();
						if(Mage::getStoreConfig('gstcharge/options/taxtype'))
						{
							$subTotal = $_item->getrow_total();
							$itemTotal = $subTotal + $_item->getcgst_charge() + $_item->getsgst_charge() + $_item->getigst_charge();
						}
						else
						{
							$subTotal = $_item->getrow_total() - $_item->getcgst_charge() - $_item->getsgst_charge() - $_item->getigst_charge();
							$taxableAmount=$subTotal - $_item->getdiscount_amount();
							$itemTotal = $taxableAmount + $_item->getcgst_charge() + $_item->getsgst_charge() + $_item->getigst_charge();
						}
						
						$customName = '';
		
						$options = $_item->getOrderItem()->getProductOptions();
						
						if(isset($options['attributes_info']))
						{
							$options = $options['attributes_info'];
						}
						elseif(isset($options['options']))
						{
							$options = $options['options'];
						}
						if (isset($options))
						{
							foreach ($options as $option) 
							{
								if(isset($option['label']) || isset($option['value']))
								{
									$_printValue = isset($option['label']) ? $option['value'] : strip_tags($option['value']);
									$customName.= $option['label'].' '.$_printValue;
								}
							}
						}
					?>
            
                	<td class="a-center">
                    	<div class="productdata" style="text-align:left">
                        <h5 class="title"> <span> <?php echo $_item->getName();?> </span></h5>
                        <div><strong><?php echo $this->__('SKU: ') ?> </strong> <?php echo $_item->getSku();?></p>
                        <?php
                        	$options = $_item->getOrderItem()->getProductOptions();
							if (array_key_exists("options",$options))
  							{
								?>
                                <dl class="item-options">
                                <?php
								foreach($options['options'] as $opt)
								{ 
								?>
                                <dt><?php echo $this->escapeHtml($opt['label']) ?></dt>
            					   <dd><?php echo $this->escapeHtml($opt['print_value']) ?></dd>
							    <?php	
								}	
							}
	  					?>
                        </div>
                    </td>
                    <td class="a-center"><?php echo $hsnCode;?></td>
                    <td class="a-center"><?php echo round($_item->getqty(),0);?></td>
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($_item->getprice());?></td>
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($subTotal);?></td>
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($_item->getdiscount_amount());?></td>
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($taxableAmount);?></td>
                    
                    <td>                  
                        <table>
                          <tbody style="background:none;text-align:center">
                            <tr>
                                <td><?php echo round($_item->getcgst_percent(),2);?></span></td>
                                <td><?php echo Mage::helper('core')->formatPrice($_item->getcgst_charge());  ?></span></td>
                            </tr>
                        </table>
                    </td>
                                      
                    <td>                  
                        <table>
                          <tbody style="background:none;text-align:center">
                            <tr>
                                <td><?php echo round($_item->getsgst_percent(),2);?></span></td>
                                <td><?php echo Mage::helper('core')->formatPrice($_item->getsgst_charge(),3);  ?></span></td>
                            </tr>
                        </table>
                    </td>
                    
                    <td>                  
                        <table>
                          <tbody style="background:none;text-align:center">
                            <tr>
                                <td><?php echo round($_item->getigst_percent(),2);?></span></td>
                                <td><?php echo Mage::helper('core')->formatPrice($_item->getigst_charge(), 2);  ?></span></td>
                            </tr>
                        </table>
                    </td>
                  
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($itemTotal);?></td>
                </tr>
            </tbody>
    	<?php endforeach; ?>
    </table>
  </div>
</div>
<br />
