<div id="anchor-content" class="middle">
            <div id="page:main-container">
            
                <div class="columns ">
                    <div id="page:left" class="side-col">
                            <h3>Order Process</h3>
								<ul class="tabs" id="productrecipe_tabs">
									<li>
										<a class="tab-item-link active" title="Product Recipe" name="form_section" id="productrecipe_tabs_form_section" href="#">
											<span><span title="The information in this tab has been changed." class="changed"></span><span title="This tab contains invalid data. Please solve the problem before saving." class="error"></span>Order Process</span>
										</a>
										
									</li>
								</ul>

					</div>
             <div id="content" class="main-col">
                        <div class="main-col-inner">
                            <div id="messages"></div>
							
	<form action="<?php echo $this->getUrl('admin_packageprocess/adminhtml_packageprocessbackend/orderactions'); ?>" id="edit_form" method="POST">						
                            <div class="content-header">
    <h3 class="icon-head head-adminhtml-productrecipe">Order Process</h3>    <p class="form-buttons"><button onclick="history.back();" class="scalable back" title="<?php echo $this->__('Back') ?>" type="button"> Back</button> <input type="submit" id="submit" name="submit" value="Submit" class ="form-button"/> </p>
</div>

<div class="entry-edit">
   


<div><input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
<input type="hidden" name="orderid" value="<?php  echo $this->getRequest()->getParam('id') ?>" />
<input type="hidden" name="type" value="<?php  echo $this->getRequest()->getParam('type') ?>" /></div>

<div style="" id="productrecipe_tabs_form_section_content">

<div class="entry-edit">
    <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend">Order Details</h4>
    <div class="form-buttons"></div>
</div>
				<div id="productrecipe_form" class="fieldset ">
				
							<div class="hor-scroll">
							
							  <table cellspacing="0" class="form-list">
									<tbody>
										<tr>
											<td class="label"><label for="product_sku">Enter Details<span class="required">*</span></label></td>
											<td class="value"><textarea rows="4" cols="50" name="order_comments" class="required-entry input-text required-entry"></textarea> </td>
										</tr>
									</tbody>
								</table>
								
							</div>
				  </div>
			</div>
	</div>


</div>
 </form>                 
	</div>
                    </div>
                </div>

                  </div>
        </div>


