<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php 

if(Mage::registry('current_category')) {
       $_filters = Mage::getSingleton('catalog/layer')->getState()->getFilters();
	   $url = Mage::app()->getRequest()->getBaseUrl().Mage::app()->getRequest()->getOriginalPathInfo(); 
   } else {
       $_filters = Mage::getSingleton('catalogsearch/layer')->getState()->getFilters();
	   $url = Mage::app()->getRequest()->getBaseUrl().Mage::app()->getRequest()->getOriginalPathInfo().'?q='.str_replace(' ', '+', $_REQUEST['q']);
   }
 
 ?>
<?php $_removeTxt = Mage::helper('catalog')->__('Remove This Item') ?>
<?php if (!empty($_filters)): ?>
    <p class="block-subtitle hide"><?php echo Mage::helper('catalog')->__('Currently Shopping by') ?></p>
    <div class="currently">
        <ul>
            <?php foreach ($_filters as $_filter):?>
                <li>
                    <span class="label-home"><?php echo Mage::helper('catalog')->__($_filter->getName()) ?>:</span>
                    <?php if ($_filter->hasData('children')): ?>
                        <?php foreach ($_filter->getData('children') as $child): ?>
                            <span class="multiselect-child">
                                <?php echo $child['label']  ?>
                                <a href="<?php echo $child['url'] ?>" class="btn-remove-inline">
                                    <img src="<?php echo Mage::getDesign()->getSkinUrl('images/spacer.gif') ?>" width="13" height="12" alt="<?php echo $_removeTxt ?>" />
                                </a>
                            </span>
                        <?php endforeach ?>
                    <?php else: ?>
                        <a href="<?php echo $_filter->getRemoveUrl() ?>" class="btn-remove-l" title="<?php echo $_removeTxt ?>"> <i class="fa fa-times" aria-hidden="true"></i><?php //echo $_removeTxt ?></a>
                        <?php echo $_filter->getLabel() ?>
                    <?php endif ?>
                </li>
            <?php endforeach; ?>
        </ul>
        <?php //if (!method_exists('Mage', 'getEdition')): // CE 1.7+, EE 1.12+?>
            <div class="actions">
                <?php if(Mage::registry('current_category')) { ?>
            <a href="<?php echo Mage::registry('current_category')->getUrl() ?>">
<?php } else { ?>
		<a href="<?php echo $url; ?>"> <?php } ?>
			<?php echo $this->__('Clear All') ?></a>
			
			</div>
        <?php // endif; ?>
    </div>
<?php endif; ?>
