/*
 Cloud Zoom CSS. (c)2012-2013 Star Plugins.
*/

/* CSS for lens */
.cloudzoom-lens {
   /* border:5px solid #888;
    width:100px;
    height:100px;
    cursor:crosshair;
    z-index: 10;*/
	

    overflow: hidden;
    z-index: 999;
    transform: translateZ(0px);
    opacity: 0.4;
    zoom: 1;
    width: 205px !important;
    height: 204.667px !important;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    left: 69.5px;
    top: 206.5px;
    display: none;
    background-color: white;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
/* CSS for zoom window. */
.cloudzoom-zoom {
   border: 1px solid rgb(238, 238, 238);
    width:400px !important;
    height:400px!important;
   
	
	   
   
}
/* CSS for zoom window in 'inside' mode. */
.cloudzoom-zoom-inside {
    border:none;
    box-shadow:none;
}

/* CSS for captions */
.cloudzoom-caption {
    display:none;   /* CSS captions should be hidden initially */
    text-align: left;
    background-color:#000;
    color:#fff;
    font-weight:bold;
    padding:10px;
    font-family: sans-serif;
    font-size:11px;
}

/* A blank image */
.cloudzoom-blank {
    background-image:url(blank.png);
}

/* The animated ajax loading image */
.cloudzoom-ajax-loader {
    background-image:url(ajax-loader.gif);
    width:32px;
    height:32px;
	transition: none;
	-webkit-transition: none; 
	-o-transition: none; 
	-ms-transition: none; 
	 -moz-transition:none; 
}