<?php  $_order = $this->getOrder() ?>
<?php if($this->helper('rss/order')->isStatusNotificationAllow()): ?>
    <a href="<?php echo $this->helper('rss/order')->getStatusHistoryRssUrl($_order) ?>" class="link-rss f-none"><?php echo $this->__('Subscribe to Order Status') ?></a>
    <span class="separator">|</span>
<?php endif; ?>
<?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
    <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
    <span class="separator">|</span>
<?php endif ?>
<?php if ($this->helper('cancelorder/customer')->canCancel($_order)) : ?>
    <a href="#cancel-order" data-toggle="modal" data-target="#cancel-order"  class="link-cancel"><?php echo $this->__('Cancel') ?></a>
    
    
    <?php /*?><a href="<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to cancel this order?') ?>')" class="link-cancel"><?php echo $this->__('Cancel') ?></a><?php */?>
    <span class="separator">|</span>
<?php endif ?>
<a href="<?php echo $this->getPrintUrl($_order) ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Print Order') ?></a>
<?php echo $this->getChildHtml(); ?>



<div class="modal" id="cancel-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      
      <div class="modal-body" id="model-body-content">
         <h3>Cancel Feedback </h3>
         <p>Are you sure you want to cancel your Paragon Order? Please help us understand the reason you wish to cancel your order</p>
         <ul class="cancel-feedback">
            <li><input type="radio" id="not-want" value="I do not want this product anymore" name="not-want"  /> <span>I do not want this product anymore</span></li>
            <li><input type="radio" id="price-quality" value="I feel this product is not of the price or quality that I was looking for" name="price-quality" /> <span>I feel this product is not of the price or quality that I was looking for</span></li>
           	<li><input type="radio" id="very-long" value="Shipping estimation of the order is very long" name="very-long" /> <span>Shipping estimation of the order is very long</span></li>
           	<li><input type="radio" id="change-payment" value="I wish to change my payment option so I have cancelled"  name="change-payment"/> <span>I wish to change my payment option so I have cancelled</span></li>
            <li><input type="radio" id="any-reason" value="Any other reason (comments box here)"  name="any-reason"/> <span>Any other reason (comments box here)</span>
               <textarea class="" ></textarea>
            </li>
          </ul>   
        <div class="clearfix cancel-btn">
        <a href="<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>" class="link-cancel btn btn-primary btn-success"><?php echo $this->__('PROCEED TO CANCEL') ?></a>
        	
            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> DO NOT CANCEL </span>  </button>
        </div>
      </div>
     
    </div>
  </div>
</div>