<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_orders = $this->getOrders(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My Orders') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($_orders->getSize()): ?>
<div class="table-responsive">
<table class="data-table" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Order #') ?></th>
            <th><?php echo $this->__('Date') ?></th>
            <th><?php echo $this->__('Ship To') ?></th>
            <th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
            <th><span class="nobr"><?php echo $this->__('Order Status') ?></span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_orders as $_order): ?>
        <tr>
            <td><?php echo $_order->getRealOrderId() ?></td>
            <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
            <td><?php echo $_order->getShippingAddress() ? $this->htmlEscape($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
            <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
            <td><em><?php echo $_order->getStatusLabel() ?></em></td>
            <td class="a-center">
                <span class="nobr"><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
                    <?php /*<span class="separator">|</span><a href="<?php echo $this->getTrackUrl($_order) ?>"><?php echo $this->__('Track Order') ?></a>&nbsp;*/ ?>
                    <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                    <span class="separator">|</span> <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
                <?php endif ?>
                    <?php if ($this->helper('cancelorder/customer')->canCancel($_order)) : ?>
                <?php if($_order->getStatus() != 'cod_cancelled') {?>
                    <span class="separator">|</span> <a href="#cancel-order" data-toggle="modal" data-target="#cancel-order" class="link-cancel"><?php echo $this->__('Cancel') ?></a>
                <div class="modal dl" id="cancel-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <form id="myForm" action="<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId()))?>">
                <input type="hidden" value="<?php echo $_order->getId()?>" name="order_id">
                <input type="hidden" id="comment" value="" name="comment">
                <div class="modal-body" id="model-body-content">
                <h3>Cancel Feedback </h3>
                <p>Are you sure you want to cancel your Paragon Order? Please help us understand the reason you wish to cancel your order</p>
                <ul class="cancel-feedback">
                <li><input class="input-radio  validate-one-required-by-name" type="radio" id="not-want" value="I do not want this product anymore" name="cancel-feedback"  /> <span>I do not want this product anymore</span></li>
                <li><input class="input-radio  validate-one-required-by-name" type="radio" id="price-quality" value="I feel this product is not of the price or quality that I was looking for" name="cancel-feedback" /> <span>I feel this product is not of the price or quality that I was looking for</span></li>
                <li><input class="input-radio  validate-one-required-by-name" type="radio" id="very-long" value="Shipping estimation of the order is very long" name="cancel-feedback" /> <span>Shipping estimation of the order is very long</span></li>
                <li><input class="input-radio  validate-one-required-by-name" type="radio" id="change-payment" value="I wish to change my payment option so I have cancelled"  name="cancel-feedback"/> <span>I wish to change my payment option so I have cancelled</span></li>
                <li><input class="input-radio  validate-one-required-by-name" type="radio" id="any-reason" value="Any other reason (comments box here)"  name="cancel-feedback"/> <span>Any other reason (comments box here)</span>
                <textarea maxlength="100" id="comment1" class="" ></textarea>
                </li>
                </ul>   
                <div class="clearfix cancel-btn">
                <!-- <a href="<?php //echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>" class="link-cancel btn btn-primary btn-success"><?php //echo $this->__('PROCEED TO CANCEL') ?></a> -->
                <button type="submit" class="btn btn-primary"><span aria-hidden="true"> PROCEED TO CANCEL </span>  </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> DO NOT CANCEL </span>  </button>
                </div>
                </div>
                </form>
                </div>
                </div>
                </div></span>
                   <?php /*?> <a href="<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to cancel this order?') ?>')" class="link-cancel"><?php echo $this->__('Cancel') ?></a><?php */?>
                 <?php } ?>
                <?php endif ?>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
</div>
<script type="text/javascript">decorateTable('my-orders-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif ?>
<script type="text/javascript">
    //< ![CDATA[
        var customForm = new VarienForm('myForm');
    //]]>
</script>
<script type="text/javascript">
    jQuery('#myForm input').on('change', function() {
   var comment = jQuery('input[name=cancel-feedback]:checked', '#myForm').val();
   jQuery('#comment').val(comment); 
   if(comment == 'Any other reason (comments box here)'){
    var comment1 = 'Other Reasons';
    jQuery('#comment').val(comment1); 
   }
});
    jQuery(document).on('keyup', '#comment1', function() {
    var input = this.value;
    jQuery('#comment').val(input);
});
</script>