<div class="box-account box-recent">
<?php $_orders = $this->getOrders(); ?>
    <div class="box-head">
        <h2><?php echo $this->__('Recent Orders') ?></h2>
        <?php /*?><?php if( sizeof($_orders->getItems()) > 0 ): ?><a href="<?php echo $this->getUrl('sales/order/history') ?>"><?php echo $this->__('View All') ?></a><?php endif; ?><?php */?>
    </div>
<?php //if( sizeof($_orders->getItems()) > 0 ): ?>
<div class="table-responsive">
    <table class="data-table" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
        <thead>
            <tr>
                <th><?php echo $this->__('Order #') ?></th>
                <th><?php echo $this->__('Date') ?></th>
                <th><?php echo $this->__('Ship To') ?></th>
                <th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
                <th><?php echo $this->__('Status') ?></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($_orders as $_order): ?>
                <tr>
                    <td><?php echo $_order->getRealOrderId() ?></td>
                    <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
                    <td><?php echo $_order->getShippingAddress() ? $this->htmlEscape($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                    <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
                    <td><em><?php echo $_order->getStatusLabel() ?></em></td>
                    <td class="a-center">
                        <span class="nobr">
                        <a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
                        <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                            <span class="separator">|</span> <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
                        <?php endif ?>
                        <?php if ($this->helper('cancelorder/customer')->canCancel($_order)) : ?>
                            <span class="separator">|</span> <a href="#cancel-order" data-toggle="modal" data-target="#cancel-order"  class="link-cancel"><?php echo $this->__('Cancel') ?></a>
                            <?php /*?><a href="<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>" data-toggle="modal" data-target="#cancel-order" onclick="return confirm('<?php echo $this->__('Are you sure you would like to cancel this order?') ?>')" class="link-cancel"><?php echo $this->__('Cancel') ?></a><?php */?>
                        <?php endif ?>
                        </span>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
 </div>   
    <script type="text/javascript">decorateTable('my-orders-table')</script>
<?php //else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php //endif; ?>
</div>
<div class="modal" id="cancel-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      
      <div class="modal-body" id="model-body-content">
         <h3>Cancel Feedback </h3>
         <p>Are you sure you want to cancel your Paragon Order? Please help us understand the reason you wish to cancel your order</p>
         <ul class="cancel-feedback">
           <li><input type="radio" id="not-want" value="I do not want this product anymore" name="not-want"  /> <span>I do not want this product anymore</span></li>
            <li><input type="radio" id="price-quality" value="I feel this product is not of the price or quality that I was looking for" name="price-quality" /> <span>I feel this product is not of the price or quality that I was looking for</span></li>
           	<li><input type="radio" id="very-long" value="Shipping estimation of the order is very long" name="very-long" /> <span>Shipping estimation of the order is very long</span></li>
           	<li><input type="radio" id="change-payment" value="I wish to change my payment option so I have cancelled"  name="change-payment"/> <span>I wish to change my payment option so I have cancelled</span></li>
            <li><input type="radio" id="any-reason" value="Any other reason (comments box here)"  name="any-reason"/> <span>Any other reason (comments box here)</span>
               <textarea class="" ></textarea></li>
          </ul>   
        <div class="clearfix cancel-btn">
        <a href="<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>" class="link-cancel btn btn-primary btn-success"><?php echo $this->__('PROCEED TO CANCEL') ?></a>
        	
            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> DO NOT CANCEL </span>  </button>
        </div>
      </div>
     
    </div>
  </div>
</div>