<?php $_order = $this->getOrder() ?>
<?php
$shippingAddress = $_order->getShippingAddress();
$region = $shippingAddress->getRegion();
$Urstate = Mage::helper('gstcharge')->isUniTerrState($region);
?>
<div class="grid np">
    <div class="hor-scroll">
        <table cellspacing="0" class="data order-tables">
            <col />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <thead>
            <tr class="headings">
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Product') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('HSN CODE') ?></span></th>

                <th><span class="nobr"><?php echo $this->helper('sales')->__('Qty') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Price') ?></span></th>

                <th><span class="nobr"><?php echo $this->helper('sales')->__('Base Price') ?></span></th>
                <th><span class="nobr"><?php echo $this->helper('sales')->__('Discount') ?></span></th>

                <th><span class="nobr"><?php echo $this->helper('sales')->__('Taxable Amount') ?></span></th>
                <th>
                    <table>
                        <tbody style="background:none;text-align:center">
                        <tr>
                            <td colspan="2"><span class="nobr"><?php echo $this->helper('sales')->__('CGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                        </tbody>
                    </table>
                </th>

                <th>
                    <table>
                        <tbody style="background:none;text-align:center">
                        <tr>
                            <?php if($Urstate)
                            { ?>
                                <td colspan="2"><span class="nobr"><?php echo $this->helper('sales')->__('UTGST') ?></span></td>
                            <?php } else { ?>
                                <td colspan="2"><span class="nobr"><?php echo $this->helper('sales')->__('SGST') ?></span></td>
                            <?php } ?>
                        </tr>
                        <tr>
                            <td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                        </tbody>
                    </table>
                </th>

                <th>
                    <table>
                        <tbody style="background:none;text-align:center">
                        <tr>
                            <td colspan="2"><span class="nobr"><?php echo $this->helper('sales')->__('IGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->helper('sales')->__('Rate') ?></span></td>
                            <td><?php echo $this->helper('sales')->__('Amount') ?></span></td>
                        </tr>
                        </tbody>
                    </table>
                </th>

                <th><span class="nobr"><?php echo $this->helper('sales')->__('Total Amount') ?></span></th>

            </tr>
            </thead>
            <?php $_items = $this->getItemsCollection() ?>
            <?php $i=0;foreach ($_items as $_item):?>
                <?php if ($_item->getParentItem()) continue; else $i++;?>
                <tbody class="<?php echo $i%2?'even':'odd' ?>">
                <?php echo $this->getItemHtml($_item) ?>
                <?php echo $this->getItemExtraInfoHtml($_item) ?>
                </tbody>
            <?php endforeach; ?>
        </table>
    </div>
</div>
<br />
