
<?php
$bestSeller = $this->getOrderlist()->setPageSize(10);
$_collectionSize =$bestSeller->count();
?>
<div class="clearfix">
  <div id="myCarousel" class="owl-carousel owl-theme"> 
        <?php foreach ($bestSeller as $product): ?>
          <?php $products = $this->getProductdata($product->getEntityId()); ?>
        <div class="item">
          <a href="<?php echo $product->getProductUrl()?>">
            <img src="<?php echo Mage::helper('catalog/image')->init($products, 'thumbnail')->resize(150,220)?>" alt="Los Angeles" style="width:100%;">
            <p><?php echo $products->getName();?></p>
            <p><?php echo Mage::helper('core')->currency($products->getPrice(), true, false); ?></p>
          </a>
         </div>     
       <?php endforeach;?>
     
  </div>
</div>

<script>
jQuery('.trending-slider').owlCarousel({
    loop:true,
    margin:10,
    pagination: false,
    nav:true,
    navigation: true,
items:4,
    responsive:{
        0:{
            items:1
        },

        600:{
            items:3
        },
        1000:{
            items:4
        }
    }

});
jQuery(document).ready(function(){
jQuery('#myCarousel').owlCarousel({
    loop:true,
    margin:10,
    pagination: false,
    nav:true,
    navigation: true,
items:4,
    responsive:{
        0:{
            items:1
        },

        600:{
            items:3
        },
        1000:{
            items:4
        }
    }

});
});
</script>
