<?php
		$productid = Mage::app()->getRequest()->getParam('id');
		$_product  = Mage::getModel('catalog/product')->load($productid);
?>
<script>
function changeImg(rel)
{
	//alert(rel);
	var img = jQuery('#main_img').attr('src',rel);
	return false;
}
</script>

<div class="clearfix">
<div class="product-popup-left">
<div class="quickviews-img-more"><?php $media_gallery = $_product->getMediaGallery(); ?>
<?php if (count($media_gallery) > 0): ?>
<div class="more-views" >
    <?php /*?><h2><?php echo $this->__('More Views') ?></h2><?php */?>
    <ul>
		
    <?php foreach ($media_gallery['images'] as $_image): ?>
        <?php if (Mage::getStoreConfig('amconf/lightbox/enable')): ?>
            <li>
                <a href="#"  rel="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image['file'])->resize(300); ?>" onclick="changeImg(this.rel)">
				  <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image['file'])->resize(75); ?>" alt="<?php echo $this->escapeHtml($_image['label']) ?>" />
                    
                   
                </a>
            </li>
        <?php else: ?>
            <li>
            <!--onclick="popWin('<?php //echo $this->getGalleryUrl($_image) ?>', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" -->
                <a href="#"  rel="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image['file'])->resize(300); ?>" onclick="changeImg(this.rel)"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image['file'])->resize(75); ?>"  alt="<?php echo $this->htmlEscape($this->getImageLabel()) ?>" />
                 
                </a>
            </li>
        <?php endif; ?>
    <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
</div>
<div class="quickviews-img"><img id="main_img" title="<?php echo $_product->getName() ?>" alt="<?php echo $_product->getName() ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(300); ?>"></p></div>

	</div>
	

<div class="product-popup-right">
	<form action="<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>" method="post" id="product_addtocart_form" <?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>> 
	 <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>
	<div class="product-shop">
		<div class="product-name">
			<h2><?php echo $_product->getName() ?></h2>
            <p class="sku">
                    SKU : <?php echo $_product->getSku() ?> 
                </p>
		</div>

		<?php
		if($_product->isSaleable()){
			if($_product->stock_item->is_in_stock == 1){
				echo '<p class="availability in-stock"><span>'.$this->__('Availability: In stock.').'</span></p>';
			}else{
				echo '<p class="availability in-stock"><span>'.$this->__('Availability: Temporarily out of stock.').'</span></p>';
			}
		}
		?>
		<!-- <?php

		 	$productBlock = $this->getLayout()->createBlock('catalog/product_price');
      		echo $productBlock->getPriceHtml($_product);
      	?> -->

		<div class="clearfix">
                 <?php  
 
				// with currency sign
				 $_formattedActualPrice = Mage::helper('core')->currency($_product->getPrice(),true,false);
				 $SpecialPrice = Mage::helper('core')->currency($_product->getSpecialPrice(),true,false);

				 $specialPrice = $_product->getSpecialPrice();
			 	$_regularPrice = $_product->getPrice();
				?>
				<div class="price-box">

					<?php if($specialPrice > 0){ ?>
					<span class="quick"><span class="old-price"><span class="price">
						<?php 
							echo Mage::helper('core')->currency($_regularPrice, true, false);
						?>
					</span></span>
					<?php }else{ ?>
						<span class="quick"><span class="old-price"><span class="price"></span></span>
					<?php } ?>

					<!--<span id="space"></span>-->
					<span class="quick"><span class="regular-price"><span class="price">
						<?php
							if($specialPrice > 0) {
								echo Mage::helper('core')->currency($specialPrice, true, false);
							 }else{
							 	echo Mage::helper('core')->currency($_regularPrice, true, false);
							 } 
							
						?>
					</span></span>
				</div>
		</div>
<?php
		
		if ($_product->getData('type_id') == "configurable"):
$conf = Mage::getModel('catalog/product_type_configurable')->setProduct($_product);
				$simple_collection = $conf->getUsedProductCollection()->addAttributeToSelect('*')->addFilterByRequiredOptions();
				 
					$itemsinstock = 0;
				
			if($simple_collection >0)
			{
			$size_arr = array();
			foreach($simple_collection as $simple_product){

			$stock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($simple_product)->getQty();	
			$stock = round($stock,2);

			$stockItem = $simple_product->getStockItem();

			// if($stockItem->getIsInStock())
			// {
				// Put only In Stock Product in size Option
			    $size_arr[] = $simple_product->getAttributeText('size');
				$inv[] = $simple_product->getId();
			//}
			$itemsinstock+= $stock;

			}
					}
		
		if(count($inv)>0){
		$_subproducts = Mage::getModel('catalog/product')->getCollection()
    ->addAttributeToFilter('entity_id', $inv)
    ->addAttributeToSelect('size');
	
	foreach ($_subproducts as $_subproduct) {
                  // look for attribute value of color in each associated product and assign to $_colours array

                  $label = $_subproduct->getAttributeText('size');
                  $_colors[] = $label;

                  if (!isset($_color_id[$label])) {
                    
                    $_color_id[$label] = $_subproduct->getData('size');                    
                    $_proId[$_subproduct->getAttributeText('size')] = $_subproduct->getSku();
                    $product = Mage::getModel('catalog/product')->load($_subproduct->getId());
                    $_proColor[$_subproduct->getAttributeText('size')] = $product->getAttributeText('color');                    
                    $_proBrand[$_subproduct->getAttributeText('size')]= $product->getBrand();
                    $roughPrice = Mage::getModel('catalog/product')->load($_subproduct->getId())->getPrice();
                    $_proPrice[$_subproduct->getAttributeText('size')] = Mage::helper("core")->currency($product->getPrice(), true, false);
                    $_specialPrice[$_subproduct->getAttributeText('size')] = Mage::helper("core")->currency($product->getSpecialPrice(), true, false);
                    $_isInStock[$_subproduct->getAttributeText('size')] = $product->getIsInStock();
                  }
                }

                // remove dup's
                $_color_swatch = array_unique($_colors);
		}
		$config = $_product->getTypeInstance(true);
		foreach($config->getConfigurableAttributesAsArray($_product) as $attributes):
		?>
		<div class="size-chart clearfix product-options">
		<ul class="clearfix">
        <li><label>Sizes</label></li>
			<?php
			 foreach($_color_swatch as $_inner_option_id){
				 //if($num==0){ $selected ="selected";} else { $selected ="";}
				 ?>
				  <?php if($_isInStock[$_inner_option_id] == 0){?>
				  <li id="product-<?php echo $_color_id[$_inner_option_id];?>" class="liDisable">
                   <a id="quickview" rel="<?php echo $_color_id[$_inner_option_id];?>" href="javascript:void(0);" >
				   <img src="<?php echo Mage::getBaseUrl().'media/amconf/images/'.$_color_id[$_inner_option_id].'.jpg'?>">
				   </a></li>
				   <?php }else{ ?>
				  <li id="product-<?php echo $_color_id[$_inner_option_id];?>" class="<?php echo $selected;?>">
                   <a id="quickview" rel="<?php echo $_color_id[$_inner_option_id];?>" href="javascript:void(0);" >
				   <img src="<?php echo Mage::getBaseUrl().'media/amconf/images/'.$_color_id[$_inner_option_id].'.jpg'?>">
				   
				   <?php //echo $_inner_option_id;?> </a></li>
			<?php 	}
			//$num++;

			 }
			 ?>
			 </ul>
			 </div>
			<div class="product-options hide">	
			
			
				<label class="required"><?php echo $attributes["label"]; ?></label>
				
					<div class="input-box">
						<select name="super_attribute[<?php echo $attributes['attribute_id'] ?>]" id="attribute<?php echo $attributes['attribute_id'] ?>" class="validate-quickview-select" style="width:200px;" onChange = "checkId(this.options[this.selectedIndex].getAttribute('proData'))";>
							<option value=""><?php echo $this->__('Select Size'); ?></option>
							<?php
                                     foreach($_color_swatch as $_inner_option_id){
                                   
										?>
									 <option value="<?php echo $_color_id[$_inner_option_id];?>" proData="<?php echo $_inner_option_id.'&'.$_proId[$_inner_option_id].'&'.$_proColor[$_inner_option_id].'&'.$_proBrand[$_inner_option_id].'&'.$_proPrice[$_inner_option_id].'&'.$_specialPrice[$_inner_option_id];?>" price="0"><?php echo $_inner_option_id;?></option>	
                                       <?php
                                    }
                                    ?>
						</select>
					</div>										
				
			</div>
		<?php
		endforeach;
		endif;
		?> 	
		
		<div class="clearfix">
                 
                     	 
					 <?php 
					 $related_colors = Mage::getModel('catalog/product')->load($_product->getId())->getRelatedColors();
				 if($related_colors!='')
				 {
					 $items = explode(",",$related_colors);
					// print_r($items);
					?>
                      <div class="list-colors clearfix">
					<span><?php //echo count($items);?> Color</span>
					<div>
					<?php
					 if($items>0)
					 {
						 foreach($items as $list)
						 {
						
							$ChildProduct=Mage::getModel('catalog/product')->loadByAttribute('sku',$list);
						 $found=Mage::helper('catalog/image')->init($ChildProduct, 'thumbnail');
						?>
						<a href="<?php echo $ChildProduct->getProductUrl() ?>"><img src="<?php echo Mage::helper('catalog/image')->init($ChildProduct, 'small_image')->resize(50,50);?>"></a>
						<?php
						 }
					 }
					 ?>
					  </div>
                       </div>
					  <?php
				 }
					
					 ?>
					
                  
					
                </div>
		<?php if($_product->isSaleable()): ?>
			<?php if(!$_product->isGrouped()): ?> 
			<div class="product_quantity">	
				<label for="qty"><?php echo $this->__('Qty') ?>:</label> 
				<input type="number" name="qty" id="qty" maxlength="12" min='1' value="<?php echo ($this->getMinimalQty($_product)?$this->getMinimalQty($_product):1) ?>" />
			</div>			
			<?php endif; ?> 
			<div class="add-to-box">
				<button class="btn btn-primary btn-quickview" type="submit" onclick="productAddToCartForm.submit(this);return false;">
					<?php echo $this->__('Add to Bag') ?>
				</button>
			</div>		
		<?php endif; ?>
		<span id='ajax_loader' style='display:none'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
	</div>
   
	</form>	
	<div id="success">The Product has been added successfully in Cart.</div>
	<div id="failure">&nbsp;</div>
</div>
</div>
 <div class="view_full"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View full product details'); ?></a></div>

 <!-- GTM Track Add to Cart from Quick View -->
<script type="text/javascript">
jQuery('#success').hide();
var productAddToCartForm = new VarienForm('product_addtocart_form');
                productAddToCartForm.submit = function(button, url) {
					var sizes = jQuery("#attribute179");
					if (sizes.val() == "") {
                //If the "Please Select" option is selected display error.
                alert("Please select size!");
                return false;
            }
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;
            
                        if (url) {
                           form.action = url;
                        }
            
                        var e = null;
            //ajax submit
             if(!url){
               url = jQuery('#product_addtocart_form').attr('action');
            }
            url = url.replace("checkout/cart","ajax/index"); // New Code
			
                        var data = jQuery('#product_addtocart_form').serialize();
                        data += '&isAjax=1';  
								
                        jQuery('#ajax_loader').show();
                        try {
                            jQuery.ajax({
                                url: url,
                                dataType: 'json',
                                type : 'post',
                                data: data,
                                success: function(data){
									jQuery('#ajax_loader').hide();
									if(data.status=='SUCCESS')
									{
									jQuery('#success').show();	
									jQuery('#failure').hide();
									if(jQuery('.block-cart') && data.sidebar){
                                        jQuery('.block-cart').replaceWith(data.sidebar);
                                    }
                                    if(jQuery('#cartQty') && data.cartQty){
                                        jQuery('#cartQty').text('(' + data.cartQty +')');
                                    }
									}
									else
									{
										jQuery('#success').hide();
									jQuery('#failure').html('<div id="error">'+data.message+'</div>');	
									jQuery('#failure').show();
									}
									
									
                           
                              }
                            });
                        } catch (e) {
                        }
            
                      //  this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }
        
                    }
                }.bind(productAddToCartForm);
            
               
            //]]>
function checkId(proDetails){
	data = proDetails.split("&");
	size = data[0];
	id = data[1];
	color = data[2];
	brand = data[3];
	price = data[4];
	specialPrice = data[5];

	//var finalSplit = specialPrice.split("₹");

	var finalSplit = specialPrice.split("Rs. ");
                   
    var finalSpecialPrice = finalSplit[1];

	if(brand == "") {
		brand = "Paragon";
	};

	if(finalSpecialPrice != '0') {
		jQuery('.quick .regular-price .price').html(specialPrice);
        jQuery('.quick .old-price .price').html(price);
        jQuery('#space').html('&nbsp;&nbsp;&nbsp;&nbsp;');
        jQuery('.quick .old-price').css('display','inline-block');
        jQuery('.quick .regular-price').css('display','inline-block');
	}else{
		jQuery('.quick .regular-price .price').html(price);
        jQuery('.quick .old-price .price').html('');
        jQuery('#space').html('');
        jQuery('.quick .old-price').css('display','none');
        jQuery('.quick .regular-price').css('display','inline-block');
	}
}

function productAddedToCart(){
	<?php $cat_id = Mage::getModel('catalog/layer')->getCurrentCategory()->getId(); ?>
	<?php $category = Mage::getModel('catalog/category')->load($cat_id); ?>

	var category = "<?php echo $category->getName(); ?>";

	dataLayer.push({
      'event': 'addToCart',
      'ecommerce': {
        'currencyCode': 'IND',
        'add': {                                // 'add' actionFieldObject measures.
          'products': [{                        //  adding a product to a shopping cart.
            'name': "<?php echo $_product->getName(); ?>",
            'id': id,
            'price': price,
            'size': size,
            'color': color,
            'brand': brand,
            'category': category,
            'quantity': jQuery('#qty').val()
           }]
        }
      }
    });

}


// Google Tag Manager for Quickview Landing page
<?php $cat_id = Mage::getModel('catalog/layer')->getCurrentCategory()->getId(); ?>
<?php $category = Mage::getModel('catalog/category')->load($cat_id); ?> 
var category = '<?php echo $category->getName(); ?>';

var landingBrand = '<?php echo $_product->getAttributeText("brand"); ?>';
if (landingBrand == "") {
	landingBrand = "Paragon";
};

dataLayer.push({
  'ecommerce': {
    'detail': {
    'actionField': {'quickView': '<?php echo $_product->getName(); ?>'},
      'products': [{
        'name': '<?php echo $_product->getName(); ?>',
        'id': '<?php echo $_product->getSku(); ?>',
        'price': '<?php echo $_product->getFinalPrice(); ?>',
        'brand': landingBrand,
        'category': category
       }]
     }
   }
});
          
		jQuery("a#quickview").on('click',function(){
		var value = jQuery(this).attr('rel');
		//alert("ddd"+value);
		jQuery("#attribute179 option[value=" + value + "]").prop("selected",true);
		jQuery("#attribute179").trigger("change");
		jQuery(this).parent().addClass('selected').siblings().removeClass('selected');
	});	
	

 </script>