<?php
$helper = Mage::helper("vsourz_catproduct");
$pg_bg_color = $helper->getPaginationBgColor();
$pg_bg_hover_color = $helper->getPaginationBgHoverColor();
$nav_bg_color = $helper->getNavigationBgColor();
$nav_bg_hover_color = $helper->getNavigationBgHoverColor();
$desktop = $helper->getDesktop();
$ipadland = $helper->getIpadland();
$ipadport = $helper->getIpadport();
$smallland = $helper->getSmallland();
$smallport = $helper->getSmallport();
$width = $helper->getWidth();
$height = $helper->getHeight();
$autoplay = ($helper->getAutoplay()==0)?"false":$helper->getAutoplay();
$navigation = $helper->getNavigation();
$pagination = $helper->getPagination();
$rating = $helper->getRating();
$cartbutton = $helper->getCartbutton();
$wishlist = $helper->getWishlist();
$compare = $helper->getCompare();
$newproduct = trim($helper->getNewProductText());
$saleproduct = trim($helper->getSaleProductText());

if (Mage::getSingleton('customer/session')->isLoggedIn()){
    $wishlist = Mage::helper('wishlist')->getWishlistItemCollection();
	foreach ($wishlist as $wishItem) {
		$itemarray[] =  $wishItem->getProductId();
	}
}else{
    $itemarray[] = "";
}
?>
<div class="category-product-slider">
<?php $_products = $this->getProducts(); ?>
<?php $_items = $this->getProductCount(); ?>
<?php if($this->getTitle()): ?>
<div class="title" style="display:none">
	<h3><?php echo $this->getTitle(); ?></h3>
</div>
<?php endif; ?>
<div class="product-slider-outer">
<div class="hide-mob">
<ul id="owl-demo" class="owl-carousel product-slider products-grid">
<?php foreach($_products as $_product):
	// Get configrable products
	 $productInner = Mage::getModel('catalog/product')->load($_product->getId());
		if($productInner->getTypeId() == "configurable"):
		$conf = Mage::getModel('catalog/product_type_configurable')->setProduct($productInner);
		$simple_collection = $conf->getUsedProductCollection()->addAttributeToSelect('*')->addFilterByRequiredOptions();

		$itemsinstock = 0;

		if($simple_collection != null)
		{
		$size_arr = array();
		foreach($simple_collection as $simple_product){

		$stock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($simple_product)->getQty();
		$stock = round($stock,2);

        $stockItem = $simple_product->getStockItem();

		if($stockItem->getIsInStock()){
		$size_arr[] = $simple_product->getAttributeText('size');
		}
		$itemsinstock+= $stock;

		}
		}
		endif;
?>
	<?php if ($_product->isSaleable()):?>
	<li class="item">
		<div class="img">
						<?php
						// checking for new products
						$newFrmDate = $_product->getNewsFromDate();
						$newToDate = $_product->getNewsToDate();
						// Checking for sale products
						$specialFrmDate = $_product->getSpecialFromDate();
						$specialToDate = $_product->getSpecialToDate();

						 $from_date = $_product->getData('news_from_date');
						 $to_date = $_product->getData('news_to_date');
						$specialPrice = $_product->getSpecialPrice();
						//if(!empty($newFrmDate) && strtotime($newFrmDate) <= strtotime('now') && ( $newToDate == '' || (!empty($newToDate) && strtotime($newToDate) >= strtotime('now')))) { ?>


						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
							<div class="main-image">
                				<img class="main-img lazyOwl" id="product-collection-image-<?php echo $_product->getId(); ?>"
                     			src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($width,$height); ?>"
                     			alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
  	               			</div>
						</a>
					</div>
        <!-- Get Related Color attribute -->
        <?php
        $related_colors = Mage::getModel('catalog/product')->load($_product->getId())->getRelatedColors();
        ?>
        <div class="clearfix">
                <div class="list-colors pull-left">

                    <?php

                    if($related_colors!='')
                    {
                        $items = explode(",",$related_colors);
                        // print_r($items);
                        ?>
                        <span><?php echo $item_count = count($items) ;?> Colour(s)</span>
                        <div class="color-img">
                        <?php
                        if($items>0){

                            foreach($items as $list)
                            {

                            $ChildProduct=Mage::getModel('catalog/product')->loadByAttribute('sku',$list);
                            //$found=Mage::helper('catalog/image')->init($ChildProduct, 'thumbnail');
                            ?>
                            <a href="<?php //echo $ChildProduct->getProductUrl() ?>">
                            <img src="<?php //echo Mage::helper('catalog/image')->init($ChildProduct, 'small_image')->resize(50,50);?>">
                            </a>
                            <?php
                            }
                        }
                        ?>
                        </div>
                        <?php
                     } ?>

                </div>
        </div>
        <!-- Get Related Color attribute Ends -->
        <div class="clearfix name-block">
                    <h2 class="product-name">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>
                         <?php
                        // Add Wishlist icon for YOU May Also Like Products .......................
                            foreach (Mage::helper('wishlist')->getWishlistItemCollection() as $_wishlist_item)
                            {
                                    $_in_wishlist = false;
                                        if($_product->getId() == $_wishlist_item->getProduct()->getId()){
                                        $_in_wishlist = true; break;
                                        }
                            }
                            if (in_array($_product->getId(), $itemarray))
                            {
                            $selected='selected';
                            }

                            if (Mage::getSingleton('customer/session')->isLoggedIn()) {
								?>
                              <?php
                                $isCustomerLogin = true;
                               if($selected == 'selected'){
                            ?>
                            <a href="javascript:socialLogin();" id="link-wishlist"  class="link-wishlist selected" rel="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><span id="<?php echo $_product->getId()?>">&nbsp;</span></a>
                            <?php } else { ?>
                            	   <a href="javascript:socialLogin();" id="link-wishlist"  class="link-wishlist" rel="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><span id="<?php echo $_product->getId()?>">&nbsp;</span></a>
                            <?php } ?>

                            <?php }
                            else
                            {
                                $isCustomerLogin = false;
                            ?>
                            <!-- <a href="#" onclick='javascript:socialLogin();' class="link-wishlist">&nbsp;</a> -->

                             <a href="javascript:socialLogin();" onclick='javascript:socialLogin();' class="link-wishlist">
		                            <img  style="display: none;" src="<?php echo  $this->getSkinUrl('images/heart-icon.png'); ?>" alt="Add to Cart"/></a>
                            <?php
                            }
                            ?>
                            <input type="hidden" id="pid" value="<?php echo $_product->getId()?>">
                            <span id='ajax_loading <?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $_product->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
                            </div>
		<?php
					// Rating
					if($rating=="true")
						echo $this->getReviewsSummaryHtml($_product, 'short',true);
					?>
					<?php echo $this->getPriceHtml($_product, true, '-new') ?>


        <!-- Size Strip on mouse hover -->
       <div class="cat-size">
                    <ul>
					  <?php
					  if($_product->getTypeId() == "configurable"):
					  echo "<li>Sizes</li>";
					  if($size_arr)
					  {
						  foreach($size_arr as $element)
						  {
							  ?>
							 	<li><?php echo $element;?></li>
							 <?php
						  }
					  }
					  endif;
					  ?>

					</ul>

               </div>


	 </li>
	<?php endif;?>
	<?php endforeach; ?>
</ul>
</div>
<div class="hide-desktop">
<ul id="owl-demo" class="owl-carousel product-slider-mob products-grid ">
<?php foreach($_products as $_product):
	// Get configrable products
	 $productInner = Mage::getModel('catalog/product')->load($_product->getId());
		if($productInner->getTypeId() == "configurable"):
		$conf = Mage::getModel('catalog/product_type_configurable')->setProduct($productInner);
		$simple_collection = $conf->getUsedProductCollection()->addAttributeToSelect('*')->addFilterByRequiredOptions();

		$itemsinstock = 0;

		if($simple_collection != null)
		{
		$size_arr = array();
		foreach($simple_collection as $simple_product){

		$stock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($simple_product)->getQty();
		$stock = round($stock,2);

        $stockItem = $simple_product->getStockItem();

		if($stockItem->getIsInStock()){
		$size_arr[] = $simple_product->getAttributeText('size');
		}
		$itemsinstock+= $stock;

		}
		}
		endif;
?>
	<?php if ($_product->isSaleable()):?>
	<li class="item">
		<div class="img">
						<?php
						// checking for new products
						$newFrmDate = $_product->getNewsFromDate();
						$newToDate = $_product->getNewsToDate();
						// Checking for sale products
						$specialFrmDate = $_product->getSpecialFromDate();
						$specialToDate = $_product->getSpecialToDate();

						 $from_date = $_product->getData('news_from_date');
						 $to_date = $_product->getData('news_to_date');
						$specialPrice = $_product->getSpecialPrice();
						//if(!empty($newFrmDate) && strtotime($newFrmDate) <= strtotime('now') && ( $newToDate == '' || (!empty($newToDate) && strtotime($newToDate) >= strtotime('now')))) { ?>


						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
							<div class="main-image">
                				<img class="main-img lazyOwl" id="product-collection-image-<?php echo $_product->getId(); ?>"
                     			src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($width,$height); ?>"
                     			alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
  	               			</div>
						</a>
					</div>
        <!-- Get Related Color attribute -->
        <?php
        $related_colors = Mage::getModel('catalog/product')->load($_product->getId())->getRelatedColors();
        ?>
        <div class="clearfix">
                <div class="list-colors pull-left">

                    <?php

                    if($related_colors!='')
                    {
                        $items = explode(",",$related_colors);
                        // print_r($items);
                        ?>
                        <span><?php echo $item_count = count($items) ;?> Colour(s)</span>
                        <div class="color-img">
                        <?php
                        if($items>0){

                            foreach($items as $list)
                            {

                            $ChildProduct=Mage::getModel('catalog/product')->loadByAttribute('sku',$list);
                          //  $found=Mage::helper('catalog/image')->init($ChildProduct, 'thumbnail');
                            ?>
                            <a href="<?php //echo $ChildProduct->getProductUrl() ?>">
                            <img src="<?php //echo Mage::helper('catalog/image')->init($ChildProduct, 'small_image')->resize(50,50);?>">
                            </a>
                            <?php
                            }
                        }
                        ?>
                        </div>
                        <?php
                     } ?>

                </div>
        </div>
        <!-- Get Related Color attribute Ends -->
        <div class="clearfix name-block">
                    <h2 class="product-name">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>
                         <?php
                        // Add Wishlist icon for YOU May Also Like Products .......................
                            foreach (Mage::helper('wishlist')->getWishlistItemCollection() as $_wishlist_item)
                            {
                                    $_in_wishlist = false;
                                        if($_product->getId() == $_wishlist_item->getProduct()->getId()){
                                        $_in_wishlist = true; break;
                                        }
                            }
                            if (in_array($_product->getId(), $itemarray))
                            {
                            $selected='selected';
                            }

                            if (Mage::getSingleton('customer/session')->isLoggedIn()) {
								?>
                              <?php
                                $isCustomerLogin = true;
                               if($selected == 'selected'){
                            ?>
                            <a href="javascript:socialLogin();" id="link-wishlist"  class="link-wishlist selected" rel="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><span id="<?php echo $_product->getId()?>">&nbsp;</span></a>
                            <?php } else { ?>
                            	   <a href="javascript:socialLogin();" id="link-wishlist"  class="link-wishlist" rel="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><span id="<?php echo $_product->getId()?>">&nbsp;</span></a>
                            <?php } ?>
                            <?php }
                            else
                            {
                                $isCustomerLogin = false;
                            ?>
                            <!-- <a href="#" onclick='javascript:socialLogin();' class="link-wishlist">&nbsp;</a> -->

                             <a href="javascript:socialLogin();" onclick='javascript:socialLogin();' class="link-wishlist">
		                            <img src="<?php echo  $this->getSkinUrl('images/heart-icon.png'); ?>" alt="Add to Cart"/></a>
                            <?php
                            }
                            ?>
                            <input type="hidden" id="pid" value="<?php echo $_product->getId()?>">
                            <span id='ajax_loading <?php echo $_product->getId()?>' style='display:none'><img src='<?php echo $_product->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>
                            </div>
		<?php
					// Rating
					if($rating=="true")
						echo $this->getReviewsSummaryHtml($_product, 'short',true);
					?>
					<?php echo $this->getPriceHtml($_product, true, '-new') ?>


        <!-- Size Strip on mouse hover -->
       <div class="cat-size">
                    <ul>
					  <?php
					  if($_product->getTypeId() == "configurable"):
					  echo "<li>Sizes</li>";
					  if($size_arr)
					  {
						  foreach($size_arr as $element)
						  {
							  ?>
							 	<li><?php echo $element;?></li>
							 <?php
						  }
					  }
					  endif;
					  ?>

					</ul>

               </div>


	 </li>
	<?php endif;?>
	<?php endforeach; ?>
</ul>
</div>
</div>

<!--style>
.category-product-slider .owl-theme .owl-controls .owl-page span
{
	background:#<?php echo $pg_bg_color;?>
}
.category-product-slider .owl-theme .owl-controls .owl-page.active span,
.category-product-slider .owl-theme .owl-controls .owl-page span:hover
{
	background:#<?php echo $pg_bg_hover_color;?>
}
.category-product-slider .owl-theme .owl-controls .owl-buttons div
{
	background:#<?php echo $nav_bg_color;?>
}
.category-product-slider .owl-theme .owl-controls .owl-buttons div:hover
{
	background:#<?php echo $nav_bg_hover_color;?>
}
</style-->
<?php //echo $autoplay;?>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery(".product-slider").owlCarousel({
		items : 4,
		autoPlay : false,
		itemsCustom : [
				[0, <?php echo $smallport;?>],
				[480, <?php echo $smallland;?>],
				[600, <?php echo $smallland;?>],
				[700, <?php echo $ipadport;?>],
				[1024, <?php echo $ipadland;?>],
				[1200, <?php echo $ipadland;?>],
				[1400, <?php echo $desktop;?>],
				[1600, <?php echo $desktop;?>]
			],
		itemsMobile : false,
		lazyLoad : true,
		navigation : <?php echo $navigation;?>,
		pagination: <?php echo $pagination;?>,
		navigationText: ["<i class='fa'> &lt; </i>","<i class='fa'> &gt; </i>"]
	});

	jQuery(".product-slider-mob").owlCarousel({
		items : 2,
		autoPlay : false,
		itemsCustom : [
				[0, <?php echo $smallport;?>],
				[480, <?php echo $smallland;?>],
				[600, <?php echo $smallland;?>],
				[700, <?php echo $ipadport;?>],
				[1024, <?php echo $ipadland;?>],
				[1200, <?php echo $ipadland;?>],
				[1400, <?php echo $desktop;?>],
				[1600, <?php echo $desktop;?>]
			],
		itemsMobile : false,
		lazyLoad : true,
		navigation : <?php echo $navigation;?>,
		pagination: <?php echo $pagination;?>,
		navigationText: ["<i class='fa'> &lt; </i>","<i class='fa'> &gt; </i>"]
	});
});
// Wish list on click code is already added to CMS page home Do not add those code here -- By Vipin
</script>

</div>
