.hs{
	width:100%;
	margin: 10px auto 30px;
}

.hs ul{
	list-style:none;
	margin:0;
	padding:0;	
}

.hs ul li{
	float:left;
	margin:0 5px 0 0;
}

.showcase {
  /* Set it so we could calculate the offsetLeft */
  position: relative;
  width: 94%;
  /* Add scroll-bars */
  overflow: auto;
  float:left;
  margin: 20px 0 0;
}

.left-arrow{
	display:block;
	    margin-right: 30px;
    margin-top: 36px;
	float:left;
}

.right-arrow{
	display:block;
	margin-left:10px;
    margin-top: 36px;
	float:left;	
}