<?php $_order = $this->getOrder();
$orderId = $_order->getIncrementId();
$order = Mage::getModel('sales/order')->loadByIncrementId($orderId);
$billingAddress = $order->getBillingAddress();
$shippingAddress = $order->getShippingAddress();
$region = $shippingAddress->getRegion();
$Urstate = Mage::helper('gstcharge')->isUniTerrState($region); ?>

<?php $_item = $this->getItem() ?>

    <?php if ($_item->getParentItem()) return; else $i++;?>

                <tr class="border">

                    <?php
                    $product=Mage::getModel('catalog/product')->load($_item->getProductId());
                    $hsnCode=$product->getHsncode();
                    $taxableAmount=$_item->getrow_total() - $_item->getdiscount_amount();
                    if(Mage::getStoreConfig('gstcharge/options/taxtype'))
                    {
                        $subTotal = $_item->getrow_total();
                        $itemTotal = $subTotal + $_item->getcgst_charge() + $_item->getsgst_charge() + $_item->getigst_charge();
                    }
                    else
                    {
                        $subTotal = $_item->getrow_total() - $_item->getcgst_charge() - $_item->getsgst_charge() - $_item->getigst_charge();
                        $taxableAmount=$subTotal - $_item->getdiscount_amount();
                        $itemTotal = $taxableAmount + $_item->getcgst_charge() + $_item->getsgst_charge() + $_item->getigst_charge();
                    }
                    ?>

                    <td class="a-center">
                        <div class="productdata" style="text-align:left">
                            <h5 class="title"> <span> <?php echo $_item->getName();?> </span></h5>
                            <div><strong><?php echo $this->__('SKU: ') ?> </strong> <?php echo $_item->getSku();?></p>
                                <?php
                                $options = $_item->getProductOptions();
                                if (array_key_exists("options",$options))
                                {
                                ?>
                                <dl class="item-options">
                                    <?php
                                    foreach($options['options'] as $opt)
                                    {
                                        ?>
                                        <dt><?php echo $this->escapeHtml($opt['label']) ?></dt>
                                        <dd><?php echo $this->escapeHtml($opt['print_value']) ?></dd>
                                        <?php
                                    }
                                    }
                                    ?>
                            </div>
                    </td>
                    <td class="a-center"><?php echo $hsnCode;?></td>
                    <td class="a-center"><?php echo round($_item->getqty_ordered(),0);?></td>
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($_item->getprice());?></td>
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($subTotal);?></td>
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($_item->getdiscount_amount());?></td>
                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($taxableAmount);?></td>

                    <td>
                        <table>
                            <tbody style="background:none;text-align:center">
                            <tr>
                                <td><?php echo round($_item->getcgst_percent(),2);?></span></td>
                                <td><?php echo Mage::helper('core')->formatPrice($_item->getcgst_charge());  ?></span></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table>
                            <tbody style="background:none;text-align:center">
                            <tr>
                                <td><?php echo round($_item->getsgst_percent(),2);?></span></td>
                                <td><?php echo Mage::helper('core')->formatPrice($_item->getsgst_charge(),3);  ?></span></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table>
                            <tbody style="background:none;text-align:center">
                            <tr>
                                <td><?php echo round($_item->getigst_percent(),2);?></span></td>
                                <td><?php echo Mage::helper('core')->formatPrice($_item->getigst_charge(), 2);  ?></span></td>
                            </tr>
                        </table>
                    </td>

                    <td class="a-center"><?php echo Mage::helper('core')->formatPrice($itemTotal);?></td>
                </tr>


