#tinybox,#tinycontent{background:#fff}#tinybox{position:fixed;top:40%!important;display:none;padding:15px;z-index:2000}#tinymask{position:absolute;display:none;top:0;left:0;height:100%;width:100%;background:#000;z-index:1500}