<?php
$couponList = $this->getCouponlist();
?>

  <?php foreach ($couponList as $coupon): ?>

    <div id="dis-coupons" class="list-coupon <?php echo $coupon['code']; ?>" onclick="copycode('<?php echo $coupon['code']; ?>')">
        <h4><?php echo $coupon['code']; ?></h4>
        <p class="bank-details"><?php echo $coupon['name']; ?></p>
        <p class="offer-detail"><?php echo $coupon['description']; ?></p>
    </div>
  <?php endforeach; ?>

<script>
function copycode(code){
  jQuery('#coupon_code').val(code);
}
jQuery('.list-coupon').on('click',function(){
  jQuery('.list-coupon').removeClass('active');
  jQuery(this).addClass('active');
});
jQuery(document).ready(function(){
    jQuery('.avail-coupons').find('.'+jQuery('#coupon_code').val()).addClass('active');
});
</script>
