
<div class="wrap"> 
 <div role="main" class="drop-shadow">  
    <h4 class="cat-title">Find a Store</h4>
 <span class="title-bor"> <img src="<?php echo $this->getSkinUrl('images/title-bor-img.jpg');?> " />  </span>
   <!-- <img src="<?php //echo $this->getSkinUrl('images/banner.jpg');?>" alt="Login Icons" /> -->
       <div class="locationsContain clearfix">
     
<?php
//$myData = json_decode( base64_decode( $_REQUEST['H'] ) );
$url = (isset($_SERVER['HTTPS']) ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
$parts = parse_url($url);
parse_str($parts['query'], $query);
$storeType = $query['type'];

$collection =  Mage::getModel('storelocator/storelocator')->getCollection()
              ->addFieldToFilter('type',$storeType)
              ->addFieldToFilter('status',1);

$stateCollection = Mage::getModel('storelocator/storelocator')->getCollection()
                  ->addFieldToSelect('state')
                  ->addFieldToFilter('type',$storeType)
                  ->addFieldToFilter('status',1);

$stateCollection->getSelect()->group('state');

$cityCollection = Mage::getModel('storelocator/storelocator')->getCollection()
                  ->addFieldToSelect('city')
                  ->addFieldToFilter('type',$storeType)
                  ->addFieldToFilter('status',1);

$cityCollection->getSelect()->group('city');
?>

<!-- Dynamic Store locator Starts -->
      <select class="state">
          <option selected="selected" value="noState">Select State*</option>
          <?php foreach ($stateCollection as $store) { ?>
          <option value="<?php echo $store->getState(); ?>"><?php echo $store->getState(); ?></option>
          <?php } ?> 
        </select>

        <select class="city">
          <option selected="selected" value="noCity">Select City*</option>
          <?php 

          foreach ($cityCollection as $store) { 
          ?>
          <option value="<?php echo $store->getCity(); ?>"><?php echo $store->getCity(); ?></option>
          <?php } ?>           
        </select>

        <select class="storesInCity">
          <option selected="selected" value="noStore">Select Location*</option>
        </select>
      </div>

      <?php foreach ($collection as $store) { 
        $id = $store->getId();
        $localty = $store->getLocality();
        $localty = preg_replace('/\s+/', '', $localty);
        $lattitute = $store->getLattitute();
        $longnitute = $store->getLongnitute();
      ?>
      <script type='text/javascript'>
              jQuery(document).ready(function(){
              var mapid = 'mapbox-'+'<?php echo $id; ?>';
              var lattitute = '<?php echo  $lattitute; ?>';
              var longnitute = '<?php echo $longnitute?>';
              jQuery('.mapContain').fadeOut();
              initMap(lattitute,longnitute,mapid);
              });
      </script>

        <article class="mapContain <?php echo $localty; ?>">
          <?php 
            if (($lattitute != "" && $lattitute != null) && ($longnitute != "" && $longnitute != null)) {
          ?>
          <div class="mapBox" id="<?php echo 'mapbox-'.$id; ?>"></div>
          <?php
            }
          ?>
          <div class="">
            <h1><?php echo $storeType;?> Details</h1>
              <address>
                <?php
                if ($store->getStoreName() != "") {
                  echo $store->getStoreName(); echo "</br>";
                }
                ?>
                <?php echo $store->getAddress();?>
                <?php echo $store->getCity();?>-<?php echo $store->getPin();?><br/>
                Ph: <?php echo $store->getPhone();?>
              </address>
              <br/>
              <br/>
              <p><span>Store Timings : <?php echo $store->getTime();?></span></p>
          </div>
        </article>
      <?php } ?>
    <!-- Dynamic Store locator ends -->
  </div>
</div>

<div id="map"></div>
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline --> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu_eE8i1W9TDwT4admdcpPnlZgw10sliU&callback=initMap"></script>
<script src="<?php echo $this->getSkinUrl('js/store-locator.js', array('_secure'=>true));?>"></script>
<!-- end scripts -->

<script type="text/javascript">

jQuery(".state").change(function() {
var state = jQuery('.state').val();
var storeType = '<?php echo $storeType; ?>';
jQuery.ajax({type: 'post', 
                url: 'locator/index/selectcity',
                data:{selectState : state, storeType : storeType},
                dataType: 'html',
                success: function(data){
                    jQuery('.city').find('option').remove().end().append('<option selected="selected" value="noCity">Select City*</option>').val('noCity');
                    jQuery.each(JSON.parse(data), function(index, value) {
                            jQuery('.city').append(jQuery("<option></option>").attr("value",value).text(value)); 
                    });
                }
            });
});

jQuery(".city").change(function() {
var city = jQuery('.city').val();
var storeType = '<?php echo $storeType; ?>';
jQuery.ajax({type: 'post', 
                url: 'locator/index/selectstore',
                data:{selectCity : city, storeType : storeType},
                dataType: 'html',
                success: function(data){
                    jQuery('.storesInCity').find('option').remove().end().append('<option selected="selected" value="noStore">Select Location*</option>').val('noStore');
                    jQuery.each(JSON.parse(data), function(index, value) {
                            jQuery('.storesInCity').append(jQuery("<option></option>").attr("value",value).text(value)); 
                    });
                }
            });
});


jQuery('.storesInCity').change(function(){

    var locality = jQuery('.storesInCity').val();
    locality = locality.replace(/\s+/g, '');
    locality = '.'+locality;
    jQuery('.mapContain').fadeOut();jQuery(locality).fadeIn();
    google.maps.event.trigger(window,'resize',{});

});
</script>