<script>
function displaySubCategory(value)
{
	var url = "<?php echo Mage::helper('adminhtml')->getUrl('couponsales/adminhtml_school/renderSubCategory');?>"; // the script where you handle the form input.
	jQuery("#loading-mask").css('display','block');
    jQuery.ajax({
           type: "GET",
           url: url,
           data: "categoryId="+value,
           success: function(data)
           {
           	  jQuery("#loading-mask").css('display','none');
              jQuery("#subcategory").html(data);
           }
    });

}
</script>

<?php
$schoolData = $this->getSchoolInformation();
$adminUserId = $schoolData->getAdminUserId();
$rootCategoryId = $schoolData->getRootCategory();
$subCategoryId = $schoolData->getSubCategory();
$subCategoryName = Mage::getModel('catalog/category')->load($subCategoryId)->getName();
$userRole = $this->getRoleUser();
$rootCategory = $this->getRootCategories();
?>
<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend">School Information</h4>
    <div class="form-buttons"></div>
</div>
<div class="fieldset " id="couponsales_form">
    <div class="hor-scroll">
            <table cellspacing="0" class="form-list">
            	<tbody>
                	<tr>
        				<td class="label"><label for="user">Manage User <span class="required">*</span></label></td>
    					<td class="value">
        					<select id="user" name="user" class="required-entry required-entry select">
        						<?php foreach ($userRole as $user) { ?>
        								<?php if($adminUserId == $user['value']){ ?>
        											<option value="<?php echo $user['value'] ?>"selected><?php echo $user['label'] ?></option>
        								<?php }else { ?>
        										<option value="<?php echo $user['value'] ?>"><?php echo $user['label'] ?></option>
        						<?php } } ?>
							</select>            
						</td>
    				</tr>
					<tr>
        				<td class="label"><label for="category">Select Type <span class="required">*</span></label></td>
    					<td class="value">
        					<select id="rootcategory" name="rootcategory" class="required-entry ajax required-entry select" onchange="displaySubCategory(this.value)">
        					<?php foreach ($rootCategory as $rootCate) { ?>
        							<?php if($rootCategoryId == $rootCate['value']){ ?>
        								<option value="<?php echo $rootCate['value'] ?>" selected><?php echo $rootCate['label'] ?></option>
        							<?php }else {?>
        								<option value="<?php echo $rootCate['value'] ?>"><?php echo $rootCate['label'] ?></option>
        					<?php } } ?>
							</select>            
						</td>
    				</tr>
    				<tr>
    					<td class="label"><label for="category">Select School/Institution <span class="required">*</span></label></td>
    					<td class="value">
    						<select id="subcategory" name="subcategory" class="required-entry required-entry select">
    						<?php if($subCategoryId) { ?>
    								<option value="<?php echo $subCategoryId ?>"><?php echo $subCategoryName ?></option>
    						<?php } ?>
    					</td>
    				</tr>
            	</tbody>
        	</table>
   	</div>
</div>

