.amconf-image
{

}

.swatch-title{
	font-weight: 600;
	position: absolute;
	padding-left: 3px;
}

.amconf-image-selected
{
    padding: 0px;
	background:#fdb95c;
}

.amconf-image-outofstock
{
    padding: 0px;
    border: 3px solid #303030;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.amconf-images-container
{
    width: 80%;
    clear: both;
}

.amconf-image-container
{
    float:left;
    position:relative;
    text-align: center;
	margin: 0 5px 5px 0;
	    cursor: pointer;
}

.amconf-image-title
{
    margin-bottom:5px;
	 display: none;
}