<div class="clearfix bottom-sinup">
    <div class="signup-new">
     <h4>New To</h4><h4>Paragon<span>?</span></h4>
    </div>
<div class="signup-right-bar">
    <h4 class="sign-offer">Sign up & get 10% off on your first purchase,<br/>
      on order above <?php echo Mage::helper('core')->currency('500', true, false);?>
        <span>*New user only</span>
    </h4>
    <form id="subscribe" name="subscribe" enctype="application/x-www-form-urlencoded">
        <div class="input-box">
            <input type="text" placeholder="*Enter Email address" id="emailid" name="email" value="" title="Email address" class="input-text required-entry validate-email">
        </div>
        <div id='recaptcha' class="g-recaptcha"
          data-sitekey="<?php echo Mage::getStoreConfig('coupon/coupon_group/site_key',Mage::app()->getStore());?>"
          data-callback="onSubmit"
          data-size="invisible"></div>
        <div class="buttons-set">
            <input type="submit" title="Submit" class="btn btn-white" name="submit" id="submit" value="Get Code" />
            <a href="tandc" data-toggle="modal" data-target="#tandc">By clicking you accept the T&C's</a>
        </div>
    </form>
</div>
<div class="sign-tanx-bar">
<h5>Thank you , Your subscription has been confirmed and <br> the coupon code has been sent to your email.</h5>
</div>
    <span id="subscribe-bar" class="subs-close"> &#10005;</span>
    <div class="subscribe-msg"></div>
    <div><div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    </div>
       <div class="modal subs-modal fade" id="tandc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="" >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Terms & Conditions </h4>
                                </div>

                                <div class="modal-body">
                                    <ul>
                                        <li>The sign up offer of 10% discount is applicable only on your first order with <b>www.paragonfootwear.com</b></li>
                                        <li>You will be subscribed to our newsletter and other promotional updates.</li>
                                        <li>The offer code is valid for 15 days from registration.</li>
                                        <li>The Minimum order value is Rs.500 to avail this offer.</li>
                                        <li>The offer cannot be clubbed with other offers.</li>
                                        <li>The offer will not be applicable on discounted products.</li>
                                        <li>The offer discount will be applied only on item value.</li>
                                        <li>Standard shipping charges will apply as per policy.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
        <script>
            jQuery(window).on('load',function(){
              if(localStorage.getItem("subscribeclose") == "bar_close"){
                jQuery('.bottom-sinup').hide();
                }
            else{
                jQuery(".bottom-sinup").css("display","block");
                 }
                jQuery('.subs-close').click(function(){
                    localStorage.setItem("subscribeclose", "bar_close");
                    jQuery('.bottom-sinup').hide();
                    })
            });
        </script>
        <script type="text/javascript">
                //<![CDATA[
                var formId = 'subscribe';
                var myForm = new VarienForm(formId, true);
                var postUrl = '<?php echo Mage::getBaseUrl().'subscribe/index/index';?>';
                function doAjax() {
                    if (myForm.validator.validate()) {
                    new Ajax.Updater(
                    { success:'formSuccess' }, postUrl, {
                    method:'post',
                    asynchronous:true,
                    evalScripts:false,
                    onComplete:function(request, json) {
                var responseText =  JSON.parse(request.responseText);
                    jQuery('.lds-spinner').hide();
                if (responseText.status == true) {
                    if(responseText.isnew == true){
                      jQuery(".signup-right-bar").css("display","none");
                      jQuery(".sign-tanx-bar").css("display","inline-block");
                    }else {
                      jQuery(".signup-right-bar").css("display","none");
                      jQuery(".sign-tanx-bar").css("display","inline-block");
                       jQuery('.sign-tanx-bar').html(responseText.message);
                    }
                } else {
                  jQuery(".signup-right-bar").css("display","none");
                  jQuery(".sign-tanx-bar").css("display","inline-block");
                   jQuery('.sign-tanx-bar').html(responseText.message);
                }
                    grecaptcha.reset();
                },
                    onLoading:function(request, json){
                    jQuery('.lds-spinner').show()
                },
                    parameters: $(formId).serialize(true),
                }
                );
                }
                }


                function onSubmit(token) {
                doAjax();
                }

                function validate(event) {
                event.preventDefault();
                if (myForm.validator.validate()) {
                grecaptcha.execute();
                }
                }

                function onload() {
                var element = document.getElementById('submit');
                element.onclick = validate;
                }
                //]]>
        </script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script>onload();</script>
