<link href="<?php echo $this->getSkinUrl('datepicker/datepicker.min.css');?>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo $this->getSkinUrl('datepicker/datepicker.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('datepicker/datepicker.en.js');?>"></script>
<div class="clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad">
    <div id="reg_complete" style="display:none;">
      <h2> Thank you for Contact With Us. we will get back to you shortly.</h2>
    </div>
    <div id="formLowestSuccess" style="display:none;"></div>
    <form  id="contact_us" name="contact_us" class="partner-form-validate" method="POST" action="<?php echo Mage::getBaseUrl().'carrers/index/saveCarrier'?>" enctype="multipart/form-data">
      <ul class="form-list clearfix">
        <li>
          <label for="name"  name="name" class="required">Name<em>*</em></label>
          <div class="input-box">
            <input type="text" name="name" value="" id="name" class="input-text required-entry" title="Name" maxlength="50" tabindex="1">
          </div>
          <label for="email" class="required ver-mspace">Email<em>*</em></label>
          <div class="input-box">
            <input type="text" name="email" value="" id="email" class="input-text required-entry" title="email" maxlength="50" tabindex="2">
          </div>
        </li>
        <li class="message">
          <label id="label_color" class="required">Covering Letter<em>*</em> </label>
          <div class="input-box">
            <textarea name="covering_letter" id="covering_letter" class="align required-entry" tabindex="3"></textarea>
          </div>
        </li>
        <!--<li class="no-mar no-pad">&nbsp;</li> -->
        <li class="contact-no">
          <label for="contact_number" class="required">Mobile<em>*</em></label>
          <div class="input-box">
            <input type="text" name="contact_number" value="" id="contact_number" class="input-text required-entry" title="contact_number" minlength="10" maxlength="10" tabindex="4">
          </div>
        </li>
        <li class="attach-resume">
          <label for="website" class="required">Attach Resume<em>*</em></label>
          <div class="input-box">
            <input type="file" name="filename" value="" id="filename" class="input-text required-entry" title="file" maxlength="10" tabindex="5">
            <div class="alert alert-info sspace ver-mspace">Please remove all spaces for the upload File Name. File name format to be followed: JohnDoe_Resume</div>
          </div>
        </li>
		<li class="fields datetimepicker">
			<label for="dob" class="required"><?php echo Mage::helper('contacts')->__('Date of Birth (YYYY-MM-DD)') ?><em>*</em></label>
			<div class="input-box">
				<input name="dob" type='text' class='datepicker-here input-text required-entry' placeholder="mm/dd/yyy" tabindex="6" data-language='en' />
			</div>
		</li>
        <li>
          <label for="name"  class="required">Years of Experience<em>*</em></label>
          <div class="input-box">
            <select name="yr_exp" id="subject" class="input-select validate-select required-entry" tabindex="7">
              <option value="">select</option>
              <?php 
				for($i=1; $i<=30; $i++)
				{
					if($i == 1){
				echo "<option value=".$i.">".$i." Year</option>";
					}else{
				echo "<option value=".$i.">".$i." Years</option>";		
					}
				}
				?>
            </select>
          </div>
        </li>
        <li>
          <label for="name"  name="name" class="required">Marital Status</label>
          <div class="input-box">
          <label class="radio-inline">
            <input type="radio" name="marital_status" value="single" selected tabindex="8">Single</label>
          <label class="radio-inline">
            <input type="radio" name="marital_status" id="inlineRadio2" value="married" tabindex="9" >Married </label>
          </div>
        </li>
        <li>
          <label for="name"  name="name" class="required">Area of Experience<em>*</em></label>
          <div class="input-box">
            <select name="area_of_experience"  id="caption" class="input-select validate-select required-entry" tabindex="10">
              <option value="">select</option>
              <option value="Production">Production</option>
              <option value="Human_Resourse">Human Resourse</option>
              <option value="Marketing">Marketing </option>
              <option value="Sales">Sales</option>
              <option value="Footwear_Sales">Footwear Sales</option>
              <option value="Finance">Finance</option>
              <option value="Accounting">Accounting</option>
              <option value="Footwear_Designing">Footwear Designing</option>
              <option value="Fresher">Fresher</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </li>
        <li>
            <label for="contact_number" class="required">Qualification<em>*</em></label>
            <div class="input-box">
              <input type="text" name="qualification" value="" id="qualification" class="input-text required-entry" tabindex="11">
            </div>
        </li>
        <li>
            <label for="contact_number" class="required">Current Salary<em>*</em></label>
            <div class="input-box">
              <input type="text" name="current_salary" value="" id="current_salary" class="input-text required-entry" tabindex="12">
            </div>
        </li>
        <li>
            <label for="contact_number" class="required">Languages Known<em>*</em></label>
            <div class="input-box">
              <input type="text" name="languages" value="" id="languages" class="input-text required-entry" tabindex="13">
            </div>
        </li>
        <li>
            <label for="contact_number" class="required">Expected Salary<em>*</em></label>
            <div class="input-box">
              <input type="text" name="expected_salary" value="" id="expected_salary" class="input-text required-entry" tabindex="14">
            </div>
        </li>
       <li>
        <label for="name"  name="name" class="required">Country <em>*</em></label>
        <div class="input-box">
     <!--    <select name="country"  id="state" class="input-select validate-select" tabindex="5">
        <option value="">Please select a Country</option>
         <option value="India" selected>India</option> 
        </select> -->
        <?php $_countries = Mage::getResourceModel('directory/country_collection')
                  ->loadData()
                  ->toOptionArray(false) ?>
<?php if (count($_countries) > 0): ?>
  <select name="country" id="country" onchange="getstate(this.value);" class="input-select validate-select" tabindex="15">
    <option value="">-- Please Select --</option>
    <?php foreach($_countries as $_country): ?>
      <option value="<?php echo $_country['value'] ?>">
        <?php echo $_country['label'] ?>
      </option>
    <?php endforeach; ?>
  </select>
<?php endif; ?>
        </div>
      </li>


<li>
<label for="state" class="required">State <em>*</em></label>
 <div class="input-box" id='statediv-new'>
<input name="state" id="state" title="State" value="" class="input-text required-entry" type="text" tabindex="16" />
 </div>
</li>

<li>
    <label for="city" class="required">City<em>*</em></label>
    <div class="input-box">
      <input type="text" name="city" value="" id="city" placeholder="Please enter your city" class="input-text required-entry" title="city" maxlength="50" tabindex="17">
    </div> 
    </li>
        <li>
        <div class="clearfix">
        
        <div class="g-recaptcha" data-sitekey="<?php echo $siteKey; ?>"></div>
      </div>
      <script type="text/javascript"
                    src="https://www.google.com/recaptcha/api.js?hl=<?php echo $lang; ?>">
            </script> 
      <?php echo $this->getChildHtml('form.additional.info'); ?>
      <div class="clearfix"><?php echo $this->getChildHtml('captcha') ?></div>
        </li>
      </ul>
      
      <div class="submit_contact">
        <input type="submit" id="submit_contact" value="Submit" class="btn btn-primary" tabindex="18">
      </div>
      <span id="formLoader" style="display:none"><img src="<?php echo $this->getSkinUrl("images/opc-ajax-loader.gif")?>"></span>
    </form>
  </div>
</div>
<script type="text/javascript">
    //var dataForm = new VarienForm('lowest-form-validate', true);
    //<![CDATA[
    var formId = 'contact_us';
    var myForm = new VarienForm(formId, true);
    //var postUrl = '<?php echo Mage::getBaseUrl()."modulename/controller/method" ?>';
    var postUrl = "<?php echo Mage::getBaseUrl().'career/index/save'?>";
    function doAjax() {
        if (myForm.validator.validate()) {
            new Ajax.Updater(
                { success:'formLowestSuccess' }, postUrl, {
                    method:'post',
                    asynchronous:true,
                    evalScripts:false,
                    onComplete:function(request, json) {
                        // Hiding form and showing success message    
                            jQuery('#contact_us').css('display','none');
                            jQuery('.fill').css('display','none');
                            jQuery('#do_reg').css('display','none');
                            //jQuery('#reg_complete').css('display','block');
                        //Element.hide(formId);
                        Element.show('formLowestSuccess');
						 Element.hide('formLoader');
						 $('#contact_us').reset();
                    },
                    onLoading:function(request, json){
                        Element.show('formLoader');
                    },
                    parameters: $(formId).serialize(true),
                }
            );
        }
    }
    new Event.observe(formId, 'submit', function(e){
		
		 var formId = 'contact_us';
    var myForm = new VarienForm(formId, true);
	 if (myForm.validator.validate()) {
		 myForm.submit();
		 return false;
	 }
        e.stop();
        doAjax();
    });
 
//end of javascript code
</script> 
<!--script type="text/javascript">
//<![CDATA[
Calendar.setup({
                inputField: "_dob",
                ifFormat: "%m/%e/%Y",
                showsTime: false,
                button: "_dob_trig",
                align: "B1",
                singleClick: true
                });
//]]>
</script-->
<script type="text/javascript">
jQuery(document).ready(function() {
	
	jQuery("select#chief_complaints").on('change',function(){
		var value = jQuery(this).val();
		//alert(value);
		if(value=='pain')
		{
			jQuery("#pain_specify").show();
			 jQuery("#respiratory_specify").hide();
			 jQuery("#others_specify").hide();
		}
		else if(value=='Respiratory')
		{
			jQuery("#pain_specify").hide();
			 jQuery("#respiratory_specify").show();
			 jQuery("#others_specify").hide();
		}
		else if(value=='others')
		{
			jQuery("#pain_specify").hide();
			 jQuery("#respiratory_specify").hide();
			 jQuery("#others_specify").show();
		}
		else
		{
			jQuery("#others_specify").hide();
			jQuery("#pain_specify").hide();
			 jQuery("#respiratory_specify").hide();
		}
		
});

jQuery("select#habits").on('change',function(){
	var value2 = jQuery(this).val();
	//alert(value2);
		if(value2=='Others')
		{
			jQuery("#habits_specify").show();
		}
		else
		{
			jQuery("#habits_specify").hide();
		}
});

	jQuery("#others_specify").hide();
jQuery("#habits_specify").hide();
	 jQuery("#pain_specify").hide();
	 jQuery("#respiratory_specify").hide();
    jQuery("#contact_number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if (jQuery.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

   

    jQuery("#name").on("keydown", function(event){
          // Allow controls such as backspace
          var arr = [8,16,17,20,35,36,37,38,39,40,45,46];

          // Allow letters
          for(var i = 65; i <= 90; i++){
            arr.push(i);
          }

          // Prevent default if not in array
          /*if(jQuery.inArray(event.which, arr) === -1){
            event.preventDefault();
          }*/
    });

   

});
</script> 
<script type="text/javascript">
function getstate(countryValue) {
    var reloadurl = '<?php echo $this->getUrl('contactmaster/index/state'); ?>' + 'country/' + countryValue;
    jQuery.ajax({
        url: reloadurl, //Relative or absolute path to response.php file
        method: 'get',
        success: function (data) {
            jQuery('#statediv').html(data);
            jQuery('#statediv-new').html(data);
        }
    });
}
</script>