<div class="box simple_contact">
 
<form id="simple_contact_form" name="simple_contact_form" action="<?php echo $this->getUrl('enquiry/') ?>index/sendemail" method="post">
 
    <fieldset class="group-select">
        <h4 class="legend">Enquery details</h4>
        <ul>
        <li>
                <div class="input-box">
                    <label for="name">Your name <span class="required">*</span></label><br />
 
                    <input name="name" id="name" title="Name" value="" class="required-entry input-text" type="text" />
                </div>
 
                <div class="input-box">
                    <label for="email">And your email <span class="required">*</span></label><br />
                    <input name="email" id="useremail" title="Email" value="" class="required-entry input-text validate-email" type="text" />
                </div>
                <div class="input-box">
                    <label for="mobile">And your mobile <span class="required">*</span></label><br />
                    <input name="mobile" id="telephone" title="mobile" value="" class="required-entry input-text validate-phoneLax" type="text" />
                </div>
 
                <div class="clear"></div>
 
                <div class="input-box">
           &nbsp;        <label for="comment">Your message</label><br />
 
                    <textarea name="comment" id="comment" title="Comment" class="required-entry input-text" style="height:100px;" cols="50" rows="3"></textarea>
                </div>
                </li>
                </ul>
    </fieldset>
    <div class="button-set">
        <p class="required">* Required Fields</p>
        <button class="form-button" type="submit"><span>Submit</span></button>
 
    </div>
</form>
 
</div>
<script type="text/javascript">
    //< ![CDATA[
        var customForm = new VarienForm('simple_contact_form');
    //]]>
</script>