<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Rma
 * @version    1.6.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="main_tpl">
    <?php echo $this->getMainFieldset(); ?>
</div>

<div class="hidden" style="display: none;">
    <div id="main_tpl">
        <?php
        echo $this->getFieldset();
        ?>
    </div>
</div>

<div id="store_templates">
    <?php foreach ($this->getStoresTemplates() as $tpl): ?>
        <div>  <?php echo $this->getFieldset($tpl); ?>      </div>
    <?php endforeach; ?>
</div>

<div class="right"><button style="" onclick="" class="scalable add" type="button" id="new_template_button"><span><?php echo $this->__("Add Store Template"); ?></span></button></div>
<script>

    function awrmaSaveAndContinueEdit() {
        if($('edit_form').action.indexOf('continue/1/')<0)
            $('edit_form').action += 'continue/1/';

        awrma_save();
    }

    function awrma_save(){

        $$('.hidden #main_tpl .req').each(
        function (item){
            item.removeClassName('validation-passed');
            item.removeClassName('required-entry');
        }
    );
        editForm.submit();
        $$('.hidden #main_tpl .req').each( function(item){ item.addClassName('required-entry'); });
    }

    function getRandomInt(min, max)   { return Math.floor(Math.random() * (max - min + 1)) + min;         }



    document.observe("dom:loaded", function() {
        $("new_template_button").observe("click", function(event) {
            event.stop();
            $$('.hidden #main_tpl .req').each(function(item){item.setAttribute('id', item.getAttribute('id')+getRandomInt(0,100));});
            $("store_templates").insert($('main_tpl').cloneNode(true));
            $$('.hidden #main_tpl .req').each(function(item){item.setAttribute('id', item.getAttribute('id')+getRandomInt(0,100));});
        });
    });

    function ddel(s){
        s.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.remove();
    }
</script>