<?php

$searchtap = Mage::getModel('gs_searchtap/searchtap');
$searchtapId = 1;
$searchtap->load($searchtapId);
$searchKey = $searchtap->getData('searchkey');
$collectionName = $searchtap->getData('collectionname');

$session = Mage::getSingleton("core/session");
$session->setData("search_key", $searchKey);

//$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
//$currentCurrencyRate = Mage::app()->getStore()->getCurrentCurrencyRate();
//$currentCurrencySymbol = Mage::app()->getLocale()->currency($currentCurrencyCode)->getSymbol();

?>

<script type="text/javascript" src="https://cdn.searchtap.io/lib/searchtap.min.js"></script>
<script type="text/javascript">//<![CDATA[

    var st_collection_name = '<?php echo $collectionName;?>';
    var st_search_key = '<?php echo $searchKey;?>';

    //    var st_currency_rate = <?php //echo $currentCurrencyRate;?>//;
    //    var st_currency_symbol = '<?php //echo $currentCurrencySymbol;?>//';

    //]]>
</script>