#modal {
	left: 18%;
    margin: 0 auto;
    opacity: 0;
    position: fixed;
    top: 10% !important;
    visibility: hidden;
    z-index: 10000;
	display:block!important;
}
#modal .modal-content {
	background: #fff;
    position: fixed;
    z-index: 10000;
    padding: 20px;
    border-radius: 0;
    width: 900px;
    border: 10px solid #ddd;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.product-popup-left{
	    margin-left: 0;
    margin-right: 0;
    width: 54%;
    float: left;
	}
.product-popup-left img{ width:100%;}	
.product-popup-right{
	width: 44%;
    margin-left: 10px;
    padding: 0 0 0 30px;
    margin-right: 0;
    float: left;
    border-left: 1px solid #ddd;
}
.product-popup-right .product-name{
	text-transform:uppercase;
}
#modal .overlay {
	background-color: #000;
	background: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#modal  .btn_close{ float:right;}
.img .quick_view_btn{
	background: rgba(180,47,13,.5);
    color: #fff;
    font-size: 12px;
	text-transform:uppercase;
     margin-top:0;
    padding: 10px 35px;
    position: absolute;
    text-decoration: none;
    left: 30%;
    top: 35%;
	display:none;
}
.products-grid li:hover .img .quick_view_btn{
	display:block;
}